#dialog {
  position: fixed;
  left: 50%;
  top: 150px;
  max-width: 275px;
  min-width: 250px;
  border: 1px solid #eee;
  background: white;
  z-index: 1000;
}

#dialog .content {
  padding: 15px 20px;
}

#dialog h1 {
  margin: 0 0 5px 0;
  font-size: 16px;
  font-weight: normal;
}

#dialog p {
  margin: 0;
  padding: 0;
  font-size: .9em;
}

#dialog.modal {
  box-shadow: 0 1px 8px 0 black;
}

/* close */

#dialog .close {
  position: absolute;
  top: 3px;
  right: 10px;
  text-decoration: none;
  color: #888;
  font-size: 16px;
  font-weight: bold;
  display: none;
}

#dialog.closable .close {
  display: block;
}

#dialog .close:hover {
  color: black;
}

#dialog .close:active {
  margin-top: 1px;
}

/* slide */

#dialog.slide {
  -webkit-transition: opacity 300ms, top 300ms;
  -moz-transition: opacity 300ms, top 300ms;
}

#dialog.slide.hide {
  opacity: 0;
  top: -500px;
}

/* fade */

#dialog.fade {
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
}

#dialog.fade.hide {
  opacity: 0;
}

/* scale */

#dialog.scale {
  -webkit-transition: -webkit-transform 300ms;
  -moz-transition: -moz-transform 300ms;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
}

#dialog.scale.hide {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
}#overlay {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.75);
  transition: opacity 300ms;
  z-index: 500;
}

#overlay.hide {
  pointer-events: none;
  opacity: 0;
}.confirmation .actions {
  border-top: 1px solid #eee;
  padding: 5px;
  text-align: right;
  background: #fafafa;
  box-shadow: inset 0 1px 0 white;
}.color-picker canvas {
  border: 1px solid #888;
}
.color-picker canvas:active {
  cursor: none;
}

#notifications {
  position: fixed;
  top: 12px;
  left: 12px;
}

#notifications li {
  margin-bottom: 5px;
  list-style: none;
}

.notification {
  position: relative;
  max-width: 150px;
  min-width: 150px;
  border: 1px solid #808080;
  background: rgba(0,0,0,0.1);
  z-index: 100;
}

.error p {
  color: rgb(170,0,0) !important;
  /*background: rgba(255,0,0,0.1);*/
}

.notification .content {
  padding: 15px 30px 15px 20px;
}

.notification h1 {
  margin: 0 0 5px 0;
  font-size: 16px;
  font-weight: normal;
}

.notification p {
  margin: 0;
  padding: 0;
  font-size: 10px;
  line-height: 14px;
  color: #404040;
}

.notification .close {
  position: absolute;
  top: 5px;
  right: 10px;
  text-decoration: none;
  color: #888;
  display: none;
  background: none;
  font-family: 'Helvetica Neue', Helvetica, arial, sans-serif;
}

.notification.closable .close {
  display: block;
}

.notification .close:hover {
  color: black;
}

.notification .close:active {
  margin-top: 1px;
}

/* close */

.notification .close {
  position: absolute;
  top: 3px;
  right: 8px;
  text-decoration: none;
  color: #888;
  font-size: 14px;
  font-weight: bold;
  display: none;
}

/* slide */

.notification.slide {
  -webkit-transition: opacity 300ms, top 300ms;
  -moz-transition: opacity 300ms, top 300ms;
}

.notification.slide.hide {
  opacity: 0;
  top: -500px;
}

/* fade */

.notification.fade {
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
}

.notification.fade.hide {
  opacity: 0;
}

/* scale */

.notification.scale {
  -webkit-transition: -webkit-transform 300ms;
  -moz-transition: -moz-transform 300ms;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
}

.notification.scale.hide {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
}.split-button {
  display: inline-block;
  border: 1px solid #eee;
}

.split-button a {
  display: inline-block;
  float: left;
  height: 20px;
  line-height: 20px;
  padding: 5px 10px;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.split-button .toggle {
  border-left: 1px solid #eee;
}

.split-button .toggle span {
  display: block;
  margin-top: 8px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #888;
}.menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  margin: 0;
  padding: 0;
  background: white;
  border: 1px solid rgba(0,0,0,0.2);
}

.menu li {
  list-style: none;
}

.menu li a {
  display: block;
  padding: 5px 30px 5px 12px;
  text-decoration: none;
  border-top: 1px solid #eee;
  color: #2e2e2e;
}

.menu li:first-child a {
  border-top: none;
}

.menu li a:hover {
  background: #f1faff;
}

/* from: http://desandro.github.com/3dtransforms */

.card {
  width: 200px;
  height: 260px;
  position: relative;
  perspective: 800;
}

.card .wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  -moz-transition: -moz-transform 500ms ease-in-out;
  border: 1px solid #eee;
  border-bottom-color: #cacaca;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 -1px 0 0 white, 0 1px 4px 0 #ddd;
  -moz-box-shadow: inset 0 -1px 0 0 white, 0 1px 4px 0 #ddd;
}

.card .face {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.card .back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.card.flipped .wrapper {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

/* sideflip effect */

.card.sideflip .wrapper {
  -webkit-transform-origin: right center;
  -moz-transform-origin: right center;
}

.card.sideflip.flipped .wrapper {
  -webkit-transform: translateX(-100%) rotateY(180deg);
  -moz-transform: translateX(-100%) rotateY(180deg);
}







#card {
  text-align: center;
  height: 190px;
}
#card .wrapper {
  padding-top: 10px;
  width: 220px;
  height: 190px;
}
#card .wrapper .front {
  line-height: 150px;
}
#dialog {
  border-bottom-color: #cacaca;
  border-radius: 3px;
  box-shadow: 0 1px 4px 0 #ddd;
}
#dialog .card p {
  text-align: center;
  line-height: 100px;
  font-weight: bold;
  font-size: 22px;
}
#dialog .actions button {
  padding: 5px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
#dialog .actions button:hover {
  text-decoration: underline;
}
#dialog .actions button.main {
  padding: 5px 15px;
  background: -webkit-linear-gradient(top, #fff 20%, #eee);
  background: -moz-linear-gradient(top, #fff 20%, #eee);
  border: 1px solid #eee;
  border-bottom-color: #cacaca;
  border-radius: 3px;
  outline: none;
}
#dialog .actions button.main:hover {
  text-decoration: none;
  background: -webkit-linear-gradient(top, #fff 50%, #eee);
  background: -moz-linear-gradient(top, #fff 50%, #eee);
}
#dialog .actions button.main:active {
  background: -webkit-linear-gradient(bottom, #fff 20%, #eee);
  background: -moz-linear-gradient(bottom, #fff 20%, #eee);
}
.menu {
  font-size: 12px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(0,0,0,0.1), 0 2px 6px 0 rgba(0,0,0,0.2);
  -moz-box-shadow: 0 10px 30px 0 rgba(0,0,0,0.1), 0 2px 6px 0 rgba(0,0,0,0.2);
}
.menu li:first-child a {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
}
.menu li:last-child a {
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
}
.notification {
  border-bottom-color: #808080;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-box-shadow: 0 1px 4px 0 #ddd;
  -moz-box-shadow: 0 1px 4px 0 #ddd;
}
.split-button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  margin: 5px;
  font-size: 12px;
}
.split-button a {
  background: -webkit-linear-gradient(top, #fff 20%, #eee);
  background: -moz-linear-gradient(top, #fff 20%, #eee);
}
.split-button a:hover {
  background: -webkit-linear-gradient(top, #fff 40%, #efefef);
  background: -moz-linear-gradient(top, #fff 40%, #efefef);
  text-decoration: none;
}
.split-button a:active {
  background: -webkit-linear-gradient(bottom, #fff 40%, #efefef);
  background: -moz-linear-gradient(bottom, #fff 40%, #efefef);
  text-decoration: none;
}
.split-button a {
  box-shadow: inset 1px 0 rgba(255,255,255,.75), 0 1px #ddd;
}
