extends layout

block content
  #container.container
    .page-spin
    include header
    include map
    .folder
      .tabs
        .folder-title
      .content
        .main(role="main")
          .error
            .http-error
              | (404) Whatever you are looking for is not here!
            .http-notice
              | The link you followed may be broken, or the page may have been removed. Feel free to <a href="mailto:support@island.io">contact us</a>.
    include panel
    include footer
