doctype 5
html(lang="en")
  head
    title Island | 404
    meta(name="description", content="The Island")
    meta(name="keywords", content="Climb, Climbing, Rock Climbing, Bouldering, Island, Training, Logging")
    meta(name="author", content="The Island")
    meta(charset="UTF-8")
    <!--[if lt IE 9]><script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    link(rel="stylesheet", href="#{root}/css/style.css")
    link(rel="shortcut icon", href="#{root}/img/favicon.ico", type="image/x-icon")
  body
    .error
      .http-error
        | Error 404: Whatever you are looking for is not here!
      .http-notice
        | The link you followed may be broken, or the page may have been removed. Feel free to contact us.
    .error-help
      a(href="mailto:support@island.io") Contact Support
    script(type="text/javascript")
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23247079-1']);
      _gaq.push(['_setDomainName', 'island.io']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
