extends layout

block content
  #container.container
    .page-spin
    include header
    include map
    .folder
      .tabs
        .folder-title
      .content
        .main(role="main")
          .error
            .http-error
              | (500) Looks like something went wrong!
            .http-notice
              | :( Looks like something went wrong. We track these errors automatically, but if the problem persists feel free to <a href="mailto:support@island.io">contact us</a>. In the meantime, try refreshing.
    include panel
    include footer
