extends index

block main
  div.single-left
    form#media-form(action='/transloadit', enctype='multipart/form-data', method='POST')
      input(type='hidden', name='params', value=JSON.stringify(transloaditParams))
      span.slash
        | /
      h1.title-left Create Island Post
      h1.title-sub image / video / audio
      table
        tbody
          tr
            td(colspan='2')
              label(for='post[title]') Title
          tr
            td(colspan='2')
              input(name='post[title]', type='text')
          tr
            td(colspan='2', style='padding-top:10px;')
              input(type='file', name='my_file', multiple='true', style='font-size:11px;')
          tr
            td(colspan='2', style='padding-top:10px;')
              label(for='post[body]') Description
          tr
            td(colspan='2')
              textarea.matte(name='post[body]')
          //- tr
          //-   td(colspan='2')
          //-     div(id='add_map')
          tr
            - if (member.facebookId)
              td(style="width:137px")
                input(id='toFacebook', name='post[toFacebook]', type='checkbox', style='margin-top: 12px;')
                label(for='toFacebook', style='vertical-align:-1px; padding-left:5px;') Post to Facebook
            - if (member.twitterId)
              td
                input(id='toTwitter', name='post[toTwitter]', type='checkbox', style='margin-top: 12px;')
                label(for='toTwitter', style='vertical-align:-1px; padding-left:5px;') Tweet post
          tr
            td(colspan='2', style="padding-bottom: 0px;")
              input#add-media.is-button(type='submit', value='Submit New Post')
              div.button-mask-wrap
                div#add-media-mask
  div.recent-comments-wrap
    h1.title-right / How does this work?
    p.media-instructions(style="margin-top:32px;") Use this form to upload your images, videos, and sounds.
    br
    p.media-instructions An Island Post is at least one image, video, or audio file. Text-only posts will be added in the near future along with status updates.
    br
    p.media-instructions You can choose multiple files of various types at once. A single post will be created containing your uploaded files. Use this behavior to create photo albums or media collections. Do you have a song that goes nicely with that photo(s)? Upload them together. 
  div.clear
  h1.title-bottom / Results
  #grid
    p(style="margin-top:-20px;") Waiting on you ...
