div.comment.matte
  div.comment-title
    span.comment-title-name
      =comment.member.displayName
    - if (comment.media)
      a.comment-title-parent(href=comment.media.key)
        =comment.media.title
  div.comment-body
    p.comment-txt
      =comment.body
    h3.comment-added
      =comment.created