div.comment.matte
  div.comment-title
    =comment.member.name.first + ' ' + comment.member.name.last
  div.comment-body
    p.comment-txt
      =comment.body
    h3.comment-added
      =comment.added