doctype 5
html(lang="en")
  head
    title Island
    meta(name="description", content="We are Island.")
    meta(name="keywords", content="Climb, Climbing, Rock Climbing")
    meta(name="author", content="Island LLC")
    meta(charset="UTF-8")
  body
    div(id="#{media.video.id}", style="width:100%;height:100%;")
    script(type="text/javascript", src="https://jwpsrv.com/library/1lrC0MMbEeKOnyIACqoQEQ.js")
    script(type="text/javascript")

    
    script(type="text/javascript")
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23247079-1']);
      _gaq.push(['_setDomainName', 'island.io']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
