extends layout

block content
  header#header-left.explore
    a(href='/')
      #logo
        img.centered(src='https://d271mvlc6gc7bl.cloudfront.net/main/gfx/is-logo.png', alt='is-logo_img', width='300')
  div#explore
  script(type="infowindow/html", id="infowindow_template")
    div.cartodb-popup
      a.cartodb-popup-close-button.close(href="#close")x
        div.cartodb-popup-content-wrapper
          div.cartodb-popup-content  
            h4 {{content.data.name}}
            {{#content.data.bcnt}}
            h2 {{content.data.bcnt}} Boulders
            {{/content.data.bcnt}}
            {{#content.data.rcnt}}
            h2 {{content.data.rcnt}} Routes
            {{/content.data.rcnt}}
        div.cartodb-popup-tip-container