extends layout

block content
  header#header-left.explore
    a(href='/')
      #logo
        img.centered(src='https://d271mvlc6gc7bl.cloudfront.net/main/gfx/is-logo.png', alt='is-logo_img', width='300')
  div#explore