- var klass = typeof static !== 'undefined' && static === true ? 'footer nohide': 'footer';
footer(class=klass)
  div
    div.footer-logo
      img(src=`${root}/img/footer_logo.png`, width="102", height="26")
    small We Are Island, Inc.
      | &nbsp;|&nbsp;
      a.muted.navigate(href="/privacy", alt="This Privacy Policy governs the manner in which We Are Island, Inc. collects, uses, maintains and discloses information collected from users...") Privacy Policy
    div.clear
