header.header
  - if (process.env.NODE_ENV === 'production' && false)
    div.banner-side
      a.closer(href="javascript:;")
        i.icon-cancel
      a.navigate(href="/bigpawproductions/968508692")
        img(src="https://d3ulmsx02dkj2g.cloudfront.net/store/img/za/banners/bannertall.jpg", width="80", height="300")
  .block-messages
    ul
  .header-inner
    a.button.disabled.logo.navigate(href="/")
      //- span.tagline Climb
      img(src="#{root}/img/site-logo.png", width="128", height="41")
    div.divider-vertical.pad-right
    .header-search
      input.header-search-input(type="search", tabindex="1", placeholder="Search...")
      .search-display
        .list-header
    ul.header-links
      li
        a(class="navigate", href="/", alt="Track your progression as a climber. Follow other athletes. Watch your favorite areas and routes.") Home
        - if (typeof member !== 'undefined')
          div.header-menu
            ul
              li
                a(class="navigate", href="/", alt="Track your progression as a climber. Follow other athletes. Watch your favorite areas and routes.") Activity
              li
                a(class="navigate", href="/following", alt="Activity from the athletes you follow and the crags you watch.") Following
              li
                a(class="navigate", href="/media", alt="Recently uploaded photos and videos.") Recent Media
              li
                a(class="navigate", href="/#{member.username}/ascents", alt="My rock climbing ascents.") My Ascents
      li
        a(class="navigate", href="/crags", alt="Search for a crag.") Crags
      li
        a(class="navigate", href="/store", alt="Accessories and apparel.") Store
          span.cart-count
      - if (typeof member === 'undefined')
        li
          a(class="navigate", href="/media", alt="Recently uploaded photos and videos.") Recent Media
      li
        a(class="navigate #{typeof blog !== 'undefined' && blog == true ? 'active':''}", href="/blog", alt="News and feature updates.") Blog
      - if (typeof member !== 'undefined')
        li
          a.header-tips(href="javascript:;", style="font-weight:bold;", alt="Tips on using Island.") Tips
    - if (typeof member !== 'undefined')
      div.member-box
        div.divider-vertical
        a.header-avatar(href="/" + member.username)
          - g = 'https://www.gravatar.com/avatar/' + member.gravatar + '?s=50&d=https%3A%2F%2Fs3.amazonaws.com%2Fisland.io%2Favatar_48.png'
          img(src="#{member.avatar || g}", width="50", height="50")
        div.divider-vertical
        a.button.panel-button.header-action(href="javascript:;", title="Notifications")
          i.icon-bell-alt
          span.count.note-count
        div.divider-vertical
        a.button.settings-button.header-action.navigate(href="/settings", title="Settings")
          i.icon-sliders
        div.divider-vertical
        a.button.search-button.header-action(href="javascript:;", title="Search")
          i.icon-search
        div.divider-vertical
        a.button.logout-button.header-action(href="/logout", title="Sign out")
          i.icon-logout
    - else
      a.button.signin-button.header-action.navigate(href="/signin", alt="Sign In. Forgot your password? Sign Up.")
        span Sign in 
        i.icon-login
