.saved-ghost
  form(enctype="multipart/form-data", method="POST")
    input(name="username", type="text")
    input(name="password", type="password")
    input(value="_", type="submit")
.block-messages
  ul
.header-inner
  a.button.disabled.logo(href="/")
    span.tagline Train &middot; Climb
    img(src="#{root}/img/logo.png", width="127", height="30")
  div.divider-vertical.pad-right
  .header-search
    input.header-search-input(type="search", tabindex="1", placeholder="Search...")
    .search-display
      .list-header
  ul.header-links
    li
      a(class="navigate", href="/crags") Crags
    li
      a(class="navigate", href="/films") Films
    li
      a(class="navigate", href="/about") About
  - if (member)
    div.member-box
      div.divider-vertical
      a.header-avatar(href="/" + member.username)
        img(src="https://www.gravatar.com/avatar/" + member.gravatar + "?s=50&d=https%3A%2F%2Fd271mvlc6gc7bl.cloudfront.net%2Fmain%2Fimg%2Favatar_100.png", width="50", height="50")
      a.button.globe-button.header-action(href="javascript:;")
        i.icon-globe
        span.count
      div.divider-vertical
      a.button.header-action(href="/logout")
        i.icon-logout
      div.divider-vertical
      a.button.header-session-button.header-action.navigate(href="/sessions/new")
        i.icon-pencil 
        span Log session
  - else
    a.button.signin-button.header-action(href="javascript:;")
      span Sign in 
      i.icon-login
      
