extends index

block main
  div.single-left
    div.obj-title
      span.slash
        | /
      h1.title-left
        | Stories
      h1.title-sub 
        | Tales of adventure from the pros.
    #posts
  div.comments-wrap
    h1.title-right / Activity
    #comments
  div.clear