extends index

block main
  div.leftside
    div#posts
    div.list-spin
      div#posts-spin
      span.empty-feed Showing all.
  div.rightside
    h1.title-right / Activity
    br
    span.empty-list ...will go here :)
  div.clear
