#twitter-names
  - for (var n=0; n < twitters.length; ++n)
    =twitters[n] + ','
#wrap
  header#header-left
    a(href='/')
      #logo
        img#logo-a.centered(src='/graphics/is-logo.png', alt='is-logo_img', width='300')
        img#logo-b.centered(src='/graphics/is-logo-pink.png', alt='is-logo_img', width='300', style='display:none;')
  header#header-right
    #menu.list
      ul
        li
          a#nav-logout.button(href='/logout', title='Log Out Island') 
            | Log Out
        - if (member.role === 0)
          li(style='margin: 0 5px 0 0')
            a#nav-add.button(href='/add', title='Add Media') 
              | Add Media
        li
          span.welcome-member Hi, 
            =member.displayName
    #twitter.tweet
      p loading contributor tweets...
  div.clear
  #main
    !=partial(part)
footer#footer
  div
    div
      small We Are Island © 2011
