#twitter-names
  - for (var n=0; n < names.length; ++n)
    =names[n] + ','
#wrap
  header#header-left
    a(href='/')
      #logo
        img#logo-a.centered(src='/graphics/is-logo.png', alt='is-logo_img', width='300')
        img#logo-b.centered(src='/graphics/is-logo-pink.png', alt='is-logo_img', width='300', style='display:none;')
  header#header-right
    #menu.list
      ul
        li
          a#nav-logout.nav-link-right(href='/sessions', title='Log Out Island') 
            | Log Out
        - if (cm.role == 'contributor')
          li(style='margin: 0 5px 0 0')
            a#nav-add.nav-link-right(href='/add', title='Add Media') 
              | Add Media
        li
          span.welcome-member Hi, 
            =cm.name.first + ' ' + cm.name.last
    #twitter.tweet
      p loading contributor tweets...
  div.clear
  #main
    !=partial(part)
footer#footer
  div
    div
      small We Are Island © 2011