extends layout

block content
  #container.container.wide.landing
    .page-spin
    include header
    - if (typeof body !== 'undefined')
      !{body}
    include map
    block main
    include panel
    include footer
  .popup-messages
    ul
