extends layout

block content
  div#wrap
    header#header
      include header
    div#map
      div#map_overlay
      div#map_spin
      a.button.plot-button(href="javascript:;")
        span
          | +
          i.icon-location
        div#plot_spin
      div#plot_form
        table
          tr
            td
              input(type="text", name="latitude", placeholder="latitude")
            td
              input(type="text", name="longitude", placeholder="longitude")
          tr
            td
              a.button.plot-cancel(href="javascript:;") Cancel
            td
              a.button.plot-map(href="javascript:;") Map
          tr
            td(colspan="2")
              span Click on the map to grab coordinates.
      div#map_control
        div
          a.button.split-left#hide_show(href="javascript:;") Hide map
          a.button.split-right#less_more(href="javascript:;") More map
      div#map_inner
    div#content
      div#main
        block main
      div#page_spin
    div#panel
      div#panel_content
      div.list-spin
        div#notifications_spin
        span.empty-feed Showing all.
    footer#footer
      include footer
