extends layout

block content
  #wrap.wrap
    header.header
      include header
    #map.map.closed
      .map-overlay
      .map-spin
      a.button.plot-button(href="javascript:;")
        span
          | +
          i.icon-location
        .plot-spin
      .plot-form
        table
          tr
            td
              input(type="text", name="latitude", placeholder="latitude")
            td
              input(type="text", name="longitude", placeholder="longitude")
          tr
            td
              a.button.plot-cancel(href="javascript:;") Cancel
            td
              a.button.plot-map(href="javascript:;") Map
          tr
            td(colspan="2")
              span Click on the map to grab coordinates.
      .map-control
        div
          a#hide_show.hide-show.button(href="javascript:;") Show map
          a#less_more.less-more.button.split-right(href="javascript:;", style="display:none;") More map
      #map_inner.map-inner
    .folder
      .page-spin
      .tabs
      .content
        .main
          block main
    #panel.panel
      .panel-content
      .list-spin
        .notifications-spin
        span.empty-feed Showing all.
    footer.footer
      include footer
