#loading
  img(src='/graphics/is-loading.gif', alt='loading...')
#wrap
  header#header
    #header-left
      a#log-featured.nav-link(href='/')
        #logo
          img#logo-a.centered(src='/graphics/is-logo.png', alt='is-logo_img', width='300')
          img#logo-b.centered(src='/graphics/is-logo-pink.png', alt='is-logo_img', width='300', style='display:none;')
    #header-right
      #menu.list
        ul
          //li
          //  a#nav-featured.nav-link(href='/featured', title='ISLAND featured')
          //    h1.nav / featured
          //li
          //  a#nav-members.nav-link(href='/members', title='ISLAND members')
          //    h1.nav / members
          //li
          //  a#nav-mission.nav-link(href='/mission', title='ISLAND mission')
          //    h1.nav / mission
          li
            a#nav-contribute.nav-link(href='/media/new', title='contribute')
              h1.nav / contribute
          - if (typeof cm !== 'undefined')
            li
              a#logout.nav-link(href='/sessions') Log Out
      #feeds
        #twitter.tweet
          p loading ISLAND tweets...
    div.clear
  div.clear
  #main
    !=partial(p, { locals: { d: d } })
footer#footer
  div
    div
      small We Are Island © 2011
//div.overlay
//  div.wrap-outer
//    div.wrap
//      div.my-dialog
//        hr
//        button.toggle-overlay Cancel