extends layout

block content
  div#wrap
    header#header
      include header
    div#map
      div#map_control
        div
          a.button.split-left#hide_show(href="javascript:;") Hide map
          a.button.split-right#less_more(href="javascript:;") More map
      div#map_inner
    div#content
      div#main
        block main
    div#panel
      div#panel_content
      div.list-spin
        div#notifications-spin
        span.empty-feed Showing all.
    footer#footer
      include footer
