!!! 5
html
  head
    title= 'We\'re Island'
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/mediaelement/mediaelementplayer.css')
    link(rel='shortcut icon', href='/graphics/favicon.ico', type='image/x-icon')
    script(src='/nowjs/now.js')
    script(type='text/javascript', src='/javascripts/json2.js')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js')
    script(type='text/javascript', src='/mediaelement/mediaelement-and-player.min.js')
    script(type='text/javascript', src='/javascripts/jquery.autogrow.js')
    script(type='text/javascript', src='/javascripts/jquery.tweet.js')
    //script(type='text/javascript', src='//assets.transloadit.com/js/jquery.transloadit2.js')
    script(type='text/javascript', src='/javascripts/jquery.jsonp.js')
    script(type='text/javascript', src='/javascripts/toolbox.expose.js')
    script(type='text/javascript', src='/javascripts/jquery.easing.js')
    script(type='text/javascript', src='/javascripts/jquery.transloadit2.js')
    script(type='text/javascript', src='/javascripts/island.js')
    script(src="/javascripts/modernizr-1.7.min.js")
    script
      jQuery(function () { Island.go(); });
    script(type='text/javascript')
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23247079-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  body
    // #fb-root
    // script
    // window.fbAsyncInit = function() {
    // FB.init({
    // appId: '203397619757208',
    // channelUrl: '//island.com/channel.html',
    // status: true,
    // cookie: true,
    // xfbml: true
    // });
    // };
    // (function(d){
    // var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
    // js = d.createElement('script'); js.id = id; js.async = true;
    // js.src = "//connect.facebook.net/en_US/all.js";
    // d.getElementsByTagName('head')[0].appendChild(js);
    // }(document));
    // .fb-login-button(data-show-faces="true", data-width="200", data-max-rows="1")
    // !{flashMessages}
    // != body
    