extends layout

block content
  span.signin-copy
    | &copy; 2013 Island, LLC 
  div.signin-bg
    div#roll
  div.signin
    div.signin-logo
      div
        img(src='https://d271mvlc6gc7bl.cloudfront.net/main/gfx/is-signin_lg_archs.png')
        img(src='https://d271mvlc6gc7bl.cloudfront.net/main/gfx/is-signin_lg.png')
    div.signin-action
      div.signin-action-inner
        div.signin-spinner
        - if (!session)
          div.signin-strategies
            table
              tbody
                tr
                  td
                    a.button.signin-strategy-btn.facebook-btn.from-login(href='/auth/facebook') Connect with Facebook
                  td
                    span.signin-or - or -        
                  td
                    a.button.signin-strategy-btn.twitter-btn.from-login(href='/auth/twitter') Connect with Twitter
          div.signin-controls
            p#goto-register-form
              span You don't want to use Facebook or Twitter? 
              a(href='javascript:;', title='Sign up', style='font-weight:bold;') Sign up &rarr;
            p#goto-login-form(style='display: none')
              a(href='javascript:;', title='Log in', style='font-weight:bold;') &larr; Log in
          div.signin-forms
            form#login-form(method='post', action='/login')
              table
                tbody
                  tr
                    td(style='padding-left:0;')
                      input(name='username', type='text', placeholder='email', class='from-login')
                    td
                      input(name='password', type='password', placeholder='password', class='from-login')
                    td
                      input#login.is-button(type='submit', title='Log in', value='Log in', class='from-login')
            form#register-form(method='post', action='/signup')
              table
                tbody
                  tr
                    td(style='padding-left:0;')
                      input(name='newname', type='text', placeholder='your name', class='from-login')
                    td
                      input(name='newusername', type='text', placeholder='your email', class='from-login')
                    td
                      input(name='newpassword', type='password', placeholder='password', class='from-login')
                    td
                      input#add-member.is-button(type='submit', title='Sign up', value='Sign up', class='from-login')
        - else if ('facebook' === session.provider || 'twitter' === session.provider)
          - var providerName = session.provider.substr(0, 1).toUpperCase() + session.provider.substr(1);
          div.signin-almost-there
            p
              span.signin-message Radical, your account is now linked to #{providerName}. 
              br
              | Please fill out the rest of your info.
          div.signin-forms
              form#register-form(method='post', action='/signup', style='display: block !important;')
                table
                  tbody
                    tr
                      td(style='padding-left:0;')
                        input(name='newname', type='text', placeholder='your name', class='from-login', value=session.member.displayName)
                      td
                        input(name='newusername', type='text', placeholder='your email', class='from-login')
                      td
                        input(name='newpassword', type='password', placeholder='password', class='from-login')
                      td
                        input#add-member.is-button(type='submit', title='Finish', value='Finish', class='from-login', data-id=session.member._id)
    div.signin-quote
      p
        | Climbing media by climbers, fresh from the battlefield.
