div.signin
  span.signin-copy
    | Island © 2012
  div.signin-bg
    img(src="https://d271mvlc6gc7bl.cloudfront.net/main/img/is-signin_bg_lo.jpg")
  div.signin-logo
    div
      img(src="https://d271mvlc6gc7bl.cloudfront.net/main/gfx/is-signin_lg_archs.png")
      img(src="https://d271mvlc6gc7bl.cloudfront.net/main/gfx/is-signin_lg.png")
  div.signin-action
    div.signin-spinner
    - if (!session)
      div.signin-strategies
        a.button.signin-strategy-btn(href='/auth/facebook') Connect with Facebook
        span.signin-or - or -
        a.button.signin-strategy-btn(href='/auth/twitter') Connect with Twitter
      div.signin-controls
        p#goto-register-form
          span You don't want to use Facebook or Twitter? 
          a(href='javascript:;', title='Sign up', style='font-weight:bold;') Sign up &rarr;
        p#goto-login-form(style='display: none')
          a(href='javascript:;', title='Log in', style='font-weight:bold;') &larr; Log in
      div.signin-forms
        form#login-form(method='post', action='/login')
          table
            tbody
              tr
                td
                  input(name='username', type='text', placeholder='email')
                td
                  input(name='password', type='password', placeholder='password')
                td
                  input#login.is-button(type='submit', title='Log in', value='Log in')
        form#register-form(method='post', action='/signup')
          table
            tbody
              tr
                td
                  input(name='newname', type='text', placeholder='your name')
                td
                  input(name='newusername', type='text', placeholder='your email')
                td
                  input(name='newpassword', type='password', placeholder='password')
                td
                  input#add-member.is-button(type='submit', title='Sign up', value='Sign up')
    - else if ('facebook' === session.provider || 'twitter' === session.provider)
      - var providerName = session.provider.substr(0, 1).toUpperCase() + session.provider.substr(1);
      div.signin-almost-there
        p
          span.signin-message Radical, your account is now linked to #{providerName}. 
          br
          | Please fill out the rest of your info.
      div.signin-forms
          form#register-form(method='post', action='/signup', style='display: block !important;')
            table
              tbody
                tr
                  td
                    input(name='newname', type='text', placeholder='your name', value=session.member.displayName)
                  td
                    input(name='newusername', type='text', placeholder='your email')
                  td
                    input(name='newpassword', type='password', placeholder='password')
                  td
                    input#add-member.is-button(type='submit', title='Finish', value='Finish', data-id=session.member._id)
  div.signin-quote
    p
      | &ldquo;The chance to directly connect with like minded individuals gives us an enormous outlet, a chance to create opportunities, to bridge greater gaps. We are doing this for our community, which includes ourselves. We hope to connect and relate lives, individually and communally, to become a movement, a force of energy, an embodiment of all the passion on our planet, in one place. Welcome to the Island.&rdquo;
      br
      br
      span(style="float: right;") -David Graham


