#map.map.closed
  #map_inner.map-inner
  .map-spin
  a.button.map-button.map-weather(href="javascript:;")
    span
      i.icon-temperatire
  if (typeof member !== 'undefined' && member.role !== 2)
    a.button.map-button.map-plot(href="javascript:;")
      span
        i.icon-location
        | Add Crag
      .plot-spin
    .plot-form
      table
        tr
          td(colspan="2")
            input.required(type="text", name="name", placeholder="New crag name")
        tr
          td
            input.required(type="text", name="latitude", placeholder="° latitude")
          td
            input.required(type="text", name="longitude", placeholder="° longitude")
        tr
          td
            a.button.plot-cancel(href="javascript:;") Cancel
          td
            a.button.new-session-button.disabled(href="javascript:;", disabled="disabled")
              i.icon-plus
              | Add it
        tr
          td(colspan="2")
            span Click on the map to grab the crag's location.
    .update-note
      span Click on the map to update the crag's location.
  .map-control
    .map-help-wrap
      span#map_help.help Hold the <em>shift</em> key to zoom
    .map-showhide
      a#hide_show.hide-show.button(href="javascript:;") Show map
      a#less_more.less-more.button.split-right(href="javascript:;", style="display:none;") More map
  .map-infobox
    .map-infobox-title
    .map-infobox-subtitle
