#feedback
  div.trending-media-wrap.left
    span.slash
      | /
    h1.title-left Trending
    h1.title-sub Most popular right now
    div.trending-media.matte
      #trend.trending-media-images
        !=partial('trend', trends)
  div.recent-comments-wrap
    h1.title-right / Recent Comments
    #recent-comments(data-id='all', data-limit="5", data-showmember="true")
      //- !=partial('comment', { collection: comments, showMember: true, member: member })
div.grid-wrap
  #search
    h1.title-bottom / Browse
    input#search-box.matte(type="search", placeholder="Search", value="")
    div.search-spinner
  #grid.adjustable-grid
