| #{note.event.data.b}
br
br
a(href=link, style="font-size:80%;") view this thread
span(style="font-size:80%;color:#808080;") &nbsp;on Island&nbsp;&middot;&nbsp;change&nbsp;
a(href=sets_link, style="font-size:80%;") your notification settings