| Oi!
br
br
| Thanks for signing up, #{member.name.givenName}. I hope you'll love Island as much as we do.
br
br
| To use all of our features, confirm your account by visiting the URL below. This helps me make sure that you own this email address (#{member.primaryEmail}).
br
br
a(href=confirm)
  =confirm
br
br
| Regards,
br
br
| The Island Mail Robot
