@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?95586498');
  src: url('../font/fontello.eot?95586498#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?95586498') format('woff'),
       url('../font/fontello.ttf?95586498') format('truetype'),
       url('../font/fontello.svg?95586498#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?95586498#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-globe:before { content: '\e800'; } /* '' */
.icon-params:before { content: '\e801'; } /* '' */
.icon-logout:before { content: '\e802'; } /* '' */
.icon-ok:before { content: '\e803'; } /* '' */
.icon-download-cloud:before { content: '\e804'; } /* '' */
.icon-cancel:before { content: '\e805'; } /* '' */
.icon-attention:before { content: '\e806'; } /* '' */
.icon-error:before { content: '\e807'; } /* '' */
.icon-right-dir:before { content: '\e808'; } /* '' */
.icon-youtube-play:before { content: '\e809'; } /* '' */
.icon-picture:before { content: '\e80a'; } /* '' */
.icon-location:before { content: '\e80b'; } /* '' */
.icon-pencil:before { content: '\e80c'; } /* '' */
.icon-plus:before { content: '\e80d'; } /* '' */
.icon-login:before { content: '\e80e'; } /* '' */
.icon-user:before { content: '\e80f'; } /* '' */
.icon-user-add:before { content: '\e810'; } /* '' */
.icon-user-delete:before { content: '\e811'; } /* '' */
.icon-star:before { content: '\e812'; } /* '' */
.icon-star-empty:before { content: '\e813'; } /* '' */
.icon-up:before { content: '\e814'; } /* '' */
.icon-down:before { content: '\e815'; } /* '' */
.icon-eye:before { content: '\e816'; } /* '' */
.icon-eye-off:before { content: '\e817'; } /* '' */
.icon-left-dir:before { content: '\e818'; } /* '' */
.icon-angle-right:before { content: '\e819'; } /* '' */
.icon-angle-left:before { content: '\e81a'; } /* '' */
.icon-trash:before { content: '\e81b'; } /* '' */
.icon-hammer:before { content: '\e81c'; } /* '' */
.icon-award:before { content: '\e81d'; } /* '' */
.icon-angle-up:before { content: '\e81e'; } /* '' */
.icon-angle-down:before { content: '\e81f'; } /* '' */
.icon-calendar:before { content: '\e820'; } /* '' */
.icon-twitter:before { content: '\e821'; } /* '' */
.icon-rss:before { content: '\e822'; } /* '' */
.icon-mail-alt:before { content: '\e823'; } /* '' */
.icon-folder:before { content: '\e824'; } /* '' */
.icon-feather:before { content: '\e825'; } /* '' */
.icon-signal:before { content: '\e826'; } /* '' */
.icon-temperatire:before { content: '\e827'; } /* '' */
.icon-comment:before { content: '\e828'; } /* '' */
.icon-search:before { content: '\e829'; } /* '' */
.icon-sliders:before { content: '\e82a'; } /* '' */
.icon-cog:before { content: '\e82b'; } /* '' */
.icon-export:before { content: '\e82c'; } /* '' */
.icon-cart-plus:before { content: '\e82d'; } /* '' */
.icon-cart-arrow-down:before { content: '\e82e'; } /* '' */
.icon-basket:before { content: '\e82f'; } /* '' */
.icon-down-dir:before { content: '\e830'; } /* '' */
.icon-up-dir:before { content: '\e831'; } /* '' */
.icon-flash:before { content: '\e832'; } /* '' */