@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?22133857');
  src: url('../font/fontello.eot?22133857#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?22133857') format('woff'),
       url('../font/fontello.ttf?22133857') format('truetype'),
       url('../font/fontello.svg?22133857#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?22133857#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-picture:before { content: '\e80a'; } /* '' */
.icon-params:before { content: '\e801'; } /* '' */
.icon-cancel:before { content: '\e805'; } /* '' */
.icon-plus:before { content: '\e80d'; } /* '' */
.icon-download-cloud:before { content: '\e804'; } /* '' */
.icon-pencil:before { content: '\e80c'; } /* '' */
.icon-attention:before { content: '\e806'; } /* '' */
.icon-ok:before { content: '\e803'; } /* '' */
.icon-logout:before { content: '\e802'; } /* '' */
.icon-right-dir:before { content: '\e808'; } /* '' */
.icon-globe:before { content: '\e800'; } /* '' */
.icon-youtube-play:before { content: '\e809'; } /* '' */
.icon-error:before { content: '\e807'; } /* '' */
.icon-location:before { content: '\e80b'; } /* '' */