
.icon-picture:before { content: '\e80a'; } /* '' */
.icon-params:before { content: '\e801'; } /* '' */
.icon-cancel:before { content: '\e805'; } /* '' */
.icon-plus:before { content: '\e80d'; } /* '' */
.icon-eye:before { content: '\e816'; } /* '' */
.icon-eye-off:before { content: '\e817'; } /* '' */
.icon-download-cloud:before { content: '\e804'; } /* '' */
.icon-pencil:before { content: '\e80c'; } /* '' */
.icon-attention:before { content: '\e806'; } /* '' */
.icon-location:before { content: '\e80b'; } /* '' */
.icon-login:before { content: '\e80e'; } /* '' */
.icon-logout:before { content: '\e802'; } /* '' */
.icon-ok:before { content: '\e803'; } /* '' */
.icon-globe:before { content: '\e800'; } /* '' */
.icon-youtube-play:before { content: '\e809'; } /* '' */
.icon-star:before { content: '\e812'; } /* '' */
.icon-star-empty:before { content: '\e813'; } /* '' */
.icon-user:before { content: '\e80f'; } /* '' */
.icon-user-add:before { content: '\e810'; } /* '' */
.icon-user-delete:before { content: '\e811'; } /* '' */
.icon-down:before { content: '\e815'; } /* '' */
.icon-up:before { content: '\e814'; } /* '' */
.icon-error:before { content: '\e807'; } /* '' */
.icon-right-dir:before { content: '\e808'; } /* '' */