/* Island.IO */
/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– fonts */
@font-face {
  font-family: Title;
  font-style: normal;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  src: url("../font/impact-webfont.eot");
  src: url("../font/impact-webfont.eot?#iefix") format('embedded-opentype'), url("../font/impact-webfont.woff") format('woff'), url("../font/impact-webfont.ttf") format('truetype'), url("../font/impact-webfont.svg#ImpactRegular") format('svg');
}
@font-face {
  font-family: 'icons';
  src: url("../font/icons.eot?52485978");
  src: url("../font/icons.eot?52485978#iefix") format('embedded-opentype'), url("../font/icons.woff?52485978") format('woff'), url("../font/icons.ttf?52485978") format('truetype'), url("../font/icons.svg?52485978#icons") format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icons';
    src: url('../font/icons.svg?52485978#icons') format('svg');
  }
}
*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'icons';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em;
}
.icon-download-cloud:before {
  content: '\f0ed';
/* '' */
}
/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– animations */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -o-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    -o-transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}
/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– resets */
html {
  color: #1a1a1a;
  background: #fff;
}
html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  outline: none;
  border: 0;
}
img:focus {
  outline: none;
}
img::-moz-focus-inner {
  border: none;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
legend {
  color: #1a1a1a;
}
header,
footer,
section,
aside,
nav,
article {
  display: block;
}
/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
body {
  background: none;
  color: #1a1a1a;
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  line-height: 13px;
}
/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
a {
  color: #404040;
  background: #f2f2f2;
  padding: 0;
  border: none;
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  background: rgba(75,184,215,0.25);
}
a:active {
  background: rgba(75,184,215,0.1);
}
a:focus {
  outline: none;
}
a::-moz-focus-inner,
button::-moz-focus-inner {
  border: none;
}
a.like {
  color: #4bb8d7;
}
span.like-wrap {
  float: right;
}
/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
small {
  font-size: 10px;
  line-height: 12px;
}
h3.obj-details {
  text-transform: uppercase;
  color: #b3b3b3;
  font-size: 8px;
  padding: 0 0 5px;
  font-weight: normal;
}
span.slash {
  padding: 0 5px 0 0;
  font-weight: bold;
  vertical-align: middle;
  font-size: 42px;
  color: #1a1a1a;
  font-family: Title, Verdana, Arial, sans-serif;
  line-height: 0;
}
/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
img.social-icons {
  position: absolute;
  cursor: pointer;
}
img.centered {
  display: block;
  margin: 0 auto;
  vertical-align: middle;
}
img[alt=image] {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
label {
  color: #808080;
  font-size: 11px;
  font-weight: normal;
}
td {
  white-space: nowrap;
  padding: 2px 0 0 10px;
}
/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
.matte {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.mask {
  position: absolute;
  z-index: 1;
}
.masked {
  position: absolute;
  z-index: 0;
}
.list {
  list-style-type: none;
}
.list li {
  display: inline;
  float: left;
}
.tweet p {
  font-size: 9px;
  color: #808080;
  line-height: 12px;
  max-width: 250px;
}
span.loading {
  display: inline-block;
  margin: 0 0 10px 0;
  font-style: italic;
  color: #808080;
}
p.privacy {
  padding: 30px;
  max-width: 600px;
}
span.privacy-indent {
  margin-left: 10px;
  display: block;
}
a.privacy-link {
  background: none;
}
a.privacy-link:hover {
  text-decoration: underline;
}
span.welcome-member {
  display: block;
  font-weight: bold;
  color: #444;
  margin: 7px 20px 0 0;
}
span.welcome-member a {
  text-decoration: underline;
  background: none;
}
span.welcome-member a:hover {
  text-decoration: underline;
  background: rgba(75,184,215,0.25);
}
span.welcome-member a:active {
  background: rgba(75,184,215,0.1);
}
/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
#twitter-names {
  display: none;
}
a.resend-conf {
  font-weight: bold;
}
.signin-almost-there {
  text-align: center;
  margin: 0 auto 41px;
  color: #f9f9f9;
}
.signin-message {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}
.signin-controls {
  margin: 20px auto 0;
  width: 400px;
}
.signin-controls > p {
  text-align: center;
  color: #f9f9f9;
}
.signin-controls a {
  background: none;
  text-decoration: underline;
  color: #f9f9f9;
}
.signin-controls a:hover {
  text-decoration: underline;
  background: rgba(75,184,215,0.25);
}
.signin-controls a:active {
  background: rgba(75,184,215,0.1);
}
.signin-forms {
  margin: 20px 0 0;
  width: 100%;
  position: relative;
}
.signin-forms form {
  width: 100%;
}
.signin-forms table {
  margin: 0 auto;
}
.signin-forms td {
  padding-top: 0;
}
.signin-spinner {
  margin: 52px auto 0;
  width: 86px;
  display: none;
}
.signin-spinner > div {
  left: 50% !important;
}
.signin-copy {
  padding: 5px;
  display: block;
  color: #1a1a1a;
  font-size: 9px;
  text-align: left;
}
#remember_me {
  margin: 0 5px 0 0;
}
#wrap {
  margin: 0 auto;
  width: 984px;
}
#header {
  width: 100%;
  background: #fcfcfb;
  border-bottom: 1px solid #cdcdcd;
}
#header-inner {
  margin: 0 auto;
  width: 984px;
  padding: 10px 0 0 0;
}
#zoom {
  top: 100px;
}
#tiles_loader {
  top: 100px;
}
a#logo {
  background: none;
}
#menu {
  display: none;
  padding: 12px 0 0 0;
  position: relative;
}
#menu.list li {
  float: right;
}
#menu.list li::last-child {
  margin: 0 20px 0 0;
}
#main {
  margin: 40px 0;
}
#footer {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10001;
}
#footer > div {
  margin: 0 auto;
  width: 984px;
}
#footer > div > div {
  padding: 5px 0;
  width: 333px;
  background: rgba(252,252,251,0.5);
  text-align: right;
  font-family: Title, Verdana, Arial, sans-serif;
  float: right;
  z-index: 1001;
  position: relative;
  border-top: 5px solid #1a1a1a;
  border-left: 5px solid #1a1a1a;
  -webkit-border-radius: 23px 0 0 0;
  -moz-border-radius: 23px 0 0 0;
  border-radius: 23px 0 0 0;
}
.is-highlight,
.is-error {
  position: fixed;
  left: 20px;
  bottom: 20px;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #808080;
  font-weight: bold;
}
.is-highlight {
  background-color: #f2f2f2;
}
.is-error {
  background-color: #f6dbd7;
}
.hidden {
  display: none;
}
.quote {
  font-size: 28px;
  font-family: Title;
}
.login-prompt {
  margin-top: 23px;
  font-style: italic;
  color: #808080;
}
.no-results {
  font-style: italic;
  color: #808080;
}
#delete-post:hover,
#delete-profile:hover {
  color: #d04c38 !important;
  border: 1px solid #d04c38 !important;
}
#buy-post {
  background: #b1dc36;
  color: #404040;
  border: 1px solid #404040;
}
#buy-post:hover {
  color: #1a1a1a;
  border: 1px solid #1a1a1a;
}
.action-button {
  float: right;
  margin-top: 12px;
}
/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
::-webkit-input-placeholder {
  color: #808080;
}
:-moz-placeholder {
  color: #808080;
}
::-moz-placeholder {
  color: #808080;
}
:-ms-input-placeholder {
  color: #808080;
}
textarea {
  font-size: 11px;
  resize: none;
  font-weight: normal;
  background: #fcfcfb;
  padding: 4px;
  border: 1px solid #cdcdcd;
  vertical-align: top;
}
textarea:focus {
  background: #fff;
  border: 1px solid #404040;
  outline: none;
}
textarea::-moz-focus-inner {
  border: none;
}
input[type=checkbox],
input[type=radio] {
  display: inline;
}
input[type=text]:not(.text),
input[type=password] {
  background: #fcfcfb;
  width: 142px;
  margin: 0;
  padding: 5px;
  font-size: 11px;
  display: inline;
  color: #404040;
  border: 1px solid #cdcdcd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
input[type=text].from-login,
input[type=password].from-login {
  border: 1px solid #1a1a1a;
  color: #333;
  background: rgba(252,252,251,0.65);
}
input[type=text]:focus,
input[type=password]:focus {
  background: #fff;
  border: 1px solid #404040;
  background: #fff;
}
input:focus {
  outline: none;
}
input::-moz-focus-inner {
  border: none;
}
input.is-button-alert[type=submit] {
  color: #d04c38 !important;
  border: 1px solid #d04c38 !important;
}
.is-input-alert {
  border: 1px solid #d04c38 !important;
}
.button-mask-wrap {
  position: relative;
}
.password-for-delete {
  margin: 10px 0 0 0 !important;
  width: 198px !important;
}
#add-media,
#save-settings {
  width: 100%;
  margin: 15px 0 0;
}
#add-media-mask,
#save-settings-mask {
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: pointer;
}
#explore {
  width: 100%;
  height: 100%;
}
#explore .cartodb-zoom {
  top: 100px;
}
#explore .cartodb-tiles-loader {
  top: 100px !important;
}
/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
.signin {
  position: absolute;
  top: 10%;
  width: 100%;
  overflow: hidden;
}
.signin-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.signin-logo {
  margin: 90px 0 0;
  width: 100%;
}
.signin-logo > div {
  position: relative;
  width: 604px;
  height: 148px;
  margin: 0 auto;
}
.signin-logo > div > img {
  position: absolute;
}
.signin-action {
  margin: 20px 0 0 0;
  width: 100%;
  height: 105px;
}
.signin-action-inner {
  width: 602px;
  height: 103px;
  margin: 0 auto;
  background: rgba(242,242,242,0.1);
  padding: 30px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.signin-strategies {
  margin: 0 auto;
  width: 471px;
}
.signin-strategies td {
  padding: 0;
}
.signin-or {
  margin: 7px 20px 0;
  font-style: italic;
  color: #f9f9f9;
}
.signin-quote {
  margin: 120px 0 0;
  width: 100%;
}
.signin-quote > p {
  margin: 0 auto;
  font-size: 27px;
  font-family: Title, Verdana, Arial, sans-serif;
  line-height: 27px;
  text-align: center;
  color: #1a1a1a;
}
a.button,
button,
div[role=button],
input[type=submit]:not(.submit) {
  font-size: 11px;
  font-family: Title, Verdana, Arial, sans-serif;
  padding: 0 8px;
  font-weight: bold;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  min-width: 48px;
  height: 23px;
  line-height: 24px;
  outline: 0;
  text-align: center;
  display: inline-block;
  background-color: #f1f1f1;
  color: #898989;
  border: 1px solid #a8a8a8;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 100ms;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 100ms;
  transition-timing-function: ease-out;
  transition-duration: 100ms;
}
input[type=submit] {
  height: 25px !important;
}
input[type=submit].from-login {
  color: #1a1a1a;
  border: 1px solid #1a1a1a;
}
a.button:hover.not(.disabled),
button:hover.not(.disabled),
div[role=button]:hover.not(.disabled),
input[type='submit']:hover.not(.disabled) {
  color: #444;
  -moz-box-shadow: 0 0 2px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.2);
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  border: 1px solid #898989;
}
a.button:active.not(.disabled),
button:active.not(.disabled),
div[role=button]:active.not(.disabled),
input[type='submit']:active.not(.disabled) {
  color: #444;
  -moz-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
  border: 1px solid #898989;
}
a.button:focus.not(.disabled),
button:focus.not(.disabled),
div[role=button]:focus.not(.disabled),
input[type=submit]:focus.not(.disabled) {
  border: 1px solid #98c1e6;
}
input[type=submit].from-login:hover {
  -moz-box-shadow: 0 0 2px #1a1a1a;
  -webkit-box-shadow: 0 0 2px #1a1a1a;
  box-shadow: 0 0 2px #1a1a1a;
  color: #1a1a1a;
  border: 1px solid #1a1a1a;
}
input[type=submit].from-login:active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #1a1a1a;
  border: 1px solid #1a1a1a;
}
a.button-left,
button.button-left,
div[role=button].button-left,
input[type=submit].button-left {
  border-right: none !important;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
a.button-right,
button.button-right,
div[role=button].button-right,
input[type=submit].button-right {
  border-left: none !important;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
a.button-left.selected,
a.button-right.selected,
button.button-left.selected,
button.button-right.selected,
div[role=button].button-left.selected,
div[role=button].button-right.selected,
input[type=submit].button-left.selected,
input[type=submit].button-right.selected {
  color: #404040;
  background: #4bb8d7;
  border-color: #404040 !important;
  -webkit-box-shadow: inset 0 0 3px #808080;
  -moz-box-shadow: inset 0 0 3px #808080;
  box-shadow: inset 0 0 3px #808080;
}
a.button-left.selected,
button.button-left.selected,
div[role=button].button-left.selected,
input[type=submit].button-left.selected {
  border-right: 1px solid #404040 !important;
}
a.button-right.selected,
button.button-right.selected,
div[role=button].button-right.selected,
input[type=submit].button-right.selected {
  border-left: 1px solid #404040 !important;
}
a.button-left.disabled,
a.button-right.disabled {
  opacity: 0.5;
  cursor: default;
}
a.signin-strategy-btn,
a.signin-strategy-btn-disabled {
  width: 200px;
  font-size: 11px;
  font-weight: bold;
  font-family: Verdana, Arial, sans-serif;
  padding: 0 0;
  display: block;
  color: #fff;
  border: 1px solid #808080;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-text-shadow: 0px 1px #1a1a1a;
  -moz-text-shadow: 0px 1px #1a1a1a;
  text-shadow: 0px 1px #1a1a1a;
}
a.facebook-btn,
a.facebook-btn-disabled {
  background: rgba(59,89,152,0.65);
}
a.twitter-btn,
a.twitter-btn-disabled {
  background: rgba(60,143,201,0.65);
}
a.instagram-btn,
a.instagram-btn-disabled {
  background: rgba(69,63,56,0.65);
}
a.signin-strategy-btn-disabled {
  cursor: default;
  opacity: 0.65;
  height: 23px;
  line-height: 24px;
  outline: 0;
  text-align: center;
}
a.signin-strategy-btn:hover {
  color: #fff;
  border: 1px solid #1a1a1a;
  -webkit-text-shadow: 0px 1px #1a1a1a;
  -moz-text-shadow: 0px 1px #1a1a1a;
  text-shadow: 0px 1px #1a1a1a;
}
a.facebook-btn:hover {
  background: rgba(59,89,152,0.75);
}
a.facebook-btn.from-login:hover {
  background: #3b5998;
}
a.twitter-btn:hover {
  background: rgba(60,143,201,0.75);
}
a.twitter-btn.from-login:hover {
  background: #3c8fc9;
}
a.instagram-btn:hover {
  background: rgba(69,63,56,0.75);
}
a.facebook-btn:active {
  background: rgba(59,89,152,0.55);
}
a.twitter-btn:active {
  background: rgba(60,143,201,0.55);
}
a.instagram-btn:hover {
  background: rgba(69,63,56,0.55);
}
a.signin-strategy-btn.from-login {
  border: 1px solid #1a1a1a;
}
#login-form {
  position: relative;
  left: 0;
}
#register-form {
  position: relative;
  left: 0;
  display: none;
}
#media-form table,
#settings-form table {
  width: 640px;
  margin: 20px 0 0 0;
}
#media-form input[name='post[title]'],
#settings-form input[name='edit[displayName]'] {
  width: 632px;
}
#media-form textarea {
  width: 630px;
  height: 150px;
  color: #404040;
  overflow: hidden;
}
#settings-form textarea {
  width: 630px;
  height: 32px;
  color: #404040;
  overflow: hidden;
}
#media-form td,
#settings-form td {
  padding: 0 0 5px;
}
.media-instructions,
.settings-instructions {
  font-size: 11px;
  line-height: 15px;
  font-style: italic;
}
.settings-banner-wrap {
  position: relative;
  width: 232px;
  height: 104px;
  overflow: hidden;
  cursor: move;
}
.settings-banner {
  left: 0;
  top: 0;
}
.notification-section {
  vertical-align: -10px;
}
.settings-heading {
  font-family: Title, Verdana, Arial, sans-serif;
  font-size: 16px;
}
li.notification:not(.closable) {
  cursor: pointer;
}
li.notification:not(.closable):active {
  opacity: 0.8;
}
/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
#banner {
  display: none;
  margin: 0 0 40px 0;
}
#banner a {
  background: none;
}
#banner img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.trending-media-wrap {
  width: 640px;
}
.trending-media {
  height: 360px;
  margin: 10px 0 0;
  overflow: hidden;
}
.trending-media-images {
  margin: 0;
}
.trending-img {
  margin: 0 0 2px;
}
a.trending,
a.trending:hover,
a.trending:focus {
  background: none;
}
h1.title-left {
  display: inline-block;
  height: 30px;
  font-size: 24px;
  font-weight: normal;
  line-height: normal;
  color: #1a1a1a;
  font-family: Title, Verdana, Arial, sans-serif;
}
h1.title-right {
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
  color: #1a1a1a;
  padding: 10px 0 0 0;
  font-family: Title, Verdana, Arial, sans-serif;
}
h1.title-bottom {
  padding: 0 0 20px;
  font-size: 18px;
  font-weight: normal;
  line-height: normal;
  color: #1a1a1a;
  font-family: Title, Verdana, Arial, sans-serif;
}
h1.title-sub {
  font-size: 9px;
  padding: 0 0 0 22px;
  line-height: 8px;
  color: #666;
  font-weight: bold;
}
#search {
  width: 640px;
}
#search-box,
#filter-box {
  -moz-appearance: none;
  -moz-font-smoothing: antialiased;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  appearance: none;
  font-smoothing: antialiased;
  border: 1px solid #cdcdcd;
  background: #fcfcfb;
  font-size: 24px;
  font-weight: lighter;
  letter-spacing: -2px;
  padding: 5px 0;
  margin: 0 0 10px;
  width: 100%;
}
#filter-box {
  width: 439px;
}
#search-box:focus,
#filter-box:focus {
  background: none;
  border: 1px solid #404040;
}
.search-spinner {
  position: absolute;
  left: -25px;
  top: 63px;
}
#grid {
  position: relative;
  width: 984px;
  margin: 15px 0 0 0;
}
.grid-wrap {
  position: absolute;
  top: 2000px;
}
.obj-title {
  font-size: 0;
}
.obj-holder {
  position: relative;
  margin: 10px 0 5px 0;
}
.hearts {
  position: absolute;
  z-index: 1001;
  top: 10px;
  left: 10px;
  cursor: pointer;
}
.hearts-wrap {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 130px;
}
.hearts-back {
  position: absolute;
}
img.heart-img {
  display: none;
  padding: 0 5px 0 0;
}
.obj-desc {
  background-color: #f2f2f2;
  width: 640px;
  min-height: 60px;
}
.obj-desc.wide {
  width: 984px;
}
.obj-desc-txt-wrap {
  margin: 0 0 0 25px;
  padding: 10px 10px 0 4px;
}
.obj-desc-txt {
  padding: 0 40px 5px 0;
  min-height: 13px;
}
.obj-desc-txt a {
  text-decoration: underline;
}
.commentor-login {
  margin: 15px 0 0 0;
  font-style: italic;
}
.created {
  color: #b3b3b3;
  font-size: 9px;
  display: inline-block;
}
a.delete-comment {
  background: none;
  font-size: 8px;
  color: #b3b3b3;
  float: right;
  margin: 0 -30px 0 0;
}
a.delete-comment:hover {
  color: #d04c38;
}
a.delete-comment:active {
  color: #f00;
}
.member-picture {
  position: relative;
  width: 640px;
  height: 288px;
  overflow: hidden;
}
.member-info {
  font-size: 9px;
  margin: 0 0 5px;
}
.member-info a {
  text-decoration: underline;
}
.member-info-content {
  font-weight: bold;
}
/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––structure*/
div.leftside {
  float: left;
  margin: 0 0 40px;
}
div.rightside {
  margin: 0 0 0 670px;
}
/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––map*/
div#map {
  width: 100%;
  height: 250px;
  background: #f2f2f2;
  -webkit-box-shadow: 0 0 3px #b3b3b3;
  -moz-box-shadow: 0 0 3px #b3b3b3;
  box-shadow: 0 0 3px #b3b3b3;
}
/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––posts*/
#posts {
  margin: 12px 0 0 0;
}
div.post {
  display: none;
  margin: 0 0 35px;
  width: 640px;
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 0.2s;
  -moz-animation-duration: 0.2s;
  -o-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}
div.post-title {
  margin: 0 0 10px 0;
  font-family: Title, Verdana, Arial, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #666;
}
div.post-mosaic {
  position: relative;
  overflow: hidden;
  width: 640px;
  height: 360px;
  background: #f2f2f2;
  -webkit-box-shadow: 0 0 3px #b3b3b3;
  -moz-box-shadow: 0 0 3px #b3b3b3;
  box-shadow: 0 0 3px #b3b3b3;
}
div.post-mosaic-wrap {
  position: absolute;
  overflow: hidden;
}
div.post-mosaic-wrap img {
  position: relative;
}
div.post-body {
  margin: 10px 0 0;
  padding: 0 30px 0 2px;
  font-size: 11px;
  line-height: 16px;
  color: #666;
}
div.post-info {
  margin: 10px 0 0;
  padding: 0 0 0 2px;
  font-size: 10px;
  line-height: 13px;
  color: #b3b3b3;
}
/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––comments*/
.comments {
  margin: 10px 0 0 0;
  border-bottom: 1px solid #eee;
  padding: 0 0 30px 20px;
}
.comment {
  width: 490px;
  min-height: 42px;
  margin: 0 0 2px 0;
  position: relative;
  background: #fcfcfb;
  display: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 0.2s;
  -moz-animation-duration: 0.2s;
  -o-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}
.comment-body {
  padding: 6px 5px 3px 5px;
}
.comment-body p {
  padding: 0 40px 0 37px;
  font-size: 11px;
  line-height: 15px;
  color: #666;
  margin: 0;
}
a.comment-avatar {
  position: relative;
  z-index: 1;
  float: left;
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 5px 5px 0 5px;
  background: none;
}
a.comment-avatar:hover {
  background: none;
}
a.comment-avatar img {
  -webkit-border-radius: 3px 0 9px 0;
  -moz-border-radius: 3px 0 9px 0;
  -webkit-border-radius: 3px 0 9px 0;
  -moz-border-radius: 3px 0 9px 0;
  border-radius: 3px 0 9px 0;
}
a.comment-avatar-small {
  display: block;
  height: 19px;
  white-space: nowrap;
  color: #b3b3b3;
  font-size: 11px;
  padding-bottom: 10px;
}
a.comment-avatar-small img {
  -webkit-border-radius: 2px 0 5px 0;
  -moz-border-radius: 2px 0 5px 0;
  -webkit-border-radius: 2px 0 5px 0;
  -moz-border-radius: 2px 0 5px 0;
  border-radius: 2px 0 5px 0;
}
a.comment-avatar-small:hover {
  text-decoration: none;
}
a.comment-avatar-small:hover span {
  text-decoration: underline;
}
a.comment-author {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #666;
  font-weight: bold;
  font-size: 11px;
  -webkit-text-shadow: 1px 1px 0 rgba(255,255,255,0.7);
  -moz-text-shadow: 1px 1px 0 rgba(255,255,255,0.7);
  text-shadow: 1px 1px 0 rgba(255,255,255,0.7);
}
.comment-info {
  position: relative;
  bottom: 0;
  padding-left: 42px;
}
.comment-created {
  white-space: nowrap;
  font-size: 11px;
  font-style: normal;
  color: #b3b3b3;
}
.comment-created a {
  color: #b3b3b3;
}
.comment-created a:hover {
  color: #4d4d4d;
}
img.comment-image {
  position: relative;
  display: block;
  max-height: 400px;
  max-width: 400px;
  margin: 5px 0 0 0;
}
textarea.comment-input {
  display: block;
  width: 430px;
  background: #fff;
  resize: none;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: height 0.2s;
  -webkit-transition-timing-function: height 0.2s;
  -moz-transition: height 0.2s;
  -moz-transition-timing-function: height 0.2s;
  transition: height 0.2s;
  transition-timing-function: height 0.2s;
}
/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––crags*/
div.map {
  width: 640px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
span.no-description {
  font-style: italic;
}
span.no-media {
  display: block;
  margin: 20px 0;
  font-style: italic;
}
div.ascent-filter {
  margin-top: 40px;
}
div.ascent-filter-buttons {
  width: 191px;
  float: right;
  margin-top: 42px;
  white-space: nowrap;
}
div.ascent-filter-buttons a.button {
  height: 39px;
  line-height: 40px;
  font-size: 14px;
  padding: 0 20px;
}
div.ascents-wrap {
  margin: 20px 0 0;
}
div.ascents-wrap span.no-results {
  display: none;
}
span.grade-heading {
  display: block;
  margin: 0 0 10px;
  font-family: Title, Verdana, Arial, sans-serif;
  font-size: 12px;
}
ul.ascents {
  margin: 0 0 20px;
}
ul.ascents a li {
  list-style: none;
  padding: 8px 7px 7px;
}
ul.ascents a li:hover {
  background: #fdfdfd !important;
}
ul.ascents a li:hover span {
  text-decoration: underline;
}
ul.ascents a:first-child li {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
ul.ascents a:last-child li {
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
span.ascent-grade {
  display: inline-block;
  width: 20px;
  padding: 0 10px 0 0;
  font-style: italic;
}
span.ascent-name {
  display: inline-block;
  font-weight: bold;
}
.leaflet-container a {
  color: #404040 !important;
  background: none !important;
}
/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––carousel*/
#fea-carousel,
#mem-carousel {
  padding: 20px 0 0 0;
}
#fea-carousel-wrap {
  width: 640px;
  height: 320px;
  position: relative;
  overflow: hidden;
}
#fea-carousel-holder {
  position: absolute;
  height: 2000em;
  opacity: 0;
}
#mem-carousel-wrap {
  width: 984px;
  height: 320px;
  position: relative;
  overflow: hidden;
}
#mem-carousel-holder {
  position: absolute;
  width: 2000em;
  opacity: 0;
}
#mem-carousel-holder > div {
  float: left;
}
/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-ms-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-ms-keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
