/* Island.IO */

// colors
green = #b1dc36
red = #d04c38
blue = #4bb8d7
pink = #d12b83
orange = #e76533

lightgreen = #eff8d7
lightred = #f6dbd7
lightblue = #59dbff

black = #1a1a1a
darkgray = #404040
gray = #808080
lightgray = #b3b3b3
textlight = #666666

bordergray = #cdcdcd
backgray = #fcfcfb
mattegray = #f2f2f2

// fonts
standard = Verdana, Arial, sans-serif
title = Title, Verdana, Arial, sans-serif

border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– fonts */  

@font-face
  font-family Title
  font-style normal
  -moz-font-smoothing antialiased
  -webkit-font-smoothing antialiased
  font-smoothing antialiased
  src url(../font/impact-webfont.eot)
  src url(../font/impact-webfont.eot?#iefix) format('embedded-opentype'),
    url(../font/impact-webfont.woff) format('woff'),
    url(../font/impact-webfont.ttf) format('truetype'),
    url(../font/impact-webfont.svg#ImpactRegular) format('svg')

/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– animations */

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}
@-moz-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}
@-o-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}
@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity:0; 
    -webkit-transform:translateY(20px)
  }
  100% {
    opacity:1;
    -webkit-transform:translateY(0)
  }
}
@-moz-keyframes fadeInUp {
  0% {
    opacity:0;
    -moz-transform:translateY(20px)
  }
  100% {
    opacity:1;
    -moz-transform:translateY(0)
  }
}
@-o-keyframes fadeInUp {
  0% {
    opacity:0;
    -o-transform:translateY(20px)
  }
  100% {
    opacity:1;
    -o-transform:translateY(0)
  }
}
@keyframes fadeInUp {
  0% {
    opacity:0;
    transform:translateY(20px)
  }
  100% {
    opacity:1;
    transform:translateY(0)
  }
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity:0; 
    -webkit-transform:translateY(-20px)
  }
  100% {
    opacity:1;
    -webkit-transform:translateY(0)
  }
}
@-moz-keyframes fadeInDown {
  0% {
    opacity:0;
    -moz-transform:translateY(-20px)
  }
  100% {
    opacity:1;
    -moz-transform:translateY(0)
  }
}
@-o-keyframes fadeInDown {
  0% {
    opacity:0;
    -o-transform:translateY(-20px)
  }
  100% {
    opacity:1;
    -o-transform:translateY(0)
  }
}
@keyframes fadeInDown {
  0% {
    opacity:0;
    transform:translateY(-20px)
  }
  100% {
    opacity:1;
    transform:translateY(0)
  }
}

/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– resets */

html
  color black
  background #f2f2f2
  height 100%
  min-height 100%

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td
  margin 0
  padding 0

table
  border-collapse collapse
  border-spacing 0

fieldset, img
  outline none
  border 0

img:focus
  outline none
  
img::-moz-focus-inner
  border none

li
  list-style none

h1, h2, h3, h4, h5, h6
  font-size 100%
  font-weight normal

q:before, q:after
  content ''

abbr, acronym
  border 0
  font-variant normal

sup
  vertical-align text-top

sub
  vertical-align text-bottom

input, textarea, select
  font-family inherit
  font-size inherit
  font-weight inherit

legend
  color black

header, footer, section, aside, nav, article
  display block

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––general*/

body
  background #f2f2f2
  color black
  font-family standard
  font-size 10px
  line-height 13px
  min-height 100%

a
  color darkgray
  background mattegray
  padding 0
  border none
  cursor pointer
  text-decoration none

a:hover
  background-color rgba(75, 184, 215, 0.25)

a:active
  background-color rgba(75, 184, 215, 0.35)

a:focus
  outline none

a::-moz-focus-inner, button::-moz-focus-inner
  border none

a.important
  background rgba(75, 184, 215, 0.25)

a.important:hover,
a.important.hover
  background rgba(75, 184, 215, 0.5)

a.important:active,
a.important.active
  background rgba(75, 184, 215, 0.6)

a.contact-download
  color pink
  font-size 16px
  font-weight bold

a.contact-link
  color blue
  font-weight bold

small
  font-size 9px
  line-height 12px
  color #808080

small a
  color #808080

h1.title-left
  display inline-block
  margin-left 30px
  font-size 16px
  font-weight normal
  line-height 40px
  color #404040
  font-family title
  text-transform uppercase

h1.title-right
  font-size 14px
  font-weight normal
  line-height normal
  color #404040
  padding 10px 0 0 0
  font-family title
  text-transform uppercase
  
h1.title-static
  font-size 16px
  font-weight normal
  line-height normal
  color #404040
  font-family title
  text-transform uppercase

h1.title-sub
  display inline-block
  font-size 10px
  padding 0 0 0 5px
  line-height 6px
  color #666
  font-weight bold

.created
  color lightgray
  font-size 9px
  display inline-block

.http-error
  display block
  margin-top 70px
  font-weight bold
  font-size 20px
  color #4d4d4d
  line-height 40px
  text-align center

.http-notice
  font-size 12px
  color #4d4d4d
  text-align center

.error-help
  text-align center
  font-weight bold
  margin-top 50px
  font-size 14px

.error-help a
  color #666

.clear
  clear both

.mask
  position absolute
  z-index 1

.masked
  position absolute
  z-index 0

.text-right
  text-align right

.leftside
  float left
  width 680px
  padding-right 40px
  padding-top 30px
  border-right 1px solid #f2f2f2

.rightside
  margin 0 0 0 720px
  width 334px

.leftside-heading,
.rightside-heading
  text-transform uppercase
  color #b3b3b3
  font-size 10px

.middle
  width 480px
  margin 0 auto 10px
  padding 0 30px 20px

span.empty-feed
  display inline-block
  width 100%
  margin 10px 0
  font-style italic
  color #b3b3b3
  text-align center

span.empty-list
  display inline-block
  margin 0 0 10px 0
  font-style italic
  color gray
  line-height 18px

.no-results
  font-style italic
  color gray

.input-error
  border 1px solid red !important

.info-delete
  color darkgray
  background mattegray
  cursor pointer
  color #666
  font-size 9px

.info-delete:hover
  background-color rgba(75, 184, 215, 0.25)

.info-delete:active
  background-color rgba(75, 184, 215, 0.5)

.info-divider
  font-size 8px
  color #b3b3b3
  
.info-item
  font-size 9px
  color #b3b3b3

p.page
  margin 0 0 30px 0
  color #4d4d4d
  font-size 12px
  line-height 18px

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––elements*/

label
  color #666
  font-size 11px
  font-weight bold

td
  white-space nowrap
  padding 2px 0 0 10px

::-webkit-input-placeholder
  color gray
:-moz-placeholder
  color gray
::-moz-placeholder
  color gray
:-ms-input-placeholder
  color gray

.placeholder
  color #aaa

textarea
  font-size 11px
  resize none
  font-weight normal
  -webkit-font-smoothing antialiased
  padding 8px
  border 1px solid bordergray
  color #404040
  vertical-align top

input[type=checkbox], input[type=radio]
  display inline

input[type=text]:not(.text),
input[type=search],
input[type=password]
  -moz-appearance none
  -moz-font-smoothing antialiased
  -webkit-appearance none
  -webkit-font-smoothing antialiased
  appearance none
  font-smoothing antialiased
  width 142px
  margin 0
  padding 8px
  font-size 12px
  display inline
  color darkgray
  border 1px solid bordergray
  border-radius 2px

input[type=text],
input[type=number],
input[type=email],
input[type=password],
input[type=tel],
input[type=search],
textarea
  background-color #fcfcfc
  -webkit-box-shadow inset 0 1px 2px rgba(0,0,0,0.075)
  -moz-box-shadow inset 0 1px 2px rgba(0,0,0,0.075)
  box-shadow inset 0 1px 2px rgba(0,0,0,0.075)

  -webkit-transition background-color 0.15s ease-in 0
  -moz-transition background-color 0.15s ease-in
  transition background-color 0.15s ease-in

  -webkit-transition border-color 0.15s ease-in 0
  -moz-transition border-color 0.15s ease-in
  transition border-color 0.15s ease-in

  -webkit-transition -webkit-box-shadow 0.15s ease-in 0
  -moz-transition -moz-box-shadow 0.15s ease-in
  transition box-shadow 0.15s ease-in

input[type=text]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=tel]:focus,
input[type=search]:focus,
textarea:focus
  background white
  border 1px solid blue
  outline none

  -webkit-box-shadow inset 0 1px 2px rgba(0,0,0,0.075),0 0 5px rgba(75, 184, 215, 0.5)
  -moz-box-shadow inset 0 1px 2px rgba(0,0,0,0.075),0 0 5px rgba(75, 184, 215, 0.5)
  box-shadow inset 0 1px 2px rgba(0,0,0,0.075),0 0 5px rgba(75, 184, 215, 0.5)

input[type=file]:focus
  border none
  outline none

input::-moz-focus-inner,
textarea::-moz-focus-inner
  border none

a.button,
button.button,
div[role=button],
input[type=submit]:not(.submit)
  font-size 12px
  padding 0 8px
  font-weight bold
  border-radius 2px

  min-width 48px
  line-height 30px
  min-height 30px
  outline 0
  text-align center
  display inline-block

  background-color #F1F1F1
  color #4d4d4d
  border 1px solid #A8A8A8

  -moz-user-select none
  -webkit-user-select none
  user-select none

  cursor pointer

  -moz-transition-timing-function ease-out
  -moz-transition-duration 100ms
  -webkit-transition-timing-function ease-out
  -webkit-transition-duration 100ms
  transition-timing-function ease-out
  transition-duration 100ms

input[type=submit].from-login
  color black
  border 1px solid black

a.button:hover:not(.disabled),
button.button:hover:not(.disabled),
div[role=button]:hover:not(.disabled),
input[type='submit']:hover:not(.disabled)
  color #1a1a1a
  -moz-box-shadow 0 0 2px rgba(0, 0, 0, 0.2)
  -webkit-box-shadow 0 0 2px rgba(0, 0, 0, 0.2)
  box-shadow 0 0 2px rgba(0, 0, 0, 0.2)
  border 1px solid #898989

a.button:active:not(.disabled),
button.button:active:not(.disabled),
div[role=button]:active:not(.disabled),
input[type='submit']:active:not(.disabled)
  color #1a1a1a
  -moz-box-shadow inset 0 0 2px rgba(0, 0, 0, 0.3)
  -webkit-box-shadow inset 0 0 2px rgba(0, 0, 0, 0.3)
  box-shadow inset 0 0 2px rgba(0, 0, 0, 0.3)
  border 1px solid #898989

a.button:focus:not(.disabled),
button.button:focus:not(.disabled),
div[role=button]:focus:not(.disabled),
input[type=submit]:focus:not(.disabled)
  border 1px solid #98c1e6

a.button.spinning,
button.button.spinning,
div[role=button].spinning,
input[type=submit].spinning:not(.submit)
  color #f1f1f1

input[type=submit].from-login:hover
  -moz-box-shadow 0 0 2px #1a1a1a
  -webkit-box-shadow 0 0 2px #1a1a1a
  box-shadow 0 0 2px #1a1a1a
  color black
  border 1px solid black

input[type=submit].from-login:active
  -moz-box-shadow none
  -webkit-box-shadow none
  box-shadow none
  color black
  border 1px solid black

button.button.modal-button,
input[type=submit].modal-button
  padding 0 20px
  margin-left 7px

button.button.modal-button.danger
  border 1px solid #1a1a1a
  color white

button.button.modal-button.continue
  border 1px solid #1a1a1a
  color white
  background #b1dc36

button.button.table-button
  width 100%
  margin 0

a.button-left,
button.button.button-left,
div[role=button].button-left,
input[type=submit].button-left
  border-right none !important
  border-radius 2px 0 0 2px

a.button-middle,
button.button.button-middle,
div[role=button].button-middle,
input[type=submit].button-middle
  margin-left -1px
  margin-right -1px
  border-radius 0
  z-index 1

a.button-right,
button.button.button-right,
div[role=button].button-right,
input[type=submit].button-right
  border-left none !important
  border-radius 0 2px 2px 0

a.button-left.selected,
a.button-middle.selected,
a.button-right.selected,
button.button.button-left.selected,
button.button.button-middle.selected,
button.button.button-right.selected,
div[role=button].button-left.selected,
div[role=button].button-middle.selected,
div[role=button].button-right.selected,
input[type=submit].button-left.selected,
input[type=submit].button-middle.selected,
input[type=submit].button-right.selected
  color #404040
  background blue
  border-color #404040 !important
  z-index 9
  
  -webkit-box-shadow inset 0 0 3px #808080
  -moz-box-shadow inset 0 0 3px #808080
  box-shadow inset 0 0 3px #808080

a.button-left.selected,
button.button.button-left.selected,
div[role=button].button-left.selected,
input[type=submit].button-left.selected
  border-right 1px solid #404040 !important

a.button-middle.selected,
button.button.button-middle.selected,
div[role=button].button-middle.selected,
input[type=submit].button-middle.selected
  border-left 1px solid #404040 !important
  border-right 1px solid #404040 !important

a.button-right.selected,
button.button.button-right.selected,
div[role=button].button-right.selected,
input[type=submit].button-right.selected
  border-left 1px solid #404040 !important

a.button-left.disabled,
a.button-middle.disabled,
a.button-right.disabled
  opacity 0.5
  cursor default

a.signin-strategy-btn,
a.signin-strategy-btn-disabled
  width 200px
  font-size 11px
  font-weight bold
  padding 0 0
  display block
  background rgba(51, 51, 51, 0.65)
  
  color #fcfcfc
  border 1px solid black !important
  border-radius 2px

a.facebook-btn,
a.facebook-btn-disabled
  background rgba(59, 89, 152, 0.65)

a.twitter-btn,
a.twitter-btn-disabled
  background rgba(60, 143, 201, 0.65)

a.instagram-btn,
a.instagram-btn-disabled
  background rgba(69, 63, 56, 0.65)

a.delete-btn,
button.button.danger
  background rgba(208, 76, 56, 0.9)

a.signin-strategy-btn-disabled
  cursor default
  opacity 0.65
  line-height 30px
  outline 0
  text-align center

a.signin-strategy-btn:hover
  background rgba(51, 51, 51, 0.75)
  color white !important

a.facebook-btn:hover
  background rgba(59, 89, 152, 0.75)

a.facebook-btn.from-login:hover
  background rgba(59, 89, 152, 1)

a.twitter-btn:hover
  background rgba(60, 143, 201, 0.75)

a.twitter-btn.from-login:hover
  background rgba(60, 143, 201, 1)

a.instagram-btn:hover
  background rgba(69, 63, 56, 0.75)

a.delete-btn:hover,
button.button.danger:hover
  background rgba(208, 76, 56, 1)

a.signin-strategy-btn:active
  background rgba(51, 51, 51, 0.55)

a.facebook-btn:active
  background rgba(59, 89, 152, 0.55)

a.twitter-btn:active
  background rgba(60, 143, 201, 0.55)

a.instagram-btn:active
  background rgba(69, 63, 56, 0.55)

a.delete-btn:active,
button.button.danger:active
  background rgba(208, 76, 56, 0.8)

a.signin-strategy-btn.from-login
  width 266px

a.buy-button
  float right
  color #404040
  border 1px solid #404040
  font-size 12px
  background #b1dc36
  margin-top -5px
  margin-right 0
  line-height 24px
  min-height 24px

a.buy-button:hover
  color #1a1a1a
  border 1px solid #1a1a1a

.folder-title a.buy-button
  margin-top 6px
  margin-right 30px

.feed-filter
  margin-right 6px
  margin-bottom 30px
  margin-left 30px
  white-space nowrap
  font-size 0
  display inline-block

a.feed-button
  font-size 11px
  line-height 22px
  min-height 22px
  width 72px
  position relative

  box-sizing border-box
  -moz-box-sizing border-box
  -webkit-box-sizing border-box

a.button.session-button,
button.button.session-button
  position relative
  display block
  color rgb(57, 100, 0)
  border 1px solid transparent
  font-size 14px
  margin 0 0 20px 0
  padding 5px 0
  background #b1dc36

a.button.session-button.spinning,
button.button.session-button.spinning
  color #b1dc36

button.button.session-button
  width 100%

a.button.session-button:hover:not(.disabled),
button.button.session-button:hover:not(.disabled)
  color rgb(47, 90, 0)
  border 1px solid transparent
  -moz-box-shadow 0 0 2px rgba(0, 0, 0, 0)
  -webkit-box-shadow 0 0 2px rgba(0, 0, 0, 0)
  box-shadow 0 0 2px rgba(0, 0, 0, 0)

a.button.session-button:active:not(.disabled),
button.button.session-button:active:not(.disabled)
  -moz-box-shadow inset 0 0 2px rgba(0, 0, 0, 0.3)
  -webkit-box-shadow inset 0 0 2px rgba(0, 0, 0, 0.3)
  box-shadow inset 0 0 2px rgba(0, 0, 0, 0.3)
  background rgb(167, 210, 44)

a.button.session-button.disabled,
button.button.session-button.disabled
  opacity 0.25

a.button.session-button i,
button.button.session-button i
  position absolute
  left 30px
  color rgb(127, 170, 4)

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––structure*/

.main
  margin 0

.wrap
  position relative
  min-height 100%
  height 100%

.wrap.animated
  -webkit-transition margin 0.3s
  -moz-transition margin 0.3s
  -ms-transition margin 0.3s
  -o-transition margin 0.3s
  transition margin 0.3s

.wrap.panel-open
  margin-right 220px

.folder
  position relative
  margin 40px auto 0
  width 1086px
  background none

.tabs
  position relative
  z-index 1
  border 1px solid #e6e6e6
  border-bottom none
  border-radius 2px 2px 0 0
  height 40px

.tabs ul,
.folder-title
  position relative
  height 39px
  list-style-type none
  display block
  font-size 0
  background #f9f9f9
  border-radius 2px 2px 0 0
  border-top 1px solid white

li.tab
  position relative
  display inline-block
  height 40px
  border-right 1px solid #e6e6e6
  margin-top -1px

li.tab a
  position relative
  top 4px
  display inline
  padding 10px 20px 11px
  background none
  color #666
  font-size 12px
  line-height 36px
  border-top 4px solid transparent

  -moz-user-select none
  -webkit-user-select none
  user-select none

  -webkit-transition all 0.2s
  -moz-transition all 0.2s
  -ms-transition all 0.2s
  -o-transition all 0.2s
  transition all 0.2s

li.tab a:hover
  background #fff
  color #333

li.tab ~ li.tab
  border-left 1px solid white

li.tab.active
  border-left none !important

li.tab.active a
  background #fff
  color #333
  border-top 4px solid blue
  padding-top 11px
  top 5px

.content
  position relative
  margin 0 auto 30px
  width 1024px
  min-height 500px
  padding 0 30px
  background #fff
  border-radius 2px
  border 1px solid #e6e6e6

.footer
  width 100%
  height 40px
  background #f2f2f2

.footer > div
  margin 0 auto
  width 1084px
  text-align right
  position relative

.footer small
  line-height 25px

.footer-logo
  position absolute
  left -6px
  top 0
  opacity 0.5

.panel
  position fixed
  z-index 1000
  top: 0
  bottom: 0
  right -220px
  width 220px
  height 100%
  overflow-y auto
  background #fcfcfb
  border-left 1px solid #e6e6e6

.panel.animated
  -webkit-transition right 0.3s
  -moz-transition right 0.3s
  -ms-transition right 0.3s
  -o-transition right 0.3s
  transition right 0.3s

.panel.open
  right 0

.page-spin
  position absolute
  z-index 2
  right 22px
  top 21px

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––header*/

.header
  width 100%
  background backgray
  border-bottom 1px solid bordergray

.header-inner
  position relative
  font-size 0
  margin 0 auto
  width 1084px
  height 50px
  white-space nowrap

a.logo
  float left
  height 50px
  padding 0 10px

a.logo img
  margin-top 2px

span.tagline
  float right
  margin 19px 10px 0 5px
  font-size 8px
  color #666
  font-weight bold

.divider-vertical
  float left
  width 1px
  height 50px
  background-color #e5e5e5

.divider-vertical.pad-left
  margin-left 10px

.divider-vertical.pad-right
  margin-right 10px

a.header-action
  position relative
  float left
  width 40px
  height 45px
  padding-top 5px
  text-align center
  line-height 40px
  font-size 14px

a.header-action span.unread
  // color blue

div.header-search
  float left
  position relative
  margin 12px 15px 0 0

input.header-search-input
  width 150px
  padding 5px
  font-size 12px

  -webkit-transition all 0.1s ease-in-out 0
  -moz-transition all 0.1s ease-in-out 0
  transition all 0.1s ease-in-out

.search-display
  display none
  position absolute
  top 100%
  left 0
  right 0
  z-index 10
  max-height 310px
  overflow-y auto
  
  border 1px solid #cdcdcd
  border-radius 0 0 2px 2px

  -webkit-box-shadow: 0 6px 18px 1px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 6px 18px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0 6px 18px 1px rgba(0, 0, 0, 0.12);

  -webkit-animation-name fadeIn
  -moz-animation-name fadeIn
  -o-animation-name fadeIn
  animation-name fadeIn
  -webkit-animation-duration .2s
  -moz-animation-duration .2s
  -o-animation-duration .2s
  animation-duration .2s
  -webkit-animation-fill-mode both
  -moz-animation-fill-mode both
  -o-animation-fill-mode both
  animation-fill-mode both

a.choice,
.search-choice
  position relative
  padding 8px
  margin-bottom -1px
  overflow hidden
  color #4d4d4d
  white-space nowrap
  border solid rgba(0,0,0,0.08)
  border-width 1px 0
  display block
  background white
  font-size 11px
  height 16px
  line-height 15px

.search-choice
  position absolute
  display none
  top 1px
  left 1px
  right 1px
  height 13px
  line-height 14px

.search-choice .choice-prefix
  margin-top -1px

.search-choice-clear
  position absolute
  z-index 1
  top 8px
  right 8px

a.choice:first-of-type
  border-radius 0

a.choice:last-child
  border-radius 0 0 3px 3px

a.choice.hover
  background-color lightgreen

a.choice:hover
  background-color #d0ecf2

a.choice:active
  background-color #adc9d0

a.choice.active
  background-color green

span.choice-prefix
  float left
  margin-right 7px

span.choice-prefix img
  border-radius 2px

span.choice-name i
  margin-right 5px
  margin-left -3px
  font-size 14px
  vertical-align -1px

ul.header-links
  float left
  margin 18px 10px 0 0

ul.header-links li
  display inline-block
  list-style-type none
  margin 0 15px 0 0

ul.header-links li a
  font-size 11px
  font-weight bold

ul.header-links li a:hover
  text-decoration none

.member-box
  width 174px
  float right
  white-space nowrap

a.header-avatar
  float left
  width 50px
  height 50px
  display inline-block
  background none

a.header-avatar img
  display block

a.header-avatar:hover
  opacity 0.8
  background none

a.signin-button
  float right
  width 90px
  margin-top 9px

a.signin-button:hover
  color #1a1a1a
  -moz-box-shadow 0 0 2px rgba(0, 0, 0, 0.2)
  -webkit-box-shadow 0 0 2px rgba(0, 0, 0, 0.2)
  box-shadow 0 0 2px rgba(0, 0, 0, 0.2)
  border 1px solid #898989

a.signin-button:active
  color #1a1a1a
  -moz-box-shadow inset 0 0 2px rgba(0, 0, 0, 0.3)
  -webkit-box-shadow inset 0 0 2px rgba(0, 0, 0, 0.3)
  box-shadow inset 0 0 2px rgba(0, 0, 0, 0.3)
  border 1px solid #898989

a.signin-button:focus
  border 1px solid #98c1e6

span.count
  display none
  position absolute
  left 19px
  top 12px
  padding 2px 3px
  color white
  background rgba(208,76,56, 0.8)
  font-size 8px
  line-height 8px
  border-radius 5px
  
  box-shadow 1px 1px rgba(0,0,0,0.2)
  -webkit-box-shadow 1px 1px rgba(0,0,0,0.2)
  -moz-box-shadow 1px 1px rgba(0,0,0,0.2)

  -webkit-animation-name fadeIn
  -moz-animation-name fadeIn
  -o-animation-name fadeIn
  animation-name fadeIn
  -webkit-animation-duration .2s
  -moz-animation-duration .2s
  -o-animation-duration .2s
  animation-duration .2s
  -webkit-animation-fill-mode both
  -moz-animation-fill-mode both
  -o-animation-fill-mode both
  animation-fill-mode both

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––messages*/

.block-messages
  position relative
  margin 0 auto
  width 1024px
  white-space nowrap

.block-remove
  float right
  cursor pointer
  padding 0 5px
  line-height 30px
  color #666

  -moz-user-select none
  -webkit-user-select none
  user-select none

.block-remove:hover
  background rgba(0,0,0,0.1)

.block-remove:active
  background rgba(0,0,0,0.15)

.block-messages li
  position relative
  list-style-type none
  border 1px solid #e5e5e5
  border-top none

  -webkit-animation-name fadeIn
  -moz-animation-name fadeIn
  -o-animation-name fadeIn
  animation-name fadeIn
  -webkit-animation-duration .2s
  -moz-animation-duration .2s
  -o-animation-duration .2s
  animation-duration .2s
  -webkit-animation-fill-mode both
  -moz-animation-fill-mode both
  -o-animation-fill-mode both
  animation-fill-mode both

.block-error
  background #e6e6e6

.block-alert
  background lightgreen

.block-error-txt,
.block-alert-txt
  font-size 10px
  padding 0 10px
  color #4d4d4d
  font-weight bold
  line-height 30px

.block-error-txt
  color red

.block-error-txt a
  color white
  background rgba(208, 76, 56, 0.8)

.block-error-txt a:hover
  background rgba(208, 76, 56, 0.6)

.block-error-txt a:active
  background red

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––checkboxes*/

.checkbox-styled
  display block

.checkbox-styled input[type="checkbox"]
  display none

.checkbox-styled input[type="checkbox"] + span
  display block
  position relative
  background #fcfcfc
  color #4d4d4d
  font-size 10px
  text-align center
  width 100%
  line-height 33px
  margin-top -10px
  border-radius 2px
  cursor pointer

  -moz-user-select none
  -webkit-user-select none
  user-select none

  -webkit-transition background-color 0.15s ease-in 0
  -moz-transition background-color 0.15s ease-in
  transition background-color 0.15s ease-in

  -webkit-transition border-color 0.15s ease-in 0
  -moz-transition border-color 0.15s ease-in
  transition border-color 0.15s ease-in

  -webkit-transition -webkit-box-shadow 0.15s ease-in 0
  -moz-transition -moz-box-shadow 0.15s ease-in
  transition box-shadow 0.15s ease-in

.checkbox-styled input[type="checkbox"] + span i
  display none

  -webkit-animation-name fadeIn
  -moz-animation-name fadeIn
  -o-animation-name fadeIn
  animation-name fadeIn
  -webkit-animation-duration .2s
  -moz-animation-duration .2s
  -o-animation-duration .2s
  animation-duration .2s
  -webkit-animation-fill-mode both
  -moz-animation-fill-mode both
  -o-animation-fill-mode both
  animation-fill-mode both

.checkbox-styled input[type="checkbox"] + span i:after
  margin-left 0

.checkbox-styled input[type="checkbox"] + span:active
  -moz-box-shadow inset 0 0 2px rgba(0, 0, 0, 0.3)
  -webkit-box-shadow inset 0 0 2px rgba(0, 0, 0, 0.3)
  box-shadow inset 0 0 2px rgba(0, 0, 0, 0.3)

.checkbox-styled input[type="checkbox"]:checked + span
  background #d0ecf2

  -moz-box-shadow inset 0 0 2px rgba(0, 0, 0, 0.3)
  -webkit-box-shadow inset 0 0 2px rgba(0, 0, 0, 0.3)
  box-shadow inset 0 0 2px rgba(0, 0, 0, 0.3)

.checkbox-styled input[type="checkbox"][value="sent"]:checked + span
  background green

.checkbox-styled input[type="checkbox"]:checked + span i
  display inline-block

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––selects*/

.select-hidden
  display none
  visibility hidden
  padding-right 10px

.select
  cursor pointer
  display block
  position relative
  font-size 11px
  line-height 15px
  color #4d4d4d
  width 100%
  height 33px

  -moz-user-select none
  -webkit-user-select none
  user-select none

  box-sizing border-box
  -moz-box-sizing border-box
  -webkit-box-sizing border-box

.select-styled
  position absolute
  top 0
  right 0
  bottom 0
  left 0
  background-color #fcfcfc
  padding 8px

  border 1px solid #cdcdcd
  border-radius 2px

  -webkit-box-shadow inset 0 1px 2px rgba(0,0,0,0.075)
  -moz-box-shadow inset 0 1px 2px rgba(0,0,0,0.075)
  box-shadow inset 0 1px 2px rgba(0,0,0,0.075)

  -webkit-transition background-color 0.15s ease-in 0
  -moz-transition background-color 0.15s ease-in
  transition background-color 0.15s ease-in

  -webkit-transition border-color 0.15s ease-in 0
  -moz-transition border-color 0.15s ease-in
  transition border-color 0.15s ease-in

  -webkit-transition -webkit-box-shadow 0.15s ease-in 0
  -moz-transition -moz-box-shadow 0.15s ease-in
  transition box-shadow 0.15s ease-in

.select-styled:after
  content ""
  width 0
  height 0
  border 5px solid transparent
  border-color #4d4d4d transparent transparent transparent
  position absolute
  top 14px
  right 10px

.select-styled:hover
  background-color #d0ecf2

.select-styled:active,
.select-styled.active
  background-color #fff

  border 1px solid blue
  outline none

  -webkit-box-shadow inset 0 1px 2px rgba(0,0,0,0.075),0 0 5px rgba(75, 184, 215, 0.5)
  -moz-box-shadow inset 0 1px 2px rgba(0,0,0,0.075),0 0 5px rgba(75, 184, 215, 0.5)
  box-shadow inset 0 1px 2px rgba(0,0,0,0.075),0 0 5px rgba(75, 184, 215, 0.5)

.select-styled:active:after,
.select-styled.active:after
  top 8px
  border-color transparent transparent #4d4d4d transparent

.select-options
  display none
  position absolute
  top 100%
  right 0
  left 0
  z-index 999
  margin 0
  padding 0
  list-style none
  background-color #fcfcfc
  border 1px solid #cdcdcd
  max-height 310px
  overflow-y auto

  border-radius 0 0 2px 2px

  -webkit-box-shadow 0 6px 18px 1px rgba(0, 0, 0, 0.12)
  -moz-box-shadow 0 6px 18px 1px rgba(0, 0, 0, 0.12)
  box-shadow 0 6px 18px 1px rgba(0, 0, 0, 0.12)

  -webkit-animation-name fadeIn
  -moz-animation-name fadeIn
  -o-animation-name fadeIn
  animation-name fadeIn
  -webkit-animation-duration .2s
  -moz-animation-duration .2s
  -o-animation-duration .2s
  animation-duration .2s
  -webkit-animation-fill-mode both
  -moz-animation-fill-mode both
  -o-animation-fill-mode both
  animation-fill-mode both

.select-options li
  margin 0
  padding 8px
  line-height 15px
  border-top 1px solid rgba(0,0,0,0.08)

.select-options li:hover
  background #d0ecf2

.select-options li:active
  background #adc9d0

.select-options li[rel="hide"]
  display none

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––privacy*/

span.privacy-indent
  margin-left 10px
  display block

a.privacy-link
  background none

a.privacy-link:hover
  text-decoration underline

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––signin*/

.saved-ghost
  display none

.form-iframe
  display none

#roll
  position absolute
  z-index -1
  overflow hidden
  width 856px
  height 482px
  left -78px
  top 0
  background #4d4d4d

.signin
  width 700px
  height 482px
  position relative
  overflow hidden

.signin-outer
  position relative
  width 100%
  height 482px
  z-index 100001

.signin-inner
  width 640px
  height 412px
  margin 0 auto
  background rgba(242,242,242,0.4)
  padding 20px 30px 50px

.signin-logo
  width 100%
  margin-bottom 20px

.signin-logo img
  margin 0 auto
  display block

.signin-strategies
  margin 0 auto
  width 568px

.signin-strategies table
  margin 0 auto

.signin-strategies td
  padding 0
  text-align center

.signin-forms
  margin 0 auto
  width 568px

.signin-forms h1.title-static
  font-size 14px
  margin-bottom 5px

.signin-forms form
  background rgba(255,255,255,0.6)
  border-radius 2px
  padding 10px

  -webkit-transition background 0.2s
  -webkit-transition-timing-function background 0.2s
  -moz-transition background 0.2s
  -moz-transition-timing-function background 0.2s
  transition background 0.2s
  transition-timing-function background 0.2s

.signin-forms form.highlight
  background #fff

.signin-forms td
  padding 0 0 5px 0

.signin-forms td input[type=text],
.signin-forms td input[type=password]
  width 230px
  padding 8px
  margin-bottom 2px
  font-size 12px

.signin-forms td input[type=text].saved,
.signin-forms td input[type=password].saved
  background #faffbd !important

.signin-forms td input[type=submit]
  width 248px
  margin-top 8px

span.signin-error
  color red
  font-size 10px
  vertical-align -1px

  -webkit-animation-name fadeIn
  -moz-animation-name fadeIn
  -o-animation-name fadeIn
  animation-name fadeIn
  -webkit-animation-duration .2s
  -moz-animation-duration .2s
  -o-animation-duration .2s
  animation-duration .2s
  -webkit-animation-fill-mode both
  -moz-animation-fill-mode both
  -o-animation-fill-mode both
  animation-fill-mode both

.password-reset span.signin-error
  vertical-align -16px

.password-reset input[type=submit]
  width 100%

.signin-or
  font-style italic
  line-height 40px
  font-weight bold
  font-size 12px

.signin-link
  position absolute
  bottom 0
  right 0
  background rgba(255, 255, 255, 0.6)
  color #4d4d4d
  font-weight bold
  font-size 9px

.signin-form
  margin 0 0 0 300px

.signup-form
  float left

.signin-spin
  position absolute
  top 50%
  left 50%

.forgot-password
  margin-top 10px
  display block
  text-align center

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––signin*/

.session
  width 100%
  margin-top 10px
  position relative

.session table
  table-layout fixed
  width 100%

.session tr td.session-cell
  padding 0 10px 5px 0

.session tr td.session-cell:last-child
  padding 0 0 5px 0

.session tr.session-row-nopad td.session-cell
  padding-bottom 0

.session td.session-cell input,
.session td.session-cell select
  width 100%
  margin-bottom 10px
  font-size 12px

  box-sizing border-box
  -moz-box-sizing border-box
  -webkit-box-sizing border-box

.session td.session-cell textarea
  width 100%
  margin-bottom 10px
  font-size 12px
  line-height 18px
  border-radius 2px
  min-height 60px
  resize none
  overflow hidden

  box-sizing border-box
  -moz-box-sizing border-box
  -webkit-box-sizing border-box

.session-search
  position relative

.session-search .search-display
  margin-top -10px

.session-activities
  width 100%
  margin-bottom 10px

.session-ticks
  display none
  width 100%
  margin-top 10px

  -webkit-animation-name fadeIn
  -moz-animation-name fadeIn
  -o-animation-name fadeIn
  animation-name fadeIn
  -webkit-animation-duration .2s
  -moz-animation-duration .2s
  -o-animation-duration .2s
  animation-duration .2s
  -webkit-animation-fill-mode both
  -moz-animation-fill-mode both
  -o-animation-fill-mode both
  animation-fill-mode both

.session-activity,
.session-tick
  position relative
  background #fcfcfc
  padding 10px
  border-radius 2px

  box-sizing border-box
  -moz-box-sizing border-box
  -webkit-box-sizing border-box

.session-activity
  margin-bottom 10px
  border-top 1px solid #cdcdcd

.session-tick
  background #f2f2f2
  margin-bottom 2px
  padding-bottom 0
  border-left 1px solid #cdcdcd

.session-tick.hidden
  display none

.session-ticks .session-tick:not(.hidden) + button
  margin-top 8px

.session-activity table,
.session-tick table
  margin 0 auto

.session-tick-details
  display none

  -webkit-animation-name fadeIn
  -moz-animation-name fadeIn
  -o-animation-name fadeIn
  animation-name fadeIn
  -webkit-animation-duration .2s
  -moz-animation-duration .2s
  -o-animation-duration .2s
  animation-duration .2s
  -webkit-animation-fill-mode both
  -moz-animation-fill-mode both
  -o-animation-fill-mode both
  animation-fill-mode both

.session tr.session-tick-details td.session-cell
  padding-bottom 10px

.session-activity-clear,
.session-tick-clear
  position absolute
  top 0
  color #808080

.session-activity-clear
  top -1px
  left -20px
  font-size 12px
  padding 4px 2px
  background #fcfcfc
  border-top 1px solid #cdcdcd

.session-tick-clear
  right 0
  padding 3px 2px

button.tick-button,
button.activity-button
  border 1px solid transparent
  color #808080

button.tick-button i,
button.activity-button i
  font-size 11px

.session-error
  display none
  color red
  font-size 10px
  text-align right
  margin-top 10px

  -webkit-animation-name fadeIn
  -moz-animation-name fadeIn
  -o-animation-name fadeIn
  animation-name fadeIn
  -webkit-animation-duration .2s
  -moz-animation-duration .2s
  -o-animation-duration .2s
  animation-duration .2s
  -webkit-animation-fill-mode both
  -moz-animation-fill-mode both
  -o-animation-fill-mode both
  animation-fill-mode both

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––map*/

.map
  position relative
  width 100%
  height 250px
  background #fff

  -webkit-box-shadow 0 0 3px #b3b3b3
  -moz-box-shadow 0 0 3px #b3b3b3
  box-shadow 0 0 3px #b3b3b3

.map.animated
  -webkit-transition height 0.3s
  -webkit-transition-timing-function height 0.3s
  -moz-transition height 0.3s
  -moz-transition-timing-function height 0.3s
  transition height 0.3s
  transition-timing-function height 0.3s

.map.closed
  height 0px

.map.opened
  height 600px

.map.plotting .cartodb-map-wrapper
  cursor crosshair !important

.map-spin
  position absolute
  top 50%
  left 50%

.map-inner
  width 100%
  height 100%

  -webkit-animation-name fadeIn
  -moz-animation-name fadeIn
  -o-animation-name fadeIn
  animation-name fadeIn
  -webkit-animation-duration .3s
  -moz-animation-duration .3s
  -o-animation-duration .3s
  animation-duration .3s
  -webkit-animation-fill-mode both
  -moz-animation-fill-mode both
  -o-animation-fill-mode both
  animation-fill-mode both

.map-control
  position absolute
  bottom -21px
  width 100%

.map-control div
  position relative
  left 50%
  width 145px

.map-control a.button
  position relative
  left -36px
  font-size 9px
  background none
  color #666
  width 55px
  height 20px
  line-height 21px
  border-radius 0 0 2px 2px
  border-top none
  min-height inherit

.map-control a.split-left
  left -72px
  border-radius 0 0 0 2px
  border-right none

.map-control a.split-left:hover
  border-right none

.map-control a.split-right
  left -72px
  border-radius 0 0 2px 0

a.plot-button
  visibility hidden
  display none
  position absolute
  z-index 1
  left 57px
  top 20px
  color #999
  border 1px solid #999
  background white
  min-width 0
  font-size 14px
  line-height 57px
  height 57px

  border-radius 4px

  -webkit-box-shadow rgba(0, 0, 0, 0.2) 0 0 4px 2px
  -moz-box-shadow rgba(0, 0, 0, 0.2) 0 0 4px 2px
  box-shadow rgba(0, 0, 0, 0.2) 0 0 4px 2px

  -webkit-animation-name fadeIn
  -moz-animation-name fadeIn
  -o-animation-name fadeIn
  animation-name fadeIn
  -webkit-animation-duration .3s
  -moz-animation-duration .3s
  -o-animation-duration .3s
  animation-duration .3s
  -webkit-animation-fill-mode both
  -moz-animation-fill-mode both
  -o-animation-fill-mode both
  animation-fill-mode both

a.plot-button i
  font-size 20px

a.plot-button [class^="icon-"]:before, [class*=" icon-"]:before
  margin 0

a.plot-button:hover
  color #666 !important

  -webkit-box-shadow rgba(0, 0, 0, 0.2) 0 0 4px 2px !important
  -moz-box-shadow rgba(0, 0, 0, 0.2) 0 0 4px 2px !important
  box-shadow rgba(0, 0, 0, 0.2) 0 0 4px 2px !important

a.plot-button:active
  -webkit-box-shadow rgba(0, 0, 0, 0.1) 0 0 4px 2px !important
  -moz-box-shadow rgba(0, 0, 0, 0.1) 0 0 4px 2px !important
  box-shadow rgba(0, 0, 0, 0.1) 0 0 4px 2px !important

a.plot-button.active
  padding 0 20px

.plot-spin
  display none
  top 50%
  left 50%
  position absolute

.plot-form
  display none
  position absolute
  z-index 1
  left 57px
  top 20px
  border 1px solid #999
  background white
  padding 0 5px 5px 0

  border-radius 4px

  -webkit-box-shadow rgba(0, 0, 0, 0.2) 0 0 4px 2px
  -moz-box-shadow rgba(0, 0, 0, 0.2) 0 0 4px 2px
  box-shadow rgba(0, 0, 0, 0.2) 0 0 4px 2px

  -webkit-animation-name fadeIn
  -moz-animation-name fadeIn
  -o-animation-name fadeIn
  animation-name fadeIn
  -webkit-animation-duration .3s
  -moz-animation-duration .3s
  -o-animation-duration .3s
  animation-duration .3s
  -webkit-animation-fill-mode both
  -moz-animation-fill-mode both
  -o-animation-fill-mode both
  animation-fill-mode both

.plot-form td
  padding 5px 0 0 5px

.plot-form a.button
  width 142px

.plot-form span
  font-style italic
  color #666

.cartodb-zoom
  display none !important

  -moz-user-select none
  -webkit-user-select none
  user-select none

  -webkit-animation-name fadeIn
  -moz-animation-name fadeIn
  -o-animation-name fadeIn
  animation-name fadeIn
  -webkit-animation-duration .3s
  -moz-animation-duration .3s
  -o-animation-duration .3s
  animation-duration .3s
  -webkit-animation-fill-mode both
  -moz-animation-fill-mode both
  -o-animation-fill-mode both
  animation-fill-mode both

.leaflet-div-icon
  border 2px solid #f2f2f2
  border-radius 2px

  -webkit-box-shadow 0 5px 20px rgba(0,0,0,0.5)
  -moz-box-shadow 0 5px 20px rgba(0,0,0,0.5)
  box-shadow 0 5px 20px rgba(0,0,0,0.5)

.leaflet-div-icon:after
  content ' '
  height 0
  position absolute
  width 0
  top 100%
  left 50%
  margin-left -8px

  border 8px solid transparent
  border-top-color #f2f2f2

.cartodb-logo
  z-index auto !important

.cartodb-popup .cartodb-popup-content-wrapper
  height 38px !important

.leaflet-container
  background none !important

#zoom
  top 100px

#tiles_loader
  top 100px

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––spins*/

.list-spin
  width 100%

.list-spin .empty-feed
  display none
  line-height 40px

.list-spin > div
  width 50px
  height 60px
  margin 0 auto

.button-spin
  position absolute
  top 17px
  left 43px

.session-button .button-spin
  top 20px
  left 50%

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––page titles*/

.page-title
  margin 0 0 5px 0
  font-family title
  font-size 18px
  text-transform uppercase
  color #666
  line-height normal
  height 22px

.folder-title .page-title
  margin 0 0 0 30px
  font-family title
  font-size 21px
  text-transform uppercase
  color #666
  line-height 40px

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––modal*/

.modal
  position relative
  background white
  width 500px
  border-radius 2px

.modal-title
  display block
  background #f2f2f2
  padding 20px 0
  font-size 16px
  font-weight bold
  text-align center
  border-bottom 1px solid #ccc
  border-radius 2px 2px 0 0

  -moz-user-select none
  -webkit-user-select none
  user-select none
  cursor default

  -webkit-box-shadow inset 0 1px 0 white
  -moz-box-shadow inset 0 1px 0 white
  box-shadow inset 0 1px 0 white

  background-image linear-gradient(bottom, #F2F2F2 100%, #E6E6E6 0%)
  background-image -o-linear-gradient(bottom, #F2F2F2 100%, #E6E6E6 0%)
  background-image -moz-linear-gradient(bottom, #F2F2F2 100%, #E6E6E6 0%)
  background-image -webkit-linear-gradient(bottom, #F2F2F2 100%, #E6E6E6 0%)
  background-image -ms-linear-gradient(bottom, #F2F2F2 100%, #E6E6E6 0%)
  background-image -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(1, #F2F2F2),
    color-stop(0, #E6E6E6)
  )

.modal-title > img
  vertical-align -5px

.modal-body
  padding 30px

.modal-body > p
  font-size 12px
  line-height 18px
  color #4d4d4d

.modal-body td
  padding 0 0 5px 0

.modal-actions
  border-top 1px solid #ddd
  padding 15px 30px
  text-align right
  background #fafafa
  border-radius 0 0 2px 2px
  font-size 0
  
  -webkit-box-shadow inset 0 1px 0 white
  -moz-box-shadow inset 0 1px 0 white
  box-shadow inset 0 1px 0 white

.modal-actions span
  font-size 10px
  float left
  margin 20px 0 0 0

button.button.modal-button.full
  width 100%
  margin 0

.modal-overlay
  display none
  position absolute
  top 0
  left 0
  z-index 1
  background white
  width 100%
  height 100%
  border-radius 2px

.modal-overlay > p
  text-align center
  padding 15px 20px
  margin-top 15%
  font-weight bold
  font-size 16px

.forgot .modal-overlay > p
  margin-top 19%

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––profiles*/

.profiles
  margin-left -30px

.profile
  position relative
  display none
  width 680px
  margin-bottom 30px
  padding 0 40px 30px 30px
  border-bottom 1px solid #f2f2f2

  -webkit-animation-name fadeIn
  -moz-animation-name fadeIn
  -o-animation-name fadeIn
  animation-name fadeIn
  -webkit-animation-duration .2s
  -moz-animation-duration .2s
  -o-animation-duration .2s
  animation-duration .2s
  -webkit-animation-fill-mode both
  -moz-animation-fill-mode both
  -o-animation-fill-mode both
  animation-fill-mode both

.profile:last-child
  margin 0
  padding 0 40px 0 30px
  border none

.profile.single
  margin 0 0 30px 0
  padding 0

.profile.company
  width 1024px
  margin 0 0 30px 0

.profile.company .profile-inner
  float left
  width 680px

.profile-sidebar
  margin 0 0 0 700px

ul.profile-team
  margin-top 14px
  font-size 0

ul.profile-team li
  width 140px
  height 140px
  margin 0 2px 2px 0
  list-style-type none
  float left

ul.profile-team li:hover img
  opacity 0.7

.profile-info
  margin 15px 0 30px 0

.profile .profile-picture
  position relative
  width 680px
  height 288px
  overflow hidden

.profile.single .profile-picture
  width 1024px
  height 576px

.profile-description p
  font-size 14px
  line-height 24px
  margin-bottom 15px

.profile-description span
  font-size 10px

.profile-description a
  text-decoration underline

.profile-links
  font-weight bold

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––posts*/

.posts
  margin-left -30px

.post-input + .feed-filter
  margin-top 30px

.post
  position relative
  display none
  width 680px
  margin-bottom 30px
  padding 0 40px 30px 30px
  border-bottom 1px solid #f2f2f2

  -webkit-animation-name fadeIn
  -moz-animation-name fadeIn
  -o-animation-name fadeIn
  animation-name fadeIn
  -webkit-animation-duration .2s
  -moz-animation-duration .2s
  -o-animation-duration .2s
  animation-duration .2s
  -webkit-animation-fill-mode both
  -moz-animation-fill-mode both
  -o-animation-fill-mode both
  animation-fill-mode both

.post:last-child
  margin 0
  padding 0 40px 0 30px
  border none

.post.single
  width 1024px
  margin-top 30px
  margin-bottom 30px
  padding 0

.page-title span.post-title-photos
  color blue

.page-title span.post-title-video
  color red

.post .post-mosaic
  position relative
  overflow hidden
  width 680px
  height 383px
  background mattegray

  border-radius 2px

.post.single .post-mosaic
  width 1024px
  height 576px

.post-mosaic-wrap
  position absolute
  overflow hidden
  background #4d4d4d

a.post-avatar
  background none
  display block

a.post-avatar img,
img.profile-avatar
  position absolute
  top 27px
  left 30px
  z-index 1
  width 48px
  height 48px
  border-radius 2px 0

  -webkit-box-shadow 2px 2px 2px rgba(0,0,0,0.1)
  -moz-box-shadow 2px 2px 2px rgba(0,0,0,0.1)
  box-shadow 2px 2px 2px rgba(0,0,0,0.1)

.single > a.post-avatar img
  top 0
  left 0

img.profile-avatar
  top 0
  left 0

.post-mosaic-wrap img
  position relative

.post-mosaic-wrap:hover img
  opacity 0.7

.post-mosaic-wrap:active img
  opacity 0.5

.post img.post-mosaic-play
  position absolute !important
  left 100px
  top 100px
  opacity 0.9

.post img.post-mosaic-play.trailer
  top 75px

.post.single img.post-mosaic-play
  left 197px
  top 197px

.post.single img.post-mosaic-play.trailer
  top 172px

.post span.post-mosaic-play-text
  position absolute
  z-index 2
  color white
  opacity 0.8
  font-size 30px
  top 221px
  left 113px
  font-weight bold

  -moz-user-select none
  -webkit-user-select none
  user-select none

.post.single span.post-mosaic-play-text
  top 318px
  left 210px

.post .post-body
  margin 10px 0 0
  font-size 12px
  line-height 20px
  color #4d4d4d

.post .post-body p
  margin-bottom 10px

.post.single .post-body
  margin 10px 0 0
  font-size 16px
  line-height 26px

.post.single .post-body p
  margin-bottom 15px

.post-info
  margin 10px 0 0
  font-size 10px
  line-height 13px
  color #808080

.post-input .post
  width 710px
  padding 0

span.post-input-avatar,
a.post-input-avatar
  position relative
  z-index 1
  float left
  display inline-block
  width 50px
  height 50px
  margin 0 8px 0 -50px
  background none

a.post-input-avatar:hover
  background none

span.post-input-avatar img,
a.post-input-avatar img
  border-radius 2px 0 0 2px

.post-input-wrap
  background #f9f9f9
  border-radius 0 2px 2px 2px
  padding 8px 8px 5px 8px

.post-dnd
  display inline-block
  border 1px solid bordergray
  border-radius 2px

.post-dnd.focus
  border 1px solid #404040

.post-dnd.dragging
  border 1px solid pink

  -moz-box-shadow 0 0 4px rgba(209, 43, 131, 0.5)
  -webkit-box-shadow 0 0 4px rgba(209, 43, 131, 0.5)
  box-shadow 0 0 4px rgba(209, 43, 131, 0.5)

.post-select
  display none
  position relative
  padding 5px
  color #666
  border-top 1px dashed bordergray
  background #fcfcfc
  border-radius 0 0 2px 2px

input.file-chooser
  position absolute
  opacity 0.0001
  cursor pointer
  width 240px

input.post-file-chooser
  left 192px

input.banner-file-chooser
  z-index 2
  right 0
  bottom 0
  width 319px
  height 23px

a.banner-file-chooser-dummy
  position absolute
  z-index 1
  right 0
  bottom 0
  color #fcfcfc
  padding 5px
  font-size 11px

textarea.post-input,
textarea.comment-input
  display block
  width 676px
  background #fff
  resize none
  overflow hidden
  font-size 12px

  border-radius 2px

textarea.post-input
  line-height 18px
  border none

  -webkit-transition min-height 0.2s
  -webkit-transition-timing-function min-height 0.2s
  -moz-transition min-height 0.2s
  -moz-transition-timing-function min-height 0.2s
  transition min-height 0.2s
  transition-timing-function min-height 0.2s

textarea.comment-input
  -webkit-transition height 0.2s
  -webkit-transition-timing-function height 0.2s
  -moz-transition height 0.2s
  -moz-transition-timing-function height 0.2s
  transition height 0.2s
  transition-timing-function height 0.2s

table.post-params
  display none
  width 694px
  margin 8px 0 3px 0

table.post-params td
  padding 0 20px 0 0

table.post-params td.last
  width 160px
  padding 0
  text-align right

table.post-params label
  vertical-align -1px

.post-button
  width 100px
  background blue
  color #404040
  border 1px solid #404040

.post-button:hover:not(.disabled)
  color #1a1a1a
  border 1px solid #1a1a1a

  -moz-box-shadow 0 0 2px rgba(0, 0, 0, 0.4)
  -webkit-box-shadow 0 0 2px rgba(0, 0, 0, 0.4)
  box-shadow 0 0 2px rgba(0, 0, 0, 0.4)

.post-button:active:not(.disabled)
  -moz-box-shadow inset 0 0 2px rgba(0, 0, 0, 0.5)
  -webkit-box-shadow inset 0 0 2px rgba(0, 0, 0, 0.5)
  box-shadow inset 0 0 2px rgba(0, 0, 0, 0.5)

.post-button:focus:not(.disabled)
  color #1a1a1a
  border 1px solid #1a1a1a

  -moz-box-shadow 0 0 2px rgba(0, 0, 0, 0.4)
  -webkit-box-shadow 0 0 2px rgba(0, 0, 0, 0.4)
  box-shadow 0 0 2px rgba(0, 0, 0, 0.4)

.post-button.disabled
  background-color #F1F1F1
  color #4d4d4d
  border 1px solid #A8A8A8

.upload-progress-wrap
  position relative
  width 692px
  height 24px
  color #666
  border-top 1px solid #f2f2f2
  background #fcfcfc
  border-radius 0 0 2px 2px
  text-align right
  white-space nowrap

  -webkit-animation-name fadeIn
  -moz-animation-name fadeIn
  -o-animation-name fadeIn
  animation-name fadeIn
  -webkit-animation-duration .2s
  -moz-animation-duration .2s
  -o-animation-duration .2s
  animation-duration .2s
  -webkit-animation-fill-mode both
  -moz-animation-fill-mode both
  -o-animation-fill-mode both
  animation-fill-mode both

.upload-progress
  height 100%
  width 0%

  background-color rgba(75, 184, 215, 0.6)
  content ""
  position absolute
  top 0
  left 0
  bottom 0
  right 0
  background-image: 
     -webkit-gradient(linear, 0 0, 100% 100%, 
        color-stop(.25, rgba(255, 255, 255, .2)), 
        color-stop(.25, transparent), color-stop(.5, transparent), 
        color-stop(.5, rgba(255, 255, 255, .2)), 
        color-stop(.75, rgba(255, 255, 255, .2)), 
        color-stop(.75, transparent), to(transparent)
     );
  background-image: 
    -webkit-linear-gradient(
      -45deg, 
        rgba(255, 255, 255, .2) 25%, 
        transparent 25%, 
        transparent 50%, 
        rgba(255, 255, 255, .2) 50%, 
        rgba(255, 255, 255, .2) 75%, 
        transparent 75%, 
        transparent
     );
  background-image: 
    -moz-linear-gradient(
      -45deg, 
        rgba(255, 255, 255, .2) 25%, 
        transparent 25%, 
        transparent 50%, 
        rgba(255, 255, 255, .2) 50%, 
        rgba(255, 255, 255, .2) 75%, 
        transparent 75%, 
        transparent
     );
  background-image: 
    -ms-linear-gradient(
      -45deg, 
        rgba(255, 255, 255, .2) 25%, 
        transparent 25%, 
        transparent 50%, 
        rgba(255, 255, 255, .2) 50%, 
        rgba(255, 255, 255, .2) 75%, 
        transparent 75%, 
        transparent
     );
  background-image: 
    -o-linear-gradient(
      -45deg, 
        rgba(255, 255, 255, .2) 25%, 
        transparent 25%, 
        transparent 50%, 
        rgba(255, 255, 255, .2) 50%, 
        rgba(255, 255, 255, .2) 75%, 
        transparent 75%, 
        transparent
     );
  z-index 1

  -webkit-background-size 20px 20px
  -moz-background-size 20px 20px
  background-size 20px 20px

  -webkit-transition width 0.2s
  -webkit-transition-timing-function width 0.2s
  -moz-transition width 0.2s
  -moz-transition-timing-function width 0.2s
  transition width 0.2s
  transition-timing-function width 0.2s

.upload-progress span
  line-height 24px
  font-weight bold

.upload-label
  margin 0 0 0 5px
  float left
  font-style italic

.upload-progress-txt
  position relative
  margin 0 25px 0 5px
  color #1a1a1a

.upload-remove
  position absolute
  z-index 2
  right 0
  width 14px
  cursor pointer
  padding 0 5px
  line-height 24px
  color #666

  -moz-user-select none
  -webkit-user-select none
  user-select none

.upload-remove:hover
  background rgba(0,0,0,0.1)

.upload-remove:active
  background rgba(0,0,0,0.15)
  

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––comments*/

.comments
  margin 10px 0 0 0

.comments span.empty-list
  margin 10px 0 0 0

.comment
  width 484px
  min-height 42px
  margin 0 0 2px 0
  position relative
  background #f9f9f9
  display none

  border-radius 2px

  -webkit-animation-name fadeIn
  -moz-animation-name fadeIn
  -o-animation-name fadeIn
  animation-name fadeIn
  -webkit-animation-duration .2s
  -moz-animation-duration .2s
  -o-animation-duration .2s
  animation-duration .2s
  -webkit-animation-fill-mode both
  -moz-animation-fill-mode both
  -o-animation-fill-mode both
  animation-fill-mode both

.comment-body
  padding 5px

.comment-body p
  padding 0 40px 0 40px
  font-size 11px
  line-height 15px
  color #666
  margin 0

span.comment-avatar,
a.comment-avatar
  position relative
  z-index 1
  float left
  display inline-block
  width 34px
  height 34px
  margin 5px 5px 0 5px
  background none

span.comment-avatar
  margin 5px 5px 0 5px

a.comment-avatar:hover
  background none

span.comment-avatar img,
a.comment-avatar img
  border-radius 2px

a.comment-avatar-small
  display block
  height 19px
  white-space nowrap
  color #b3b3b3
  font-size 11px
  padding-bottom 10px

a.comment-avatar-small img
  border-radius 2px 0 5px 0

a.comment-avatar-small:hover
  text-decoration none

a.comment-avatar-small:hover span
  text-decoration underline

a.comment-author
  display inline-block
  white-space nowrap
  text-overflow ellipsis
  color #666
  font-weight bold
  font-size 11px

  -webkit-text-shadow 1px 1px 0 rgba(255,255,255,0.7)
  -moz-text-shadow 1px 1px 0 rgba(255,255,255,0.7)
  text-shadow 1px 1px 0 rgba(255,255,255,0.7)

.comment-info
  position relative
  bottom 0
  padding-left 45px
  padding-bottom 3px

textarea.comment-input
  width 417px
  font-size 11px

.show-older
  padding 5px 5px
  display block
  min-height 0
  width 474px
  text-align center
  color #808080
  font-style italic

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––events*/

.events
  margin 0

.event
  display none
  border-bottom 1px solid #f2f2f2
  cursor pointer
  padding 5px 0 15px
  border-radius 2px 2px 0 0

  -webkit-animation-name fadeIn
  -moz-animation-name fadeIn
  -o-animation-name fadeIn
  animation-name fadeIn
  -webkit-animation-duration .2s
  -moz-animation-duration .2s
  -o-animation-duration .2s
  animation-duration .2s
  -webkit-animation-fill-mode both
  -moz-animation-fill-mode both
  -o-animation-fill-mode both
  animation-fill-mode both

.event ~ .event
  border-radius 0

.event:last-child
  border-radius 0 0 2px 2px

.event:hover
  background #f9f9f9

.event a
  text-decoration none
  color #666

.event-inner
  position relative
  min-height 32px
  padding 5px 10px

.event-inner img
  float left
  border-radius 2px

.event-inner p
  margin 0 0 0 40px
  font-size 10px
  line-height 13px
  color #4d4d4d

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––notifications*/

.notification
  display none
  background #fff
  border-bottom 1px solid #e6e6e6
  cursor pointer

  -webkit-animation-name fadeIn
  -moz-animation-name fadeIn
  -o-animation-name fadeIn
  animation-name fadeIn
  -webkit-animation-duration .2s
  -moz-animation-duration .2s
  -o-animation-duration .2s
  animation-duration .2s
  -webkit-animation-fill-mode both
  -moz-animation-fill-mode both
  -o-animation-fill-mode both
  animation-fill-mode both

.notification.unread
  background #fbfff0

.notification:hover
  background #f2f2f2

.notification a
  text-decoration none
  color #666

.notification-inner
  position relative
  min-height 32px
  padding 5px

.notification-inner img
  float left
  border-radius 2px

.notification-inner p
  max-width 145px
  margin 0 0 0 40px
  font-size 10px
  line-height 13px
  color #4d4d4d

.notification-info
  display block
  font-size 8px
  margin 3px 0 0 40px
  color #b3b3b3

.notification-info a
  color #b3b3b3

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––settings & reset*/

.settings-form table
  margin 0 0 0 -10px

.settings-form h1.title-static
  margin 30px 0 10px 0

.settings-form textarea
  width 450px
  padding 8px
  margin-bottom 10px
  font-size 12px
  line-height 18px
  padding-right 20px
  overflow hidden

  border-radius 2px

.settings-form td
  padding 0 0 5px 10px

.settings-form td input[type=text],
.settings-form td input[type=password]
  width 462px
  padding 8px
  margin-bottom 10px
  font-size 12px

.settings-instructions
  font-size 10px
  line-height 15px
  font-style italic
  padding 5px
  color #808080
  width 480px

.settings-banner-wrap
  position relative
  width 480px
  height 215px
  margin-bottom 10px
  overflow hidden
  cursor move
  border-radius 2px

.settings-banner-wrap.dragging
  background blue

.settings-banner-wrap.dragging img.settings-banner
  opacity 0.5

.settings-banner-wrap.uploading img.settings-banner
  opacity 0.25

.settings-banner
  left 0
  top 0

.settings-notifications-txt
  display block
  font-size 12px
  color #666

.settings-heading
  font-weight bold
  color #404040
  font-size 14px

.save-settings
  width 480px
  margin 15px 0 0

.settings-form a.button,
.settings-form a.signin-strategy-btn-disabled
  margin 0 auto
  width 480px

.setting-saved,
span.setting-error
  display none
  color #339900
  font-size 11px
  font-weight bold
  margin-right 10px

  -webkit-animation-name fadeIn
  -moz-animation-name fadeIn
  -o-animation-name fadeIn
  animation-name fadeIn
  -webkit-animation-duration .2s
  -moz-animation-duration .2s
  -o-animation-duration .2s
  animation-duration .2s
  -webkit-animation-fill-mode both
  -moz-animation-fill-mode both
  -o-animation-fill-mode both
  animation-fill-mode both

span.setting-error
  color red

.settings-gravatar img
  display inline
  border-radius 2px
  vertical-align -7px

.settings-gravatar a
  font-weight bold
  margin-left 2px

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––crags*/

span.no-description
  font-style italic

span.no-media
  display block
  margin 20px 0
  font-style italic

.crag.single,
.ascent.single
  margin 20px 0 30px

.crag .page-title span
  color green

.ascent .page-title span
  color pink

.ascent-filter
  margin-top 3px

.ascent-filter-buttons
  width 211px
  float right
  white-space nowrap
  font-size 0

.ascent-filter-buttons a.button
  height 39px
  line-height 40px
  font-size 14px
  padding 0 20px

.ascents-wrap
  margin 20px 0 0
  display none

.ascents-wrap span.no-results
  display none

span.grade-heading
  display block
  margin 0 0 10px
  font-family title
  font-size 12px
  color #404040

ul.ascents
  margin 0 0 20px

ul.ascents a li
  list-style none
  padding 8px 7px 7px

ul.ascents a li:hover
  background #e6e6e6 !important

ul.ascents a li:hover span
  text-decoration underline

ul.ascents *:nth-child(2) li
  -webkit-border-top-left-radius 3px
  -webkit-border-top-right-radius 3px
  -moz-border-top-left-radius 3px
  -moz-border-top-right-radius 3px
  border-top-left-radius 3px
  border-top-right-radius 3px

ul.ascents a:last-child li
  -webkit-border-bottom-right-radius 3px
  -webkit-border-bottom-left-radius 3px
  -moz-border-bottom-right-radius 3px
  -moz-border-bottom-left-radius 3px
  border-bottom-right-radius 3px
  border-bottom-left-radius 3px

span.ascent-grade
  display inline-block
  width 20px
  padding 0 10px 0 0
  font-style italic

span.ascent-name
  display inline-block
  font-weight bold

span.ascent-sector
  // float right

input.filter-box
  font-size 19px
  width 441px
  visibility hidden

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––ascents media*/

.ascent .profile-info
  margin-bottom 15px

.ascent .profile-description p
  margin-bottom 0
  padding-bottom 0

.media-input
  margin-bottom 20px

.media-input form
  margin-left -10px

.media-input table
  width 100%

.media-input td
  padding 0 0 5px 10px
  position relative

input[type=text].media-link
  width 584px
  font-size 12px

input[type=submit].media-button
  line-height 31px
  font-size 12px
  padding 0 20px

.medias
  margin-left -30px

.media
  position relative
  display none
  width 680px
  margin-bottom 30px
  padding 0 40px 30px 30px
  border-bottom 1px solid #f2f2f2

  -webkit-animation-name fadeIn
  -moz-animation-name fadeIn
  -o-animation-name fadeIn
  animation-name fadeIn
  -webkit-animation-duration .2s
  -moz-animation-duration .2s
  -o-animation-duration .2s
  animation-duration .2s
  -webkit-animation-fill-mode both
  -moz-animation-fill-mode both
  -o-animation-fill-mode both
  animation-fill-mode both

.media:last-child
  margin 0
  padding 0 40px 0 30px
  border none

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––other*/

a.popup-link
  font-size 16px
  color #4d4d4d !important
  width 100%
  display inline-block
  font-family Title
  text-transform uppercase
  line-height 36px
  padding 2px 0 0 10px

a.popup-link i
  float right
  margin-right 10px

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

#uvTab
  top 75% !important

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
