/* Island.IO */
/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– fonts */
@font-face {
  font-family: Title;
  font-style: normal;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  src: url("../font/impact-webfont.eot");
  src: url("../font/impact-webfont.eot?#iefix") format('embedded-opentype'), url("../font/impact-webfont.woff") format('woff'), url("../font/impact-webfont.ttf") format('truetype'), url("../font/impact-webfont.svg#ImpactRegular") format('svg');
}
/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– animations */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -o-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    -o-transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}
.fade-in {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
}
.fade-out {
  -webkit-animation-name: fadeOut;
  -moz-animation-name: fadeOut;
  -o-animation-name: fadeOut;
  animation-name: fadeOut;
}
/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– resets */
html {
  color: #1a1a1a;
  background: #fff;
}
html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  outline: none;
  border: 0;
}
img:focus {
  outline: none;
}
img::-moz-focus-inner {
  border: none;
}
li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
legend {
  color: #1a1a1a;
}
header,
footer,
section,
aside,
nav,
article {
  display: block;
}
/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––general*/
body {
  background: none;
  color: #1a1a1a;
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  line-height: 13px;
}
a {
  color: #404040;
  background: #f2f2f2;
  padding: 0;
  border: none;
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  background-color: rgba(75,184,215,0.25);
}
a:active {
  background-color: rgba(75,184,215,0.35);
}
a:focus {
  outline: none;
}
a::-moz-focus-inner,
button::-moz-focus-inner {
  border: none;
}
a.important {
  background: rgba(75,184,215,0.25);
}
a.important:hover,
a.important.hover {
  background: rgba(75,184,215,0.5);
}
a.important:active,
a.important.active {
  background: rgba(75,184,215,0.6);
}
small {
  font-size: 9px;
  line-height: 12px;
  color: #808080;
}
small a {
  color: #808080;
}
h1.title-left {
  display: inline-block;
  height: 30px;
  font-size: 24px;
  font-weight: normal;
  line-height: normal;
  color: #404040;
  font-family: Title, Verdana, Arial, sans-serif;
  text-transform: uppercase;
}
h1.title-right {
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
  color: #404040;
  padding: 10px 0 0 0;
  font-family: Title, Verdana, Arial, sans-serif;
  text-transform: uppercase;
}
h1.title-static {
  font-size: 16px;
  font-weight: normal;
  line-height: normal;
  color: #404040;
  font-family: Title, Verdana, Arial, sans-serif;
  text-transform: uppercase;
}
h1.title-sub {
  display: inline-block;
  font-size: 9px;
  padding: 0 0 0 7px;
  line-height: 6px;
  color: #666;
  font-weight: bold;
}
span.contact-links,
span.contact-links a {
  font-weight: bold;
  font-size: 16px;
}
span.contact-links a {
  color: #4bb8d7;
}
#filter_box {
  font-size: 24px;
  padding-left: 0;
}
#filter_box {
  width: 419px;
}
.created {
  color: #b3b3b3;
  font-size: 9px;
  display: inline-block;
}
.http-error {
  display: block;
  margin-top: 70px;
  font-weight: bold;
  font-size: 20px;
  color: #4d4d4d;
  line-height: 40px;
  text-align: center;
}
.http-notice {
  font-size: 12px;
  color: #4d4d4d;
  text-align: center;
}
.clear {
  clear: both;
}
.mask {
  position: absolute;
  z-index: 1;
}
.masked {
  position: absolute;
  z-index: 0;
}
div.leftside {
  width: 640px;
  margin: 0 auto;
}
div.rightside {
  display: none;
  margin: 0 0 0 670px;
}
div.middle {
  width: 480px;
  margin: 60px auto 0;
  padding: 0 30px 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 3px #b3b3b3;
  -moz-box-shadow: 0 0 3px #b3b3b3;
  box-shadow: 0 0 3px #b3b3b3;
}
span.empty-feed {
  display: inline-block;
  width: 100%;
  margin: 10px 0;
  font-style: italic;
  color: #808080;
  text-align: center;
}
span.empty-list {
  display: inline-block;
  margin: 0 0 10px 0;
  font-style: italic;
  color: #808080;
  line-height: 18px;
}
.no-results {
  font-style: italic;
  color: #808080;
}
.input-error {
  border: 1px solid #d04c38 !important;
}
p.page {
  margin-top: 10px;
  color: #4d4d4d;
  font-size: 12px;
  line-height: 18px;
}
label {
  color: #666;
  font-size: 11px;
  font-weight: bold;
}
td {
  white-space: nowrap;
  padding: 2px 0 0 10px;
}
::-webkit-input-placeholder {
  color: #808080;
}
:-moz-placeholder {
  color: #808080;
}
::-moz-placeholder {
  color: #808080;
}
:-ms-input-placeholder {
  color: #808080;
}
.placeholder {
  color: #aaa;
}
textarea {
  font-size: 11px;
  resize: none;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  padding: 5px;
  border: 1px solid #cdcdcd;
  color: #404040;
  vertical-align: top;
}
input[type=checkbox],
input[type=radio] {
  display: inline;
}
input[type=text]:not(.text),
input[type=search],
input[type=password] {
  -moz-appearance: none;
  -moz-font-smoothing: antialiased;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  appearance: none;
  font-smoothing: antialiased;
  width: 142px;
  margin: 0;
  padding: 5px;
  font-size: 11px;
  display: inline;
  color: #404040;
  border: 1px solid #cdcdcd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
input[type=text].from-login,
input[type=password].from-login {
  border: 1px solid #1a1a1a;
  color: #333;
  background: rgba(252,252,251,0.65);
}
input[type=text],
input[type=number],
input[type=email],
input[type=password],
input[type=tel],
input[type=search],
textarea {
  background-color: #fcfcfc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
  -webkit-transition: background-color 0.15s ease-in 0;
  -moz-transition: background-color 0.15s ease-in;
  transition: background-color 0.15s ease-in;
  -webkit-transition: border-color 0.15s ease-in 0;
  -moz-transition: border-color 0.15s ease-in;
  transition: border-color 0.15s ease-in;
  -webkit-transition: -webkit-box-shadow 0.15s ease-in 0;
  -moz-transition: -moz-box-shadow 0.15s ease-in;
  transition: box-shadow 0.15s ease-in;
}
input[type=text]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=tel]:focus,
input[type=search]:focus,
textarea:focus {
  background: #fff;
  border: 1px solid #4bb8d7;
  outline: none;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.075), 0 0 5px rgba(75,184,215,0.5);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.075), 0 0 5px rgba(75,184,215,0.5);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075), 0 0 5px rgba(75,184,215,0.5);
}
input[type=file]:focus {
  border: none;
  outline: none;
}
input::-moz-focus-inner,
textarea::-moz-focus-inner {
  border: none;
}
input.is-button-alert[type=submit] {
  color: #d04c38 !important;
  border: 1px solid #d04c38 !important;
}
a.button,
button,
div[role=button],
input[type=submit]:not(.submit) {
  font-size: 11px;
  padding: 0 8px;
  font-weight: bold;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  min-width: 48px;
  height: 24px;
  line-height: 24px;
  outline: 0;
  text-align: center;
  display: inline-block;
  background-color: #f1f1f1;
  color: #4d4d4d;
  border: 1px solid #a8a8a8;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 100ms;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 100ms;
  transition-timing-function: ease-out;
  transition-duration: 100ms;
}
input[type=submit] {
  height: 25px !important;
}
input[type=submit].from-login {
  color: #1a1a1a;
  border: 1px solid #1a1a1a;
}
a.button:hover:not(.disabled),
button:hover:not(.disabled),
div[role=button]:hover:not(.disabled),
input[type='submit']:hover:not(.disabled) {
  color: #1a1a1a;
  -moz-box-shadow: 0 0 2px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.2);
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  border: 1px solid #898989;
}
a.button:active:not(.disabled),
button:active:not(.disabled),
div[role=button]:active:not(.disabled),
input[type='submit']:active:not(.disabled) {
  color: #1a1a1a;
  -moz-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
  border: 1px solid #898989;
}
a.button:focus:not(.disabled),
button:focus:not(.disabled),
div[role=button]:focus:not(.disabled),
input[type=submit]:focus:not(.disabled) {
  border: 1px solid #98c1e6;
}
input[type=submit].from-login:hover {
  -moz-box-shadow: 0 0 2px #1a1a1a;
  -webkit-box-shadow: 0 0 2px #1a1a1a;
  box-shadow: 0 0 2px #1a1a1a;
  color: #1a1a1a;
  border: 1px solid #1a1a1a;
}
input[type=submit].from-login:active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #1a1a1a;
  border: 1px solid #1a1a1a;
}
button.action-button {
  font-size: 14px;
  height: auto;
  padding: 0 20px;
  font-weight: normal;
  line-height: 30px;
}
button.action-button.danger {
  border: 1px solid #1a1a1a;
  color: #fff;
}
a.button-left,
button.button-left,
div[role=button].button-left,
input[type=submit].button-left {
  border-right: none !important;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
a.button-right,
button.button-right,
div[role=button].button-right,
input[type=submit].button-right {
  border-left: none !important;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
a.button-left.selected,
a.button-right.selected,
button.button-left.selected,
button.button-right.selected,
div[role=button].button-left.selected,
div[role=button].button-right.selected,
input[type=submit].button-left.selected,
input[type=submit].button-right.selected {
  color: #404040;
  background: #4bb8d7;
  border-color: #404040 !important;
  -webkit-box-shadow: inset 0 0 3px #808080;
  -moz-box-shadow: inset 0 0 3px #808080;
  box-shadow: inset 0 0 3px #808080;
}
a.button-left.selected,
button.button-left.selected,
div[role=button].button-left.selected,
input[type=submit].button-left.selected {
  border-right: 1px solid #404040 !important;
}
a.button-right.selected,
button.button-right.selected,
div[role=button].button-right.selected,
input[type=submit].button-right.selected {
  border-left: 1px solid #404040 !important;
}
a.button-left.disabled,
a.button-right.disabled {
  opacity: 0.5;
  cursor: default;
}
a.signin-strategy-btn,
a.signin-strategy-btn-disabled {
  width: 200px;
  font-size: 11px;
  font-weight: bold;
  padding: 0 0;
  display: block;
  color: #fcfcfc;
  border: 1px solid #1a1a1a !important;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
a.facebook-btn,
a.facebook-btn-disabled {
  background: rgba(59,89,152,0.65);
}
a.twitter-btn,
a.twitter-btn-disabled {
  background: rgba(60,143,201,0.65);
}
a.instagram-btn,
a.instagram-btn-disabled {
  background: rgba(69,63,56,0.65);
}
a.delete-btn,
button.danger {
  background: rgba(208,76,56,0.9);
}
a.signin-strategy-btn-disabled {
  cursor: default;
  opacity: 0.65;
  height: 24px;
  line-height: 24px;
  outline: 0;
  text-align: center;
}
a.signin-strategy-btn:hover {
  color: #fff !important;
}
a.facebook-btn:hover {
  background: rgba(59,89,152,0.75);
}
a.facebook-btn.from-login:hover {
  background: #3b5998;
}
a.twitter-btn:hover {
  background: rgba(60,143,201,0.75);
}
a.twitter-btn.from-login:hover {
  background: #3c8fc9;
}
a.instagram-btn:hover {
  background: rgba(69,63,56,0.75);
}
a.delete-btn:hover,
button.danger:hover {
  background: #d04c38;
}
a.facebook-btn:active {
  background: rgba(59,89,152,0.55);
}
a.twitter-btn:active {
  background: rgba(60,143,201,0.55);
}
a.instagram-btn:active {
  background: rgba(69,63,56,0.55);
}
a.delete-btn:active,
button.danger:active {
  background: rgba(208,76,56,0.8);
}
a.signin-strategy-btn.from-login {
  border: 1px solid #1a1a1a;
}
a.buy-button {
  float: right;
  background: #b1dc36;
  color: #404040;
  border: 1px solid #404040;
  font-size: 12px;
  height: 30px;
  line-height: 31px;
  margin-top: -19px;
}
a.buy-button:hover {
  color: #1a1a1a;
  border: 1px solid #1a1a1a;
}
/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––structure*/
#main {
  margin: 50px 0 20px;
}
#footer {
  width: 100%;
  margin-top: 30px;
}
#footer > div {
  margin: 0 auto;
  width: 640px;
  padding: 5px 0;
}
#zoom {
  top: 100px;
}
#tiles_loader {
  top: 100px;
}
#wrap.animated {
  -webkit-transition: margin 0.3s;
  -moz-transition: margin 0.3s;
  -ms-transition: margin 0.3s;
  -o-transition: margin 0.3s;
  transition: margin 0.3s;
}
#wrap.panel-open {
  margin-right: 220px;
}
#panel {
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  right: -220px;
  width: 220px;
  height: 100%;
  overflow-y: auto;
  background: #f2f2f2;
  border-left: 1px solid #b3b3b3;
}
#panel.animated {
  -webkit-transition: right 0.3s;
  -moz-transition: right 0.3s;
  -ms-transition: right 0.3s;
  -o-transition: right 0.3s;
  transition: right 0.3s;
}
#panel.open {
  right: 0;
}
#content {
  margin: 0 auto;
  width: 984px;
}
#page_spin {
  margin: 0 auto;
  height: 50px;
  width: 100%;
}
#uvTab {
  top: 75% !important;
}
/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––header*/
#header {
  width: 100%;
  background: #fcfcfb;
  border-bottom: 1px solid #cdcdcd;
}
#header-inner {
  position: relative;
  font-size: 0;
  margin: 0 auto;
  width: 984px;
  height: 50px;
  white-space: nowrap;
}
a#logo {
  float: left;
  height: 50px;
  padding: 0 10px;
}
a#logo img {
  margin-top: 2px;
}
span.tagline {
  float: right;
  margin: 19px 10px 0 5px;
  font-size: 8px;
  color: #666;
  font-weight: bold;
}
div.divider-vertical {
  float: left;
  width: 1px;
  height: 50px;
  background-color: #e5e5e5;
}
div.divider-vertical.pad-left {
  margin-left: 10px;
}
div.divider-vertical.pad-right {
  margin-right: 10px;
}
a.header-action {
  position: relative;
  float: left;
  width: 40px;
  height: 45px;
  padding-top: 5px;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
}
div#header_search {
  float: left;
  position: relative;
  margin: 12px 15px 0 0;
}
input.header-search {
  width: 150px;
  padding-left: 0;
  padding-right: 4px;
  -webkit-transition: all 0.1s ease-in-out 0;
  -moz-transition: all 0.1s ease-in-out 0;
  transition: all 0.1s ease-in-out;
}
div.search-display {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 10;
  max-height: 285px;
  overflow-y: auto;
  border: 1px solid rgba(0,0,0,0.3);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.25);
  box-shadow: 0 1px 5px rgba(0,0,0,0.25);
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 0.2s;
  -moz-animation-duration: 0.2s;
  -o-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}
a.choice {
  position: relative;
  padding: 8px;
  margin-bottom: -1px;
  overflow: hidden;
  color: #4d4d4d;
  white-space: nowrap;
  border: solid rgba(0,0,0,0.08);
  border-width: 1px 0;
  display: block;
  background: #fff;
  font-size: 11px;
  height: 16px;
  line-height: 15px;
}
a.choice:first-of-type {
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
a.choice:last-child {
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
a.choice.hover {
  background-color: #eff8d7;
}
a.choice:hover {
  background-color: #d0ecf2;
}
a.choice:active {
  background-color: #adc9d0;
}
a.choice.active {
  background-color: #b1dc36;
}
span.choice-prefix {
  float: left;
  margin-right: 7px;
}
span.choice-prefix img {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
span.choice-name i {
  margin-right: 5px;
  margin-left: -3px;
  font-size: 14px;
  vertical-align: -1px;
}
ul.header-links {
  float: left;
  margin: 18px 10px 0 0;
}
ul.header-links li {
  display: inline-block;
  list-style-type: none;
  margin: 0 15px 0 0;
}
ul.header-links li a {
  font-size: 10px;
  font-weight: bold;
}
ul.header-links li a:hover {
  text-decoration: none;
}
div.member-box {
  width: 174px;
  float: right;
  white-space: nowrap;
}
a.header-avatar {
  float: left;
  width: 50px;
  height: 50px;
  display: inline-block;
  background: none;
}
a.header-avatar img {
  display: block;
}
a.header-avatar:hover {
  opacity: 0.8;
  background: none;
}
a#signin {
  float: right;
  margin-top: 12px;
}
a#signin:hover {
  color: #1a1a1a;
  -moz-box-shadow: 0 0 2px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.2);
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  border: 1px solid #898989;
}
a#signin:active {
  color: #1a1a1a;
  -moz-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
  border: 1px solid #898989;
}
a#signin:focus {
  border: 1px solid #98c1e6;
}
span.count {
  display: none;
  position: absolute;
  left: 19px;
  top: 12px;
  padding: 2px 3px;
  color: #fff;
  background: rgba(208,76,56,0.8);
  font-size: 8px;
  line-height: 8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px rgba(0,0,0,0.2);
  -webkit-box-shadow: 1px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 1px 1px rgba(0,0,0,0.2);
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 0.2s;
  -moz-animation-duration: 0.2s;
  -o-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}
#block_messages {
  position: relative;
  margin: 0 auto;
  width: 984px;
  white-space: nowrap;
}
.block-remove {
  float: right;
  cursor: pointer;
  padding: 0 5px;
  line-height: 30px;
  color: #666;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.block-remove:hover {
  background: rgba(0,0,0,0.1);
}
.block-remove:active {
  background: rgba(0,0,0,0.15);
}
#block_messages li {
  position: relative;
  list-style-type: none;
  border: 1px solid #e5e5e5;
  border-top: none;
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 0.2s;
  -moz-animation-duration: 0.2s;
  -o-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}
.block-error {
  background: #e6e6e6;
}
.block-alert {
  background: #eff8d7;
}
.block-error-txt,
.block-alert-txt {
  font-size: 10px;
  padding: 0 10px;
  color: #4d4d4d;
  font-weight: bold;
  line-height: 30px;
}
.block-error-txt {
  color: #d04c38;
}
.block-error-txt a {
  color: #fff;
  background: rgba(208,76,56,0.8);
}
.block-error-txt a:hover {
  background: rgba(208,76,56,0.6);
}
.block-error-txt a:active {
  background: #d04c38;
}
/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––privacy*/
span.privacy-indent {
  margin-left: 10px;
  display: block;
}
a.privacy-link {
  background: none;
}
a.privacy-link:hover {
  text-decoration: underline;
}
/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––signin*/
.signin {
  width: 680px;
  height: 382px;
  position: relative;
  overflow: hidden;
}
.signin-controls {
  margin: 20px auto 0;
  width: 400px;
}
.signin-controls > p {
  text-align: center;
  font-size: 11px;
  color: #222;
}
.signin-controls a {
  background: none;
  text-decoration: underline;
  color: #222;
}
.signin-controls a:hover {
  text-decoration: underline;
  background: rgba(75,184,215,0.25);
}
.signin-controls a:active {
  background: rgba(75,184,215,0.1);
}
.signin-forms {
  margin: 20px 0 0;
  width: 100%;
  position: relative;
}
.signin-forms form {
  width: 100%;
}
.signin-forms table {
  margin: 0 auto;
}
.signin-forms td {
  padding-top: 0;
}
.signin-error {
  display: block;
  color: #f00;
  font-size: 11px;
  margin: 10px 0 0 -10px;
}
.signin-spinner {
  margin: 52px auto 0;
  width: 86px;
  display: none;
}
.signin-spinner > div {
  left: 50% !important;
}
.signin-copy {
  padding: 5px;
  display: block;
  color: #1a1a1a;
  font-size: 9px;
  text-align: left;
}
#remember_me {
  margin: 0 5px 0 0;
}
.signin-link {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(255,255,255,0.5);
  color: #4d4d4d;
  font-weight: bold;
}
.signin-logo {
  position: absolute;
  z-index: 10;
  top: 20px;
  left: 240px;
}
#roll {
  position: absolute;
  z-index: -1;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.signin-action {
  position: relative;
  padding: 90px 0 0 0;
  width: 680px;
  height: 292px;
  background: rgba(255,255,255,0);
  z-index: 100001;
}
.signin-action-inner {
  width: 480px;
  height: 103px;
  margin: 0 auto;
  background: rgba(242,242,242,0.7);
  padding: 50px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.signin-strategies {
  margin: 0 auto;
  width: 471px;
}
.signin-strategies td {
  padding: 0;
}
.signin-or {
  margin: 7px 20px 0;
  font-style: italic;
  color: #1a1a1a;
}
.signin-quote {
  position: absolute;
  left: 0;
  bottom: 36px;
  width: 680px;
  z-index: 10;
}
.signin-quote > p {
  margin: 0 auto;
  font-size: 16px;
  font-family: Title, Verdana, Arial, sans-serif;
  text-align: center;
  color: #333;
}
#signin_form {
  position: relative;
  left: 0;
}
#signup_form {
  position: relative;
  left: 0;
  display: none;
}
#signin_spin {
  position: absolute;
  top: 50%;
  left: 50%;
}
/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––map*/
div#map {
  position: relative;
  width: 100%;
  height: 250px;
  background: #f2f2f2;
  -webkit-box-shadow: 0 0 3px #b3b3b3;
  -moz-box-shadow: 0 0 3px #b3b3b3;
  box-shadow: 0 0 3px #b3b3b3;
}
div#map.animated {
  -webkit-transition: height 0.3s;
  -webkit-transition-timing-function: height 0.3s;
  -moz-transition: height 0.3s;
  -moz-transition-timing-function: height 0.3s;
  transition: height 0.3s;
  transition-timing-function: height 0.3s;
}
div#map.closed {
  height: 0px;
}
div#map.opened {
  height: 600px;
}
div#map_spin {
  position: absolute;
  top: 50%;
  left: 50%;
}
div#map_inner {
  width: 100%;
  height: 100%;
  -webkit-animation-duration: 0.3s;
  -moz-animation-duration: 0.3s;
  -o-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}
div#map_control {
  position: absolute;
  bottom: -21px;
  width: 100%;
}
div#map_control div {
  position: relative;
  left: 50%;
  width: 145px;
}
div#map_control a.button {
  position: relative;
  left: -36px;
  font-size: 9px;
  background: none;
  color: #666;
  width: 55px;
  height: 20px;
  line-height: 21px;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  border-top: none;
}
div#map_control a.split-left {
  left: -72px;
  -webkit-border-radius: 0 0 0 3px;
  -moz-border-radius: 0 0 0 3px;
  border-radius: 0 0 0 3px;
  border-right: none;
}
div#map_control a.split-left:hover {
  border-right: none;
}
div#map_control a.split-right {
  left: -72px;
  -webkit-border-radius: 0 0 3px 0;
  -moz-border-radius: 0 0 3px 0;
  border-radius: 0 0 3px 0;
}
div.cartodb-zoom {
  display: none;
}
.leaflet-div-icon {
  border: 2px solid #f2f2f2;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 5px 20px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 5px 20px rgba(0,0,0,0.5);
  box-shadow: 0 5px 20px rgba(0,0,0,0.5);
}
.leaflet-div-icon:after {
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  border: 8px solid transparent;
  border-top-color: #f2f2f2;
}
.cartodb-logo {
  z-index: auto !important;
}
/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––profiles*/
#profiles {
  margin: 12px 0 0 0;
}
div.profile {
  position: relative;
  display: none;
  margin: 0 0 35px;
  width: 640px;
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 0.2s;
  -moz-animation-duration: 0.2s;
  -o-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}
div.profile.single {
  margin: 62px auto 35px;
}
.profile-title {
  margin: 0 0 4px 0;
  font-size: 0;
}
a.profile-name {
  font-family: Title, Verdana, Arial, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #404040;
}
.profile-subname {
  font-weight: bold;
  font-size: 10px;
  color: #4d4d4d;
  padding-left: 7px;
}
.profile-info {
  width: 620px;
  padding: 10px 10px 5px 10px;
  background: #f9f9f9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.profile-picture {
  position: relative;
  width: 640px;
  height: 288px;
  overflow: hidden;
  margin: 0 0 3px 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 3px #b3b3b3;
  -moz-box-shadow: 0 0 3px #b3b3b3;
  box-shadow: 0 0 3px #b3b3b3;
}
.profile-description {
  margin: 0 0 5px;
  font-size: 10px;
  color: #666;
  padding-right: 20px;
}
.profile-description p {
  padding: 0 0 5px 0;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 20px;
}
.profile-description a {
  text-decoration: underline;
}
.profile-links {
  font-weight: bold;
}
.profile-details {
  text-transform: uppercase;
  color: #b3b3b3;
  font-size: 9px;
  font-weight: normal;
}
/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––posts*/
.list-spin {
  width: 100%;
}
.list-spin .empty-feed {
  display: none;
  line-height: 40px;
}
.list-spin > div {
  width: 50px;
  height: 40px;
  margin: 0 auto;
}
#posts {
  margin: 12px 0 0 0;
}
div.post {
  position: relative;
  display: none;
  margin: 0 0 35px;
  width: 640px;
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 0.2s;
  -moz-animation-duration: 0.2s;
  -o-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}
div.post.single {
  margin-top: 62px;
  width: 984px;
}
div.post-title {
  margin: 0 0 10px 0;
  font-family: Title, Verdana, Arial, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #666;
}
div.post-title span.post-title-photos {
  color: #4bb8d7;
}
div.post-title span.post-title-video {
  color: #d04c38;
}
div.post div.post-mosaic {
  position: relative;
  overflow: hidden;
  width: 640px;
  height: 360px;
  background: #f2f2f2;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 3px #b3b3b3;
  -moz-box-shadow: 0 0 3px #b3b3b3;
  box-shadow: 0 0 3px #b3b3b3;
}
div.post.single div.post-mosaic {
  width: 984px;
  height: 554px;
}
div.post-mosaic-wrap {
  position: absolute;
  overflow: hidden;
  background: #4d4d4d;
}
a.post-avatar {
  background: none;
  display: block;
}
a.post-avatar img,
img.profile-avatar {
  position: absolute;
  top: 23px;
  left: 0;
  z-index: 1;
  width: 48px;
  height: 48px;
  -webkit-border-radius: 2px 0;
  -moz-border-radius: 2px 0;
  border-radius: 2px 0;
  -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
  box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
}
img.profile-avatar {
  top: 0;
}
div.post-mosaic-wrap img {
  position: relative;
}
div.post-mosaic-wrap:hover img {
  opacity: 0.7;
}
div.post-mosaic-wrap:active img {
  opacity: 0.5;
}
div.post img.post-mosaic-play {
  position: absolute !important;
  left: 100px;
  top: 100px;
  opacity: 0.9;
}
div.post img.post-mosaic-play.trailer {
  top: 75px;
}
div.post.single img.post-mosaic-play {
  left: 197px;
  top: 197px;
}
div.post.single img.post-mosaic-play.trailer {
  top: 172px;
}
div.post span.post-mosaic-play-text {
  position: absolute;
  z-index: 2;
  color: #fff;
  opacity: 0.8;
  font-size: 30px;
  top: 221px;
  left: 113px;
  font-weight: bold;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
div.post.single span.post-mosaic-play-text {
  top: 318px;
  left: 210px;
}
div.post div.post-body {
  margin: 10px 0 0;
  padding: 0 30px 0 2px;
  font-size: 11px;
  line-height: 16px;
  color: #4d4d4d;
}
div.post.single div.post-body {
  width: 750px;
  margin: 20px 0 0;
  font-size: 12px;
  line-height: 18px;
}
div.post-info {
  margin: 10px 0 0;
  padding: 0 0 0 2px;
  font-size: 10px;
  line-height: 13px;
  color: #808080;
}
span.post-input-avatar,
a.post-input-avatar {
  position: relative;
  z-index: 1;
  float: left;
  display: inline-block;
  width: 36px;
  height: 36px;
  margin: 0 8px 0 -36px;
  background: none;
}
a.post-input-avatar:hover {
  background: none;
}
span.post-input-avatar img,
a.post-input-avatar img {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
div.post-input-wrap {
  background: #f9f9f9;
  -webkit-border-radius: 0 3px 3px 3px;
  -moz-border-radius: 0 3px 3px 3px;
  border-radius: 0 3px 3px 3px;
  padding: 5px;
}
div#post_dnd {
  display: inline-block;
  border: 1px solid #cdcdcd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
div#post_dnd.focus {
  border: 1px solid #404040;
}
div#post_dnd.dragging {
  border: 1px solid #d12b83;
  -moz-box-shadow: 0 0 4px rgba(209,43,131,0.5);
  -webkit-box-shadow: 0 0 4px rgba(209,43,131,0.5);
  box-shadow: 0 0 4px rgba(209,43,131,0.5);
}
div#post_select {
  display: none;
  position: relative;
  padding: 5px;
  color: #666;
  border-top: 1px dashed #cdcdcd;
  background: #fcfcfc;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
input.file-chooser {
  position: absolute;
  opacity: 0.0001;
  cursor: pointer;
  width: 240px;
}
input#post_file_chooser {
  left: 192px;
}
input#banner_file_chooser {
  z-index: 2;
  right: 0;
  bottom: 0;
  width: 319px;
  height: 23px;
}
a#banner_file_chooser_dummy {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  color: #fcfcfc;
  padding: 5px;
  font-size: 11px;
}
textarea.post-input,
textarea.comment-input {
  display: block;
  width: 612px;
  background: #fff;
  resize: none;
  overflow: hidden;
  font-size: 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
textarea.post-input {
  line-height: 18px;
  border: none;
  -webkit-transition: min-height 0.2s;
  -webkit-transition-timing-function: min-height 0.2s;
  -moz-transition: min-height 0.2s;
  -moz-transition-timing-function: min-height 0.2s;
  transition: min-height 0.2s;
  transition-timing-function: min-height 0.2s;
}
textarea.comment-input {
  -webkit-transition: height 0.2s;
  -webkit-transition-timing-function: height 0.2s;
  -moz-transition: height 0.2s;
  -moz-transition-timing-function: height 0.2s;
  transition: height 0.2s;
  transition-timing-function: height 0.2s;
}
table#post_params {
  display: none;
  width: 624px;
  margin: 8px 0 0 3px;
}
table#post_params td {
  padding: 0 20px 0 0;
}
table#post_params td.last {
  width: 160px;
  padding: 0;
  text-align: right;
}
table#post_params label {
  vertical-align: -1px;
}
#post_button {
  width: 80px;
  background: #4bb8d7;
  color: #404040;
  border: 1px solid #404040;
}
#post_button:hover:not(.disabled) {
  color: #1a1a1a;
  border: 1px solid #1a1a1a;
  -moz-box-shadow: 0 0 2px rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.4);
  box-shadow: 0 0 2px rgba(0,0,0,0.4);
}
#post_button:active:not(.disabled) {
  -moz-box-shadow: inset 0 0 2px rgba(0,0,0,0.5);
  -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.5);
  box-shadow: inset 0 0 2px rgba(0,0,0,0.5);
}
#post_button:focus:not(.disabled) {
  color: #1a1a1a;
  border: 1px solid #1a1a1a;
  -moz-box-shadow: 0 0 2px rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.4);
  box-shadow: 0 0 2px rgba(0,0,0,0.4);
}
#post_button.disabled {
  background-color: #f1f1f1;
  color: #4d4d4d;
  border: 1px solid #a8a8a8;
}
.upload-progress-wrap {
  position: relative;
  width: 622px;
  height: 24px;
  color: #666;
  border-top: 1px solid #f2f2f2;
  background: #fcfcfc;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  text-align: right;
  white-space: nowrap;
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 0.2s;
  -moz-animation-duration: 0.2s;
  -o-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}
.upload-progress {
  height: 100%;
  width: 0%;
  background-color: rgba(75,184,215,0.6);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.25, rgba(255,255,255,0.2)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255,255,255,0.2)), color-stop(0.75, rgba(255,255,255,0.2)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(-45deg, rgba(255,255,255,0.2) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.2) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(-45deg, rgba(255,255,255,0.2) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.2) 75%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(-45deg, rgba(255,255,255,0.2) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.2) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(-45deg, rgba(255,255,255,0.2) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.2) 75%, transparent 75%, transparent);
  z-index: 1;
  -webkit-background-size: 20px 20px;
  -moz-background-size: 20px 20px;
  background-size: 20px 20px;
  -webkit-transition: width 0.2s;
  -webkit-transition-timing-function: width 0.2s;
  -moz-transition: width 0.2s;
  -moz-transition-timing-function: width 0.2s;
  transition: width 0.2s;
  transition-timing-function: width 0.2s;
}
.upload-progress span {
  line-height: 24px;
  font-weight: bold;
}
.upload-label {
  margin: 0 0 0 5px;
  float: left;
  font-style: italic;
}
.upload-progress-txt {
  position: relative;
  margin: 0 25px 0 5px;
  color: #1a1a1a;
}
.upload-remove {
  position: absolute;
  z-index: 2;
  right: 0;
  width: 14px;
  cursor: pointer;
  padding: 0 5px;
  line-height: 24px;
  color: #666;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.upload-remove:hover {
  background: rgba(0,0,0,0.1);
}
.upload-remove:active {
  background: rgba(0,0,0,0.15);
}
/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––comments*/
.comments {
  margin: 10px 0 0 0;
  border-bottom: 1px solid #eee;
  padding: 0 0 30px 2px;
}
.comments span.empty-list {
  margin: 10px 0 0 0;
}
.comment {
  width: 490px;
  min-height: 42px;
  margin: 0 0 2px 0;
  position: relative;
  background: #f9f9f9;
  display: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 0.2s;
  -moz-animation-duration: 0.2s;
  -o-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}
.comment-body {
  padding: 5px;
}
.comment-body p {
  padding: 0 40px 0 40px;
  font-size: 11px;
  line-height: 15px;
  color: #666;
  margin: 0;
}
span.comment-avatar,
a.comment-avatar {
  position: relative;
  z-index: 1;
  float: left;
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 5px 8px 0 5px;
  background: none;
}
a.comment-avatar:hover {
  background: none;
}
span.comment-avatar img,
a.comment-avatar img {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
a.comment-avatar-small {
  display: block;
  height: 19px;
  white-space: nowrap;
  color: #b3b3b3;
  font-size: 11px;
  padding-bottom: 10px;
}
a.comment-avatar-small img {
  -webkit-border-radius: 2px 0 5px 0;
  -moz-border-radius: 2px 0 5px 0;
  border-radius: 2px 0 5px 0;
}
a.comment-avatar-small:hover {
  text-decoration: none;
}
a.comment-avatar-small:hover span {
  text-decoration: underline;
}
a.comment-author {
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #666;
  font-weight: bold;
  font-size: 11px;
  -webkit-text-shadow: 1px 1px 0 rgba(255,255,255,0.7);
  -moz-text-shadow: 1px 1px 0 rgba(255,255,255,0.7);
  text-shadow: 1px 1px 0 rgba(255,255,255,0.7);
}
.comment-info {
  position: relative;
  bottom: 0;
  padding-left: 45px;
}
.comment-created {
  white-space: nowrap;
  font-size: 11px;
  font-style: normal;
  color: #b3b3b3;
}
.comment-created a {
  color: #b3b3b3;
}
.comment-created a:hover {
  color: #4d4d4d;
}
img.comment-image {
  position: relative;
  display: block;
  max-height: 400px;
  max-width: 400px;
  margin: 5px 0 0 0;
}
textarea.comment-input {
  width: 427px;
  font-size: 11px;
}
.show-older {
  padding: 5px 5px;
  display: block;
  min-height: 0;
  width: 480px;
  text-align: center;
  color: #808080;
  font-style: italic;
}
/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––notifications*/
.notification {
  display: none;
  background: #fff;
  border-bottom: 1px solid #e6e6e6;
  cursor: pointer;
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 0.2s;
  -moz-animation-duration: 0.2s;
  -o-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}
.notification.unread {
  background: #fbfff0;
}
.notification:hover {
  background: #f2f2f2;
}
.notification a {
  text-decoration: none;
  color: #666;
}
.notification-inner {
  position: relative;
  min-height: 32px;
  padding: 5px;
}
.notification-inner img {
  float: left;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.notification-inner p {
  max-width: 145px;
  margin: 0 0 0 40px;
  font-size: 10px;
  line-height: 13px;
  color: #4d4d4d;
}
.notification-info {
  display: block;
  font-size: 8px;
  margin: 3px 0 0 40px;
  color: #b3b3b3;
}
.notification-info a {
  color: #b3b3b3;
}
.info-delete {
  color: #404040;
  background: #f2f2f2;
  cursor: pointer;
  color: #666;
  font-size: 9px;
}
.info-delete:hover {
  background-color: rgba(75,184,215,0.25);
}
.info-delete:active {
  background-color: rgba(75,184,215,0.5);
}
span.info-divider {
  font-size: 8px;
  color: #b3b3b3;
}
span.post-info-item {
  font-size: 9px;
  color: #b3b3b3;
}
/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––settings*/
#settings_form table {
  margin: 0 0 0 -10px;
}
#settings_form h1.title-static {
  margin: 20px 0 10px 0;
}
#settings_form textarea {
  width: 450px;
  padding: 8px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  padding-right: 20px;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#settings_form td {
  padding: 0 0 5px 10px;
}
#settings_form td input[type=text] {
  width: 462px;
  padding: 8px;
  margin-bottom: 10px;
  font-size: 12px;
}
.settings-instructions {
  font-size: 10px;
  line-height: 15px;
  font-style: italic;
  padding: 5px;
  color: #808080;
  width: 480px;
}
.settings-banner-wrap {
  position: relative;
  width: 480px;
  height: 215px;
  margin-bottom: 10px;
  overflow: hidden;
  cursor: move;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.settings-banner-wrap.dragging {
  background: #4bb8d7;
}
.settings-banner-wrap.dragging img.settings-banner {
  opacity: 0.5;
}
.settings-banner-wrap.uploading img.settings-banner {
  opacity: 0.25;
}
.settings-banner {
  left: 0;
  top: 0;
}
.settings-notifications-txt {
  display: block;
  font-size: 12px;
  color: #666;
}
.settings-heading {
  font-weight: bold;
  color: #404040;
  font-size: 14px;
}
#save_settings {
  width: 480px;
  margin: 15px 0 0;
}
#settings_form a.button,
#settings_form a.signin-strategy-btn-disabled {
  margin: 0 auto;
  width: 480px;
}
div.setting-saved,
span.setting-error {
  display: none;
  color: #390;
  font-size: 11px;
  font-weight: bold;
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 0.2s;
  -moz-animation-duration: 0.2s;
  -o-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}
span.setting-error {
  color: #f00;
}
.settings-gravatar img {
  display: inline;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  vertical-align: -7px;
}
.settings-gravatar a {
  font-weight: bold;
  margin-left: 2px;
}
.confirm {
  position: relative;
  background: #fff;
  width: 500px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.tip {
  position: relative;
  background: #fff;
  width: 500px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.confirm-body,
.tip-body {
  padding: 30px;
}
.confirm-body > p,
.tip-body > p {
  font-size: 12px;
  line-height: 18px;
  color: #4d4d4d;
}
.confirm-title,
.tip-title {
  display: block;
  background: #f2f2f2;
  padding: 20px 0;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #ccc;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  -webkit-box-shadow: inset 0 1px 0 #fff;
  -moz-box-shadow: inset 0 1px 0 #fff;
  box-shadow: inset 0 1px 0 #fff;
  background-image: linear-gradient(bottom, #f2f2f2 100%, #e6e6e6 0%);
  background-image: -o-linear-gradient(bottom, #f2f2f2 100%, #e6e6e6 0%);
  background-image: -moz-linear-gradient(bottom, #f2f2f2 100%, #e6e6e6 0%);
  background-image: -webkit-linear-gradient(bottom, #f2f2f2 100%, #e6e6e6 0%);
  background-image: -ms-linear-gradient(bottom, #f2f2f2 100%, #e6e6e6 0%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(1, #f2f2f2), color-stop(0, #e6e6e6));
}
.tip-title > img {
  vertical-align: -5px;
}
.confirm-actions,
.tip-actions {
  border-top: 1px solid #ddd;
  padding: 15px 18px;
  text-align: right;
  background: #fafafa;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  -webkit-box-shadow: inset 0 1px 0 #fff;
  -moz-box-shadow: inset 0 1px 0 #fff;
  box-shadow: inset 0 1px 0 #fff;
}
.tip-actions button.action-button {
  width: 100%;
}
.confirm-overlay,
.tip-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: #fff;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.confirm-overlay > p,
.tip-overlay > p {
  text-align: center;
  padding: 15px 20px;
  margin-top: 15%;
  font-weight: bold;
  font-size: 16px;
}
/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––crags*/
div.map {
  width: 640px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
span.no-description {
  font-style: italic;
}
span.no-media {
  display: block;
  margin: 20px 0;
  font-style: italic;
}
div.ascent-filter {
  margin-top: 3px;
}
div.ascent-filter-buttons {
  width: 211px;
  float: right;
  white-space: nowrap;
  font-size: 0;
}
div.ascent-filter-buttons a.button {
  height: 39px;
  line-height: 40px;
  font-size: 14px;
  padding: 0 20px;
}
div.ascents-wrap {
  margin: 20px 0 0;
  display: none;
}
div.ascents-wrap span.no-results {
  display: none;
}
span.grade-heading {
  display: block;
  margin: 0 0 10px;
  font-family: Title, Verdana, Arial, sans-serif;
  font-size: 12px;
  color: #404040;
}
ul.ascents {
  margin: 0 0 20px;
}
ul.ascents a li {
  list-style: none;
  padding: 8px 7px 7px;
}
ul.ascents a li:hover {
  background: #fdfdfd !important;
}
ul.ascents a li:hover span {
  text-decoration: underline;
}
ul.ascents a:first-child li {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
ul.ascents a:last-child li {
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
span.ascent-grade {
  display: inline-block;
  width: 20px;
  padding: 0 10px 0 0;
  font-style: italic;
}
span.ascent-name {
  display: inline-block;
  font-weight: bold;
}
a.popup-link {
  font-size: 16px;
  color: #4d4d4d !important;
  width: 100%;
  display: inline-block;
  font-family: Title;
  text-transform: uppercase;
  line-height: 36px;
  padding: 2px 0 0 10px;
}
a.popup-link i {
  float: right;
  margin-right: 10px;
}
div.cartodb-popup div.cartodb-popup-content-wrapper {
  height: 38px !important;
}
/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-ms-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-ms-keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
