packages:
  yum:
    gcc: []
    make: []
    libtool: []
    autoconf: []
    automake: []
    uuid: []
    uuid-devel: []
    openssl-devel: []
    libxml2: []
    libxml2-devel: []
    git: []

sources:
  /home/ec2-user: http://download.zeromq.org/zeromq-4.0.4.tar.gz

commands:
  01-redis:
    command: wget http://download.redis.io/releases/redis-2.8.13.tar.gz
    cwd: /home/ec2-user
  02-redis:
    command: tar xzf redis-2.8.13.tar.gz
    cwd: /home/ec2-user
  03-redis:
    command: make
    cwd: /home/ec2-user/redis-2.8.13
  04-redis:
    command: sed -i -e "s/daemonize no/daemonize yes/" redis.conf
    cwd: /home/ec2-user/redis-2.8.13
  05-redis:
    command: sed -i -e "s/# maxmemory <bytes>/maxmemory 500MB/" redis.conf
    cwd: /home/ec2-user/redis-2.8.13
  06-redis:
    command: sed -i -e "s/# maxmemory-policy volatile-lru/maxmemory-policy allkeys-lru/" redis.conf
    cwd: /home/ec2-user/redis-2.8.13
  07-redis:
    command: src/redis-server redis.conf
    cwd: /home/ec2-user/redis-2.8.13
  01-zeromq:
    command: ./configure
    cwd: /home/ec2-user/zeromq-4.0.4
  02-zeromq:
    command: make
    cwd: /home/ec2-user/zeromq-4.0.4
  03-zeromq:
    command: make install
    cwd: /home/ec2-user/zeromq-4.0.4
  04-zeromq:
    command: echo /usr/local/lib > /etc/ld.so.conf.d/local.conf
  05-zeromq:
    command: ldconfig
