<div class="leftside">
  <div class="obj-title">
    <h1 class="title-left">About</h1>
    <h1 class="title-sub">What's going on here?</h1>
  </div>
  <p class="page">
    Buy why, some say, the moon? Why choose this as our goal? And they may as well ask why climb the highest mountain?
    <br><br>
    The path of a cosmonaut is not an easy, triumphant march to glory. You have to get to know the meaning not just of joy but also of grief, before being allowed in the spacecraft cabin.
    <br><br>
    Problems look mighty small from 150 miles up.
    <br><br>
    Dinosaurs are extinct today because they lacked opposable thumbs and the brainpower to build a space program.
    <br><br>
    Spaceflights cannot be stopped. This is not the work of any one man or even a group of men. It is a historical process which mankind is carrying out in accordance with the natural laws of human development.
  </p>
</div>
<div class="clear"></div>
