<div class="leftside">
  <p class="page">
<strong>Island</strong> is a group media blog with content cultivated by some of the world's best climbers.
<br><br>
<em>Recently added features</em> -
<br><br>
The Island Map is new. Climbers can use their Instagram service (#island) to post images from the field that will appear on the Island Map.
<br><br>
<em>What's coming</em> -
<br><br>
... mapping existing media, crag check-ins, ascent tracking, a top-secret climbing condition index, and media ranking with voting.
<br><br>
- Team Island
  </p>
</div>
<div class="rightside">
  
</div>
<div class="clear"></div>
