<div class="new-session-activity">
  <a href="javascript:;" class="new-session-activity-clear" tabindex="-1">
    <i class="icon-cancel"></i>
  </a>
  <table>
    <tbody>
      <tr class="new-session-row-nopad">
        <td class="new-session-cell" style="width: 33.33%;">
          <select class="new-session-activity-type" name="action">
            <option value="hide">-- Type --</option>
            <option value="0" data-type="b">Bouldering</option>
            <option value="1" data-type="r">Trad. Climbing</option>
            <option value="2" data-type="r">Sport Climbing</option>
            <option value="3" data-type="r">Top Roping</option>
          </select>
        </td>
        <td class="new-session-cell" style="width: 33.33%;">
          <select name="duration">
            <option value="hide">-- Duration --</option>
            <option value="30">30m</option>
            <option value="60">1h</option>
            <option value="90">1h 30m</option>
            <option value="120">2h</option>
            <option value="150">2h 30m</option>
            <option value="180">3h</option>
            <option value="210">3h 30m</option>
            <option value="240">4h</option>
            <option value="270">4h 30m</option>
            <option value="300">5h</option>
            <option value="330">5h 30m</option>
            <option value="360">6h</option>
            <option value="390">6h 30m</option>
            <option value="420">7h</option>
            <option value="450">7h 30m</option>
            <option value="480">8h</option>
            <option value="51">8 30m</option>
            <option value="54">9h</option>
            <option value="57">9 30m</option>
            <option value="60">10h</option>
            <option value="63">10 30m</option>
            <option value="66">11h</option>
            <option value="69">11 30m</option>
            <option value="72">12h</option>
          </select>
        </td>
        <td class="new-session-cell" style="width: 33.33%;">
          <select name="performance">
            <option value="hide">-- Performance --</option>
            <option value="-1">Weak</option>
            <option value="0">Good</option>
            <option value="1">Strong</option>
          </select>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="new-session-ticks">
    <button class="button table-button tick-button">
      <i class="icon-plus"></i> <span>Problem</span>
    </button>
  </div>
</div>
