<div class="session-activity">
  <a href="javascript:;" class="session-activity-clear" tabindex="-1">
    <i class="icon-cancel"></i>
  </a>
  <table>
    <tbody>
      <tr>
        <td class="session-cell" style="width: 25%;">
          <label>Duration</label>
        </td>
        <td class="session-cell" style="width: 25%;">
          <label>Activity</label>
        </td>
        <td class="session-cell" style="width: 25%;">
          <label>Intensity</label>
        </td>
        <td class="session-cell" style="width: 25%;">
          <label>How did you feel?</label>
        </td>
      </tr>
      <tr>
        <td class="session-cell" style="width: 25%;">
          <select name="duration">
            <option value="hide">-- Select --</option>
            <option value="30">30m</option>
            <option value="60">1h</option>
            <option value="90">1h 30m</option>
            <option value="120">2h</option>
            <option value="150">2h 30m</option>
          </select>
        </td>
        <td class="session-cell" style="width: 25%;">
          <select name="action">
            <option value="hide">-- Type --</option>
            <option value="boulder">Bouldering</option>
            <option value="sport">Sport Climbing</option>
            <option value="traditional">Trad. Climbing</option>
            <option value="toprope">Top Roping</option>
          </select>
        </td>
        <td class="session-cell" style="width: 25%;">
          <select name="intensity">
            <option value="hide">-- Level --</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </td>
        <td class="session-cell" style="width: 25%;">
          <select name="feel">
            <option value="hide">-- Level --</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="session-ticks">
    <button class="button table-button tick-button">
      <i class="icon-plus"></i> Problem
    </button>
  </div>
</div>
