<%

  // Save model attributes
  var data = this.model.attributes;

%>

<div class="leftside">
  <div class="ascent single">
    <div class="page-title">
      <a href="/crags/<%= this.model.parentKey() %>" class="navigate"><%= data.crag %></a> / 
      <a href="/crags/<%= data.key %>" class="navigate"><span><%= data.name %></span></a>
    </div>
    <div class="profile-info">
      <div class="profile-description">
        <p>
          Crag: <a href="/crags/<%= this.model.parentKey() %>" class="navigate"><%= data.crag %></a>
          <br />
          <% if (data.sector) { %>
            Sector: <%= data.sector %>
            <br />
          <% } %>
          Country: <%= data.country %>
          <br />
          Grade: <%= data.grades.sort().join(', ') %>
        </p>
      </div>
    </div>
    <div id="medias"></div>
    <div class="list-spin">
      <div id="medias_spin"></div>
      <span class="empty-feed">Showing all.</span>
    </div>
  </div>
</div>
<div class="rightside">
  <h1 class="title-right">Activity</h1>
  <br />
  <span class="empty-list">...will go here :)</span>
</div>
<div class="clear"></div>
