<%
  // Save model attributes
  var data = this.model.attributes;
  var sub = this.app.profile.sub;
  var type = this.model.get('type');
  var prefs = this.app.profile.member ? this.app.profile.member.prefs: this.app.prefs;
  var system = type === 'r' ? prefs.grades.route: prefs.grades.boulder;
  var gradeConverter = this.app.gradeConverter[type];

  var weather = this.app.profile.weather;
  if (weather) {
    var weatherURL = '//www.forecast.io/#/f/'
        + this.model.get('location').latitude + ','
        + this.model.get('location').longitude;
  }
  var sector = '';
  if (data.sector && data.sector !== '') {
    sector = ', <span>' + data.sector + '</span>';
  }
%>

<% if (this.app.profile.member) { %>
  <% if (!this.options.config) { %>
    <% if (data.author_id === this.app.profile.member.id ||
        this.app.profile.member.admin) { %>
      <a href="/crags/<%= data.key %>/config" class="button title-button configure navigate">
          <i class="icon-cog"></i></a>
    <% } %>

    <% if (this.app.profile.member.username !== 'island'
        && this.app.profile.member.role !== 2) { %>
      <a href="javascript:;" class="button title-green-button log-session"
          data-cid="<%= this.model.get("crag_id") %>" data-aid="<%= this.model.id %>">
        <i class="icon-pencil"></i> Log it
      </a>
    <% } %>
    <% if (sub && sub.subscribee_id === this.model.id) { %>
      <a href="javascript:;" class="button title-button unwatch-button"
          data-path="/api/ascents/<%= this.model.id %>/unwatch"
          data-_path="/api/ascents/<%= this.model.id %>/watch">
        <i class="icon-eye-off"></i> Unwatch</a>
    <% } else { %>
      <a href="javascript:;" class="button title-button watch-button"
          data-path="/api/ascents/<%= this.model.id %>/watch"
          data-_path="/api/ascents/<%= this.model.id %>/unwatch">
        <i class="icon-eye"></i> Watch</a>
    <% } %>
  <% } else { %>
    <a href="/crags/<%= data.key %>" class="button title-button navigate">
        <i class="icon-angle-left"></i> Done</a>
  <% } %>
<% } %>
<div class="page-title">
  <img class="crag-flag" src="<%= __s %>/img/flags/<%= this.model.parentKey().substr(0,3) %>.png" height="26" />
  <a href="/crags/<%= this.model.parentKey() %>" class="navigate"><%= data.crag %></a> / 
  <% if (data.sector && data.sector !== '') { %>
    <%= data.sector %> / 
  <% } %>
  <a href="/crags/<%= data.key %>" class="navigate"><span><%= data.name %></span></a> - 
  <img class="ascent-type" src="/img/<%= data.type === 'b' ? 'boulder': 'route' %>_16.png"
      width="16" height="16"> - 
  <span class="ascent-grade"><%= gradeConverter.convert(data.grade, data.country, system) %></span>
  <% if (weather) { %>
    <a href="<%= weatherURL %>" class="crag-weather">
      <%= this.model.getTemp(weather.temperature) %>&deg<%= this.model.getTempUnits() %>
      <canvas id="crag_weather" width="26" height="26"></canvas>
    </a>
  <% } %>
</div>
