<%

  // Save model attributes
  var data = this.model.attributes;

%>

<div class="leftside">
  <div class="ascent single">
    <div class="ascent-info">
      <div class="ascent-description">
        <p>
          Crag: <a href="/crags/<%= this.model.parentKey() %>" class="navigate"><%= data.crag %></a>
          <br />
          <% if (data.sector) { %>
            Sector: <%= data.sector %>
            <br />
          <% } %>
          Country: <%= data.country %>
          <br />
          Grade: <%= data.grades.sort().join(', ') %>
        </p>
      </div>
    </div>
    <div class="events"></div>
    <div class="list-spin">
      <div class="events-spin"></div>
      <span class="empty-feed">Showing all.</span>
    </div>
  </div>
</div>
<div class="rightside">
  
</div>
<div class="clear"></div>
