<div class="splash-top">
  <div class="splash-top-inner">
    <div class="banner-roll">
      <video autoplay muted="true" loop>
        <!-- MP4 must be first for iPad! -->
        <source src="/vid/roll.mp4" type="video/mp4" /><!-- WebKit video    -->
        <!-- <source src="__VIDEO__.webm" type="video/webm" /> --><!-- Chrome / Newest versions of Firefox and Opera --> 
        <!-- <source src="__VIDEO__.OGV" type="video/ogg" /> --><!-- Firefox / Opera -->
        <!-- fallback to Flash: -->
        <object width="640" height="384" type="application/x-shockwave-flash" data="/swf/roll.swf">
            <!-- Firefox uses the `data` attribute above, IE/Safari uses the param below -->
            <param name="movie" value="/swf/roll.swf" />
            <!-- <param name="flashvars" value="image=__POSTER__.JPG&amp;file=__VIDEO__.MP4" /> -->
            <!-- fallback image. note the title field below, put the title of the video there -->
        </object>
      </video>
    </div>

    <form class="splash-form" method="post">
      <h2> Push yourself harder in 2015.</h2>
      <input class="splash-signup" placeholder="Enter your email" type="email" ></input>
      <button class="start-button button"> Request Invitation
        <div class="button-spin"></div>
      </button>
    </form>
  </div>
  <div class="splash-scroll"><i class="icon-menu"></i></div>
</div>
<div class="splash-features">
  <ul class="splash-features">
    <li>
      <div>
        <h2 class="feature-title">Log your climbing sessions in detail</h2>
        <img src="/img/ss/log.png" width="279" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </li>
    <li>
      <div>
        <h2 class="feature-title">Follow your friends (and enemies)</h2>
        <img src="/img/ss/follow.png" width="279" />
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
        </p>
      </div>
    </li>
    <li>
      <div>
        <h2 class="feature-title">Watch your favorite crags, boulders, and routes</h2>
        <img src="/img/ss/watch.png" width="279" />
        <p>
          At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
        </p>
      </div>
    </li>
  </ul>
</div>
<div class="splash-bottom">
</div>

