<%
  var profile = this.app.profile.member;
  var gravatar = 'https://www.gravatar.com/avatar/'
      + profile.gravatar + '?s=50&d='
      + encodeURIComponent(this.app.cfuri + '/avatars/avatar_100.png');
%>

<div class="member-box">
  <div class="divider-vertical"></div>
  <a href="/<%= profile.username %>" class="header-avatar">
    <img src="<%= gravatar %>" width="50" height="50" />
  </a>
  <a href="javascript:;" class="button globe-button header-action">
    <i class="icon-globe"></i>
    <span class="count"></span>
  </a>
  <div class="divider-vertical"></div>
  <a href="/logout" class="button header-action">
    <i class="icon-logout"></i>
  </a>
  <div class="divider-vertical"></div>
  <a href="/session" class="button header-session-button header-action navigate">
    <i class="icon-pencil"></i> <span>Log session</span>
  </a>
</div>
