<div class="confirm">
  <div class="confirm-overlay">
    <p>...erasing every last bit of your Island data...</p>
  </div>
  <div class="confirm-body">
    <span class="confirm-title">Reeeaaally?</span>
    <p>Your data will be removed, forever.</p>
    <input class="password-for-delete" type="password" name="password"
        placeholder="Your password, please ..." />
  </div>
  <div class="confirm-actions">
    <button id="confirm_delete" class="action-button main danger">Delete</button>
    <button id="confirm_cancel" class="action-button">Cancel</button>
    <div class="clear"></div>
  </div>
</div>
