<div class="modal">
  <span class="modal-title"><i class="icon-attention"></i> Confirm</span>
  <div class="modal-body">
    <p class="modal-message"><%= message %></p>
  </div>
  <div class="modal-actions">
    <button class="modal-cancel modal-button button">Cancel</button>
    <button class="modal-confirm modal-button modal-delete button">
      <%= typeof confirmTxt !== 'undefined' ? confirmTxt: '<i class="icon-trash"></i> <span>Delete</span>' %>
    </button>
    <div class="clear"></div>
  </div>
</div>
