<div class="leftside">
  <h1 class="title-left">Contact</h1>
  <h1 class="title-sub">Get in touch.</h1>
  <p class="page">
    Island LLC
    <br>
    1155 5th St #404
    <br>
    Oakland, CA 94607
    <br>
    (303) 902-0680
    <br><br>
    <strong>Questions / Information -</strong> <a class="contact-link" href="mailto:hello@island.io">hello@island.io</a>
    <br><br>
    <strong>Site / Sales Support -</strong> <a class="contact-link" href="mailto:support@island.io">support@island.io</a>
    <br>
    Just <a href="mailto:support@island.io">tell us what's up</a> or use the blue <em>Feedback &amp; Support</em> tab. We will help you ASAP.
    <br><br>
    <strong>Feedback - </strong> Please use the blue <em>Feedback &amp; Support</em> tab. Thank you!
    <br><br>
    <strong>Advertise -</strong> <a class="contact-link" href="mailto:advertise@island.io">advertise@island.io</a>
    <br>
    We can help you reach your audience with a Company Page profile.
    <br><br>
    <a href="http://goo.gl/sUgBi7" class="contact-download" target="_blank">
      <i class="icon-download-cloud"></i>
      Download our Media Kit (PDF)
    </a>
  </p>
</div>
<div class="clear"></div>
