<div class="leftside">
  <div class="obj-title">
    <h1 class="title-left">Contact</h1>
    <h1 class="title-sub"></h1>
  </div>
  <p class="page">
    <strong>General Inquiries -</strong>
    <br>
    <a href="mailto:hello@island.io">hello@island.io</a>
    <br><br>
    <strong>Feedback -</strong>
    <br>
    Island needs your help! What do you think of the site? Just <a href="mailto:hello@island.io">send an email </a>or use the blue <em>Feedback &amp; Support</em> tab.
    <br><br>
    <strong>Site / Sales Support -</strong>
    <br>
    Please <a href="mailto:support@island.io">tell us what's up</a> or use the blue <em>Feedback &amp; Support</em> tab. We will help you ASAP.
    <br><br>
    <strong>Advertise -</strong>
    <br>
    Our approach to advertising is much like a Facebook Page. We'd love to help you reach your audience by profiling your company and athletes on Island.
    <br><br>
    <span class="contact-links">
      <a href="mailto:hello@island.io">Contact us</a> | <a href="http://goo.gl/sUgBi7" target="_blank">Download our Media Kit (PDF)</a>
    </span>
  </p>
</div>
<div class="clear"></div>
