<%
  // Save model attributes
  var data = this.model.attributes;
  var sub = this.app.profile.sub;

  var weather = this.app.profile.weather;
  if (weather) {
    var weatherURL = '//www.forecast.io/#/f/'
        + this.model.get('location').latitude + ','
        + this.model.get('location').longitude;
  }
%>

<% if (this.app.profile.member) { %>
  <% if (!this.options.config) { %>
    <% if (data.author_id === this.app.profile.member.id ||
        this.app.profile.member.admin) { %>
      <a href="/crags/<%= data.key %>/config" class="button title-button configure navigate">
          <i class="icon-cog"></i></a>
    <% } %>

    <% if (this.app.profile.member.username !== 'island'
        && this.app.profile.member.role !== 2) { %>
      <a href="javascript:;" class="button title-green-button log-session"
          data-cid="<%= this.model.id %>">
        <i class="icon-pencil"></i> Log
      </a>
    <% } %>

    <% if (this.app.profile.member.role !== 2) { %>
      <a href="javascript:;" class="button title-button add-ascent"
          data-cid="<%= this.model.id %>">
        <i class="icon-plus"></i> Climb
      </a>
    <% } %>
    <% if (sub && sub.subscribee_id === this.model.id) { %>
      <a href="javascript:;" class="button title-button unwatch-button"
          data-path="/api/crags/<%= this.model.id %>/unwatch"
          data-_path="/api/crags/<%= this.model.id %>/watch">
        <i class="icon-eye-off"></i> Unwatch</a>
    <% } else { %>
      <a href="javascript:;" class="button title-button watch-button"
          data-path="/api/crags/<%= this.model.id %>/watch"
          data-_path="/api/crags/<%= this.model.id %>/unwatch">
        <i class="icon-eye"></i> Watch</a>
    <% } %>
  <% } else { %>
    <a href="/crags/<%= data.key %>" class="button title-button navigate">
        <i class="icon-angle-left"></i> Done</a>
  <% } %>
<% } %>
<div class="page-title">
  <img class="crag-flag" src="<%= __s %>/img/flags/<%= data.key.substr(0,3) %>.png" height="26" />
  <a href="/crags/<%= data.key.substr(0,3) %>" class="navigate"><%= data.country %></a> / 
  <a href="/crags/<%= data.key %>" class="navigate"><span><%= data.name %></span></a>
  <% if (weather) { %>
    <a href="<%= weatherURL %>" class="crag-weather">
      <%= this.model.tempFtoC(weather.temperature) %>&degC&nbsp
      <canvas id="crag_weather" width="26" height="26"></canvas>
    </a>
  <% } %>
</div>
