<div class="rightside">
  <div class="sidebar-items">
    <div class="sidebar-ticks">
      <span class="sidebar-heading">Recent ascents:</span>
      <div class="sidebar-ticks-r"></div>
      <div class="sidebar-ticks-b"></div>
    </div>
    <% if (this.app.profile.member.username !== 'island'
        && this.app.profile.member.role !== 2) { %>
      <div class="sidebar-watchees">
        <span class="sidebar-heading">You're watching:</span>
        <div class="sidebar-crags"></div>
        <div class="sidebar-ascents-r"></div>
        <div class="sidebar-ascents-b"></div>
      </div>
    <% } %>
  </div>
</div>
<div class="leftside">
  <div class="crags-search-input">
    <input class="filter-box" type="search" tabindex="2" placeholder="search for a crag..." />
    <span class="note">
      Filter by country with a country code, e.g., "aus:" or "bra:igatu".
    </span>
  </div>
  <div class="list-wrap">
    <div class="crags-spin"></div>
    <span class="no-results">No results.</span>
  </div>
</div>
<div class="clear"></div>
