<%

  // Save model attributes
  var data = this.model.attributes;
  var weather = this.app.profile.weather;

%>

<div class="leftside">
  <div class="page-info">
    <div class="page-description">
      <p>
        Country: <%= data.country %>
        <br />
        Boulders: <%= this.model.count(data.bcnt) %>
        <br />
        Routes: <%= this.model.count(data.rcnt) %>
      </p>
    </div>
    <% if (weather) { %>
    <div class="page-weather">
      <canvas id="crag-weather" width="64" height="64"></canvas>
      <span>
        &nbsp<%= this.model.tempFtoC(weather.temperature) %>&degC
      </span>
    </div>
    <% } %>
  </div>
  <div class="events"></div>
  <div class="list-spin">
    <div class="events-spin"></div>
    <span class="empty-feed">Showing all.</span>
  </div>
</div>
<div class="rightside"></div>
<div class="clear"></div>
