<div class="leftside">
  <div class="crags-search-input">
    <input class="filter-box" type="search" tabindex="2" placeholder="search for a crag..." />
    <span class="note">
      Filter by country with a country code, e.g., "aus:" or "bra:igatu".
    </span>
  </div>
  <div class="list-wrap">
    <div class="crags-spin"></div>
    <span class="no-results">No results.</span>
  </div>
</div>
<div class="rightside">
  <% if (this.app.profile.member) { %>
    <div class="sidebar-items">
      <div class="sidebar-watchees">
        <span class="sidebar-heading">Watching</span>
        <div class="sidebar-crags"></div>
        <div class="sidebar-ascents-r"></div>
        <div class="sidebar-ascents-b"></div>
      </div>
      <div class="sidebar-followers"></div>
      <div class="sidebar-followees"></div>
    </div>
  <% } %>
</div>
<div class="clear"></div>
