<%

  // Save model attributes
  var data = this.model.attributes;

%>

<div class="leftside">
  <div class="crag single">
    <div class="page-title">
      <%= data.country %> / 
      <a href="/crags/<%= data.key %>" class="navigate"><span><%= data.name %></span></a>
    </div>
    <div class="ascent-filter">
      <div class="ascent-filter-buttons">
        <a class="b-filter button button-left" href="javascript:;"
            style="width:70px;">
          Boulders</a>
        <a class="r-filter button button-right" href="javascript:;"
            style="width:57px;">
          Routes</a>
      </div>
      <input class="filter-box" type="search" tabindex="2" placeholder="filter ascents..." />
    </div>
    <% _.each(data.ascents, _.bind(function (ascents, t) {
      if (data[t + 'cnt'] === 0) return; %>
      <div class="ascents-wrap <%= t %>-ascents">
        <span class="no-results">No results.</span>
        <% _.each(this.model.grades, _.bind(function (grade) {
          var buck = ascents[grade];
          if (!buck) return;
          var i = 0; %>
          <ul class="ascents">
            <span class="grade-heading"><%= grade %></span>
            <% _.each(buck, _.bind(function (a) {
              var back = i % 2 === 0 ? '#f2f2f2': '#f9f9f9'; %>
                <a href="/crags/<%= a.key %>" id="<%= a.id %>" class="navigate">
                  <li style="background:<%= back %>;">
                    <% if (a.sector) { %>
                      <span class="ascent-name"><%= a.name %>, </span>
                    <% } else { %>
                      <span class="ascent-name"><%= a.name %></span>
                    <% } %>
                    <span class="ascent-sector"><%= a.sector %></span>
                  </li>
                </a>
              <% ++i; %>
            <% }, this)); %>
          </ul>
        <% }, this)); %>
      </div>
    <% }, this)); %>
  </div>
</div>
