<%

  // Save model attributes
  var data = this.model.attributes;
  var location = data.location || {};

  var beta = this.model.formatOverview() ||
      '<span class="empty-feed">No information yet.</span>';

%>

<div class="rightside">
  <div class="sidebar-items">
    <div class="sidebar-watchers"></div>
    <div class="sidebar-sectors"></div>
  </div>
  <div class="crag-ascents"></div>
</div>

<% if (this.options.config) { %>
  <div class="leftside settings">
    <h2 class="divider with-icon">Crag configuration</h2>
    <span class="event-timeline-label event-timeline-label-first">
      <i class="icon-location"></i>
    </span>
    <form enctype="multipart/form-data" method="POST">
      <table>
        <tbody>
          <tr>
            <td colspan="2">
              <label for="cragName">Name</label>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <input type="text" tabindex="10" id="cragName" name="name" data-saved="<%= data.name %>"
                  class="settings-param" placeholder="name" value="<%= data.name %>" />
              <!-- <label class="checkbox-styled input-checkbox">
                < if (data.public === false) { >
                  <input class="save-private" type="checkbox" name="private" value="private" checked="checked" />
                  <span style="padding:0; width:84px;"><i class="icon-lock"></i> Private</span>
                < } else { >
                  <input class="save-private" type="checkbox" name="private" value="private" />
                  <span style="padding:0; width:84px;"><i class="icon-lock-open"></i> Public</span>
                < } >
              </label> -->
            </td>
          </tr>

          <tr>
            <td colspan="2">
              <label for="cragOverview">Overview</label>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <textarea name="overview" tabindex="11" id="cragOverview"
                  class="settings-param" placeholder="Write something about this crag..."><%= data.overview %></textarea>
            </td>
          </tr>

          <tr>
            <td colspan="2">
              <label for="cragTags">Instagram Tag</label>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <input type="text" tabindex="12" id="cragTags" name="tags"
                  class="settings-param" placeholder="Hashtag for Instagram search..." value="<%= data.tags %>" />
            </td>
          </tr>

          <tr>
            <td>
              <label for="cragLatitude">Latitude</label>
            </td>
          </tr>
          <tr>
            <td>
              <input type="text" tabindex="13" id="cragLatitude" name="location.latitude"
                  data-saved="<%= location.latitude %>" class="settings-param" placeholder="latitude"
                  value="<%= location.latitude %>" />
            </td>

          </tr>
          <tr>
            <td>
              <label for="cragLongitude">Longitude</label>
            </td>
          </tr>
          <tr>
            <td style="padding-bottom:20px;">
              <input type="text" tabindex="14" id="cragLongitude" name="location.longitude"
                  data-saved="<%= location.longitude %>" class="settings-param" placeholder="longitude"
                  value="<%= location.longitude %>" />
              <span class="settings-note">Click map to set a new location.</span>
            </td>
          </tr>
          <tr>
            <td colspan="2" style="padding-top:15px;">
              <a tabindex="15" href="javascript:;" class="demolish button signin-strategy-btn delete-btn">
                Delete Crag
                <i class="icon-right-open-big"></i>
              </a>
            </td>
          </tr>

        </tbody>
      </table>
    </form>
  </div>
<% } else { %>
  <div class="leftside">
    <div class="beta">
      <p>
        <%= beta %>
      </p>
    </div>
    <div class="instagrams">
      <div id="ig_tagged">
        <span class="sidebar-heading-small">
          Recent instagrams tagged <span class="sidebar-heading-cnt">
          #<%= this.model.instagramTags() %></span>
        </span>
        <span class="instagrams-all">
          <i class="icon-angle-down"></i>&nbsp;<i class="icon-angle-down"></i>
        </span>
      </div>
    </div>
    <div class="events"></div>
    <div class="list-spin">
      <div class="events-spin"></div>
      <span class="empty-feed">Showing all.</span>
    </div>
  </div>
<% } %>
<div class="clear"></div>
