<%
  var code = null;
  var i = 0;

  function formatCity(str) {
    if (!str || str === '') return '';
    str = _.map(str.split(','), function (p) {
      var s = _.str.capitalize(p.trim());
      if (s.length === 2) s = s.toUpperCase();
      return s;
    }).join(', ');
    return str === '' ? '': 'near ' + str;
  }
%>

<% _.each(items, _.bind(function (c) { %>
  <% var _code = _.str.strLeft(c.key, '/'); %>
  <% if (_code !== code) { %>
    <% i = 0; %>
    <% if (code !== null) { %>
      </ul>
    <% } %>
    <ul class="list">
      <span class="list-group-heading">
        <%= c.country %>
        <span>(<%= _code.toUpperCase() %>)</span>
      </span>
  <% } %>
  <% var back = i % 2 === 0 ? '#f2f2f2': '#f9f9f9'; %>
  <li style="background:<%= back %>;" id="<%= c.id %>">
    <a href="/crags/<%= c.key %>" id="<%= c.id %>" class="navigate">
      <span class="list-row-title"><%= c.name %>, <span><%= c.country %></span></span>
    </a>
    <a href="javascript:;" class="list-button">
      <i class="icon-pencil"></i>
    </a>
  </li>
  <% code = _code; ++i; %>
  <% if (i === items.length) { %>
    </ul>
  <% } %>
<% }, this)); %>
