<div class="rightside">
  <div class="sidebar-items">
    <div class="sidebar-ticks">
      <span class="sidebar-heading">Recent public ascents:</span>
      <div class="sidebar-ticks-r"></div>
      <div class="sidebar-ticks-b"></div>
    </div>
    <% if (this.app.profile.member.username !== 'island'
        && this.app.profile.member.role !== 2) { %>
      <div class="sidebar-watchees">
        <span class="sidebar-heading">You're watching:</span>
        <div class="sidebar-crags"></div>
        <div class="sidebar-ascents-r"></div>
        <div class="sidebar-ascents-b"></div>
      </div>
    <% } %>
    <div class="sidebar-followers"></div>
    <div class="sidebar-followees"></div>
    <div class="sidebar-recs"></div>
  </div>
</div>
<div class="leftside">
  <div class="events"></div>
  <div class="list-spin">
    <div class="events-spin"></div>
    <span class="empty-feed">Showing all.</span>
  </div>
</div>
<div class="clear"></div>
