<% console.log(this.error) %>
<% if (this.error.code === 404) { %>
  <span class="http-error"><%= this.error.message %></span>
  <p class="http-notice">The link you followed may be broken, or the page may have been removed. Feel free to <a href="mailto:support@island.io">contact us</a>.</p>
<% } else { %>
  <span class="http-error"><%= this.error.code ? '(' + this.error.code + ')': '' %> 
      <%= this.error.message || 'Server Error' %></span>
  <p class="http-notice">:( Looks like something went wrong. We track these errors automatically, but if the problem persists feel free to <a href="mailto:support@island.io">contact us</a>. In the meantime, try refreshing.</p>
<% } %>
