<div class="leftside">
  <div class="obj-title">
    <h1 class="title-left">Films</h1>
    <h1 class="title-sub">Original content by Island</h1>
  </div>
  <p class="page">
    Spaceflights cannot be stopped. This is not the work of any one man or even a group of men. It is a historical process which mankind is carrying out in accordance with the natural laws of human development.
    <br><br>
    The path of a cosmonaut is not an easy, triumphant march to glory. You have to get to know the meaning not just of joy but also of grief, before being allowed in the spacecraft cabin.
    <br><br><br><br>
  </p>
  <div id="posts"></div>
  <div class="list-spin">
    <div id="posts_spin"></div>
    <span class="empty-feed">Showing all.</span>
  </div>
</div>
<div class="rightside">
  <h1 class="title-right">/ Activity</h1>
  <br />
  <span class="empty-list">...will go here :)</span>
</div>
<div class="clear"></div>
