<div class="rightside">
  <div class="sidebar-items">
    <div class="sidebar-ticks">
      <span class="sidebar-heading">Recent public ascents:</span>
      <div class="sidebar-ticks-r"></div>
      <div class="sidebar-ticks-b"></div>
    </div>
    <div class="sidebar-broadcasts">
      <% _.each(this.app.profile.content.broadcasts.items, _.bind(function (b, i) { %>
        <div class="sidebar-broadcast">
          <h1>
            <a href="/blog/<%= b.slug %>">
              <i class="icon-signal"></i> <%= b.title %>
            </a>
          </h1>
          <p><%= b.preview %></p>
          <p>
        </div>
      <% }, this)); %>
    </div>
  </div>
</div>
<div class="leftside">
  <p class="page">
We're proud to bring you professional grade content. Many thanks to everyone that has made these films happen. If you have a sales question or just need some help with something, please <a href="mailto:support@island.io">send us an email</a>.
  </p>
  <div class="events">
    <% if (this.app.profile.content.static_posts) { %>
      <% _.each(this.app.profile.content.static_posts,
          _.bind(function (p, i) { %>
        <% _.each(p.medias, _.bind(function (m, i) { %>
          <% if (m.type === 'image') { %>
            <img src="<%= m.image.ssl_url %>" />
          <% } else if (m.type === 'video') { %>
            <video src="<%= m.video.ssl_url %>" poster="<%= m.poster.ssl_url %>"
                controls="controls"></video>
          <% } %>
        <% }, this)); %>
      <% }, this)); %>
    <% } %>
  </div>
  <div class="list-spin">
    <div class="events-spin"></div>
    <span class="empty-feed">Showing all.</span>
  </div>
</div>
<div class="clear"></div>
