<meta property="og:site_name" content="Island">
<meta property="fb:app_id" content="203397619757208">
<% if (data) { %>
  <meta property="og:url" content="http://www.island.io/<%= data.key %>">
  <meta property="og:title" content="<%= data.title %>">
  <meta property="og:description" content="<%= data.body %>">
  <% if (data.medias) { %>
    <% _.each(data.medias, function (m) { %>
      <% if (m.type === 'image') { %>
        <meta property="og:type" content="image">
        <meta property="og:image" content="<%= m.image.cf_url %>">
        <meta property="og:image:secure_url" content="<%= m.image.cf_url %>">
      <% } else if (m.type === 'video') { %>
        <meta property="og:type" content="image">
        <meta property="og:image" content="<%= m.poster.cf_url %>">
        <meta property="og:image:secure_url" content="<%= m.poster.cf_url %>">
      <% } else if (m.type === 'audio') { %>
        <meta property="og:type" content="song">
        <meta property="og:audio" content="<%= m.audio.cf_url %>">
        <meta property="og:audio:secure_url" content="<%= m.audio.cf_url %>">
        <meta property="og:audio:type" content="application/mp3">
      <% } %>
    <% }); %>
  <% } %>
<% } %>
