<div id="header-left">
  <a id="logo" href="/">
    <img src="https://d271mvlc6gc7bl.cloudfront.net/main/gfx/is-logo.png" alt="is-logo_img" width="300" class="centered" />
  </a>
</div>
<div id="header-right">
  <div id="menu" class="list">
    <ul>
      <li>
        <a id="nav-login" href="/login" class="button">Log In / Sign Up</a>
      </li>
      <li style="margin: 0 5px 0 0">
        <a href="/films" class="button">Films</a>
      </li>
      <li>
        <span class="welcome-member">Oi !</span>
      </li>
    </ul>
  </div>
</div>
<div class="clear"></div>