<div class="leftside">
  <span class="leftside-heading">
    Team Posts
  </span>
  <div class="posts"></div>
  <div class="list-spin">
    <div class="posts-spin"></div>
    <span class="empty-feed">Showing all.</span>
  </div>
</div>
<div class="rightside">
  <span class="rightside-heading">
    Activity
  </span>
  <div class="events"></div>
  <div class="list-spin">
    <div class="events-spin"></div>
    <span class="empty-feed">Showing all.</span>
  </div>
</div>
<div class="clear"></div>
