<div class="leftside">
  <div class="posts"></div>
  <div class="list-spin">
    <div class="posts-spin"></div>
    <span class="empty-feed">Showing all.</span>
  </div>
</div>
<div class="rightside">
  <!-- < if (this.app.profile.member) { >
    <a href="/session" class="session-button button navigate">
      <i class="icon-pencil"></i>Log Session
    </a>
  < } > -->
  <div class="events"></div>
  <div class="list-spin">
    <div class="events-spin"></div>
    <span class="empty-feed">Showing all.</span>
  </div>
</div>
<div class="clear"></div>
