<div class="rightside">
  <div class="sidebar-items">
    <% if (this.app.profile.member && this.app.profile.member.username !== 'island'
        && this.app.profile.member.role !== 2) { %>
      <div class="sidebar-watchees">
        <span class="sidebar-heading">You're watching:</span>
        <div class="sidebar-crags"></div>
        <div class="sidebar-ascents-r"></div>
        <div class="sidebar-ascents-b"></div>
      </div>
    <% } %>
  </div>
</div>
<div class="leftside import">
  <p class="note">
    <span class="em">Step 1)</span> Let's find your 8a account.
  </p>
  <input class='import-input' type="search" placeholder="Your full name on 8a"></input>
  <button class="button import-search-button"><i class="icon-search"></i> Search
    <div class="button-spin"></div>
  </button>
  <div class="list-wrap" style="display:block;">
    <span class="no-results">No results.</span>
    <ul class="list"></ul>
  </div>
</div>
<div class="clear"></div>
