<%
  var data = this.model.attributes;
%>

<div class="rightside">
  <div class="sidebar-items">
    <% if (this.app.profile.member && this.app.profile.member.username !== 'island'
        && this.app.profile.member.role !== 2) { %>
      <div class="sidebar-watchees">
        <span class="sidebar-heading">You're watching:</span>
        <div class="sidebar-crags"></div>
        <div class="sidebar-ascents-r"></div>
        <div class="sidebar-ascents-b"></div>
      </div>
    <% } %>
  </div>
</div>
<div class="leftside import">
  <p class="note">
    We'll add all the below boulder problems and routes to your Island ascent list. We'll also add any missing climbs to The Island if we recognize the crag.
  </p>
  <br>
  <p class="note">
    Note: Importing can take up to a minute for large scorecards.
  </p>
  <br>
  <button class="button new-session-button"><i class="icon-up"></i> Import from <%=this.target%>
    <div class="button-spin"></div>
  </button>

  <div class="ticks-filter">
    <span class="import-scorecard-title"> <%= this.name %>'s Scorecard</span>
    <div class="subtabs">
      <ul>
        <li class="subtab">
          <a href="javascript:;" class="b-filter"><%= data.ticks.b.length %> Boulders</a>
        </li>
        <li data-filter="r" class="subtab">
          <a href="javascript:;" class="r-filter"><%= data.ticks.r.length %> Routes</a>
        </li>
      </ul>
    </div>
    <div class="ticks-filter-input">
      <input class="filter-box" type="search" tabindex="2" placeholder="filter ascents..." />
    </div>
    <button class="button import-include-all"> Include all</button>
    <button class="button import-remove-all"> Remove all</button>
    <div class="clear"></div>
  </div>
  <div class="tick-list">
    <%
    var prefs = this.app.profile.member ? this.app.profile.member.prefs: this.app.prefs;
    _.each(data.ticks, _.bind(function (ticks, type) {
      var ticks = this.model.ticksByGrade(type);
      var system = type === 'r' ? prefs.grades.route: prefs.grades.boulder;
      var self = this;
      var grades = _.keys(ticks).sort(function (a, b) {
        return self.model.gradeConverter[type].compare(b, a, null, system); // note: reverse
      });
      grades = _.uniq(grades);
    %>
      <div class="list-wrap <%= type %>-ticks">
        <span class="empty-feed"><%= this.name %> hasn't logged any <%= type === 'b' ? 'boulder problems': 'routes' %> yet.</span>
        <span class="no-results">No results.</span>
        <% _.each(grades, function (grade) { %>
          <ul class="session-ticks">
            <div class="tick-list-group-heading" data-grade="<%= grade %>">
              <span><%= grade %></span>
            </div>
            <% _.each(ticks[grade], _.bind(function (tick) { %>
              <li class="tick" id="<%= tick.id %>" data-type="<%= tick.type %>"></li>
            <% })); %>
          </ul>
        <% }); %>
      </div>
    <% }, this)); %>
  </div>

</div>
<div class="clear"></div>
