<%
  var data = this.model.attributes;
  var grades = ['not graded by you'].concat(this.model.grades);
%>

<div class="rightside"></div>
<div class="leftside import">
  <p class="note">
    <span class="em">Step 2)</span> We'll add all the below boulder problems and routes to your Island ascent list. We'll also add any missing climbs to The Island if we recognize the crag. Note: Importing can take up to a minute for large scorecards.
  </p>

  <button class="button new-session-button"><i class="icon-up"></i> Import
    <div class="button-spin"></div>
  </button>

  <div class="ticks-filter">
    <span class="import-scorecard-title"> <%= this.name %>'s Scorecard</span>
    <div class="subtabs">
      <ul>
        <li class="subtab">
          <a href="javascript:;" class="b-filter"><%= data.ticks.b.length %> Boulders</a>
        </li>
        <li data-filter="r" class="subtab">
          <a href="javascript:;" class="r-filter"><%= data.ticks.r.length %> Routes</a>
        </li>
      </ul>
    </div>
    <div class="ticks-filter-input">
      <input class="filter-box" type="search" tabindex="2" placeholder="filter ascents..." />
    </div>
  </div>
  <div class="tick-list">
    <% _.each(data.ticks, _.bind(function (ticks, type) {
      ticks = this.model.ticksByGrade(type);
      var self = this;
      var grades = _.keys(ticks).sort(function (a, b) {
        return self.model.gradeConverter[type].compare(b, a); // note: reverse
      });
    %>
      <div class="list-wrap <%= type %>-ticks">
        <span class="empty-feed"><%= owner2 %> logged any <%= type === 'b' ? 'boulder problems': 'routes' %> yet.</span>
        <span class="no-results">No results.</span>
        <% _.each(grades, function (grade) { %>
          <ul class="session-ticks">
            <div class="tick-list-group-heading" data-grade="<%= grade %>">
              <span><%= grade %></span>
            </div>
            <% _.each(ticks[grade], _.bind(function (tick) { %>
              <li class="tick" id="<%= tick.id %>" data-type="<%= tick.type %>"></li>
            <% })); %>
          </ul>
        <% }); %>
      </div>
    <% }, this)); %>
  </div>

</div>
<div class="clear"></div>
