<div class="leftside">
  <h1> <a href="http://www.8a.nu"> 8a.nu </a> Import Tool </h1>
  <h2> 8a ascents </h2>
  <div class="import-spin"></div>
  <button class="button"> Submit </button>

  <div class="ticks-filter">
    <div class="subtabs">
      <ul>
        <li class="subtab">
          <a href="javascript:;" class="b-filter">Boulders</a>
        </li>
        <li data-filter="r" class="subtab">
          <a href="javascript:;" class="r-filter">Routes</a>
        </li>
      </ul>
    </div>
    <div class="ticks-filter-input">
      <input class="filter-box" type="search" tabindex="2" placeholder="filter ascents..." />
    </div>
  </div>

  <div class="tick-list">
    <span class="no-results">No results.</span>
    <ul class="session-ticks"></ul>
  </div>

  <ul class="import-list"></ul>

  <table class="import-table"><tbody>
    <thead>
      <th>Date</th>  <th>Boulder/Route</th>  <th>Crag</th> <th>Ascent</th>
      <th>Grade</th> <th>Tries</th> <th>First Ascent </th> <th>Feel</th>
      <th>Rating</th> <th>Recommended</th> <th>Note </th>
    </thead>    
  </tbody></table>
</div>
<div class="rightside">

</div>
<div class="clear"></div>
