<%
  var member = this.app.profile.get('member');
  var page = this.app.profile.get('content').page;
%>

<div id="main">
  <div class="single-left">
    <div class="obj-title">
      <span class="slash">/</span>
      <h1 class="title-left">Nalle Hukkataival</h1>
      <h1 class="title-sub">from Helsinki, Finland</h1>
    </div>
    <div class="obj-holder member-picture">
      <img src="https://d271mvlc6gc7bl.cloudfront.net/main/gfx/is-cornermask-top.png" width="640" style="top:0;" class="mask">
      <img src="https://d271mvlc6gc7bl.cloudfront.net/main/gfx/is-cornermask-btm.png" width="640" style="top:280px;" class="mask">
      <img src="https://sphotos.xx.fbcdn.net/hphotos-ash4/s720x720/400558_10150478923582073_1294483103_n.jpg" width="779.5488721804511" height="288" style="top:0;left:-69.77443609022555px;" class="masked">
    </div>
    <div class="obj-desc matte">
      <img src="https://d271mvlc6gc7bl.cloudfront.net/main/gfx/is-obj-info.gif" alt="info" align="top" class="left">
      <div class="obj-desc-txt-wrap profile-info">
        <div class="member-info">
          <ul>
            <li>
              // Nalle Hukkataival is a <span class="member-info-content birthday">26</span><span>&nbsp;year old </span><span class="member-info-content">male </span>living in <span class="member-info-content">Grampians, Australia</span>.
            </li>
            <li>
              // <span>More from Nalle Hukkataival at </span><span class="member-info-content"><a href="http://www.nallehukkataival.com" target="_blank">http://www.nallehukkataival.com</a></span>
            </li>
          </ul>
        </div>
        <h3 data-date="Tue May 10 2011 05:09:44 GMT+0000 (UTC)" data-type="profile" data-role="0" class="obj-details">Contributor since 5/9/11</h3>
      </div>
    </div>
  </div>
  <div class="recent-comments-wrap">
    <h1 class="title-right">/ Recent Comments</h1>
    <div id="comments"></div>
  </div>
</div>