<%
  // Save model attributes
  var data = this.model.attributes;

  // Handle from
  var location = data.location && data.location.name ? data.location.name: null;
  if (!location && data.hometown && data.hometown.name)
    location = data.hometown.name;
  if (location) location = location + ' / ';

  // Gravatar
  var gravatar = 'https://www.gravatar.com/avatar/'
      + data.gravatar + '?s=26&d='
      + encodeURIComponent(this.app.cfuri + '/avatars/avatar_100.png');
%>

<% if (this.app.profile.member) { %>
  <% if (this.app.profile.member.id === data.id) { %>
    <a href="/settings" class="button title-button navigate">
      <i class="icon-params"></i> Settings</a>
  <% } else { %>
    <% if (this.app.profile.sub) { %>
      <a href="javascript:;" class="button title-button unfollow-button">
        <i class="icon-user-delete"></i> Unfollow</a>
    <% } else { %>
      <a href="javascript:;" class="button title-button follow-button">
        <i class="icon-user-add"></i> Follow</a>
    <% } %>
  <% } %>
<% } %>
<div class="page-title">
  <img src="<%= gravatar %>" class="page-title-avatar" width="26" height="26" /><%= location %>
  <a href="<%= data.username %>" class="navigate"><%= data.displayName %></a>
</div>
