<div class="middle">
  <div class="settings-form">
    <form class="password-reset" enctype="multipart/form-data" method="POST">
      <table>
        <tbody>
          <tr>
            <td colspan="1">
              <h1 class="title-static">Reset your password</h1>
            </td>
            <td colspan="1" class="text-right">
              <span class="signin-error"></span>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <label for="oldpassword">Old Password</label>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <input tabindex="1" name="oldpassword" type="password" />
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <label for="newpassword">New Password</label>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <input tabindex="2" name="newpassword" type="password" />
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <label for="cnewpassword">Confirm New Password</label>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <input tabindex="3" name="cnewpassword" type="password" />
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <input tabindex="4" class="reset-button" type="submit" value="Update Password" />
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <a href="javascript:;" class="forgot-password">I forgot my password</a>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
