<div class="leftside">
  <div class="settings">
    <form class="password-reset" enctype="multipart/form-data">
      <table>
        <tbody>
          <tr>
            <td>
              <label for="oldpassword">Old Password</label>
            </td>
          </tr>
          <tr>
            <td>
              <input tabindex="1" name="oldpassword" type="password" />
            </td>
          </tr>
          <tr>
            <td>
              <label for="newpassword">New Password</label>
            </td>
          </tr>
          <tr>
            <td>
              <input tabindex="2" name="newpassword" type="password" />
            </td>
          </tr>
          <tr>
            <td>
              <label for="cnewpassword">Confirm New Password</label>
            </td>
          </tr>
          <tr>
            <td>
              <input tabindex="3" name="cnewpassword" type="password" />
            </td>
          </tr>
          <tr>
            <td>
              <input tabindex="4" class="reset-submit" type="submit" value="Update Password" />
            </td>
          </tr>
          <tr>
            <td>
              <a href="javascript:;" class="forgot-password">I forgot my password</a>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
<div class="rightside">
  
</div>
<div class="clear"></div>
