<div class="modal">
  <span class="modal-title"><i class="icon-pencil"></i> <%= this.options.tick ? 'Update': 'Log' %> climbing</span>
  <form class="new-session-post-form" enctype="multipart/form-data" method="POST">
    <div class="modal-body">
      <div class="new-session-activities">
        <div class="new-session-activity">
          <div class="new-session-ticks">
            <%= tick %>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-actions">
      <button tabindex="4" type="button" class="modal-cancel modal-button button">Close</button>
      <% if (this.options.tick) { %>
        <button tabindex="5" type="button" class="modal-delete modal-button button">
          <div class="button-spin"></div>
          <i class="icon-trash"></i> <span>Delete</span>
        </button>
      <% } %>
      <button tabindex="6" type="submit" class="modal-confirm modal-button button new-session-button disabled" disabled>
        <div class="button-spin"></div>
        <i class="icon-pencil"></i> <%= this.options.tick ? 'Update': 'Log' %>
      </button>
      <div class="modal-sharing">
        <% if (this.app.profile.member.facebookId) { %>
          <input id="facebook" name="facebook" type="checkbox" tabindex="2" />
          <label for="facebook">Facebook</label>
        <% } %>
        <% if (this.app.profile.member.twitterId) { %>
          <input id="twitter" name="twitter" type="checkbox" tabindex="3" />
          <label for="twitter">Twitter</label>
        <% } %>
      </div>
      <div class="clear"></div>
    </div>
    <input type="hidden" name="params"
        value='<%= JSON.stringify(this.app.profile.transloadit.media) %>' />
  </form>
</div>
