<div class="modal">
  <span class="modal-title"><i class="icon-pencil"></i> <%= this.options.tick ? 'Update': 'Log' %> climbing</span>
  <form class="new-session-post-form" enctype="multipart/form-data" method="POST">
    <div class="modal-body">
      <div class="new-session-activities">
        <div class="new-session-activity">
          <div class="new-session-ticks">
            <%= tick %>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-actions">
      <button tabindex="2" class="modal-cancel modal-button button">Cancel</button>
      <% if (this.options.tick) { %>
        <button tabindex="3" class="modal-delete modal-button button">
          <div class="button-spin"></div>
          <i class="icon-trash"></i> <span>Delete</span>
        </button>
      <% } %>
      <button tabindex="4" class="modal-confirm modal-button button new-session-button disabled" disabled>
        <div class="button-spin"></div>
        <i class="icon-pencil"></i> <%= this.options.tick ? 'Update': 'Log' %>
      </button>
      <div class="clear"></div>
    </div>
    <input type="hidden" name="params"
        value='<%= JSON.stringify(this.app.profile.transloadit.media) %>' />
  </form>
</div>
