<%

  // Save model attributes
  var data = this.model.attributes;

  // Banner sizing
  var banner = data.image || null;
  if (!banner) {
    banner = {meta: {width: 680, height: 306}};
    banner.ssl_url = this.app.images.banner;
  }
  var _w = 680;
  var _h = 306;
  var w, h
  var l = 'left:0;';
  var t = 'top:0;';
  w = _w;
  h = (banner.meta.height / banner.meta.width) * _w;
  if (h - _h >= 0) {
    t = 'top:' + (banner.meta.top !== undefined
        ? banner.meta.top * 680 / 1024: (-(h - _h) / 2)) + 'px;';
  } else {
    w = (banner.meta.width / banner.meta.height) * _h;
    h = _h;
    l = 'left:' + (banner.meta.left !== undefined
        ? banner.meta.left * 680 / 1024: (-(w - _w) / 2)) + 'px;';
  }

  // Avatar sizing
  var avatar = data.avatar_full || null;
  if (!avatar) {
    avatar = {meta: {width: 325, height: 325}};
    avatar.ssl_url = this.app.images.avatar_big;
  }
  var _aw = 325;
  var _ah = 325;
  var aw, ah
  var al = 'left:0;';
  var at = 'top:0;';
  aw = _aw;
  ah = (avatar.meta.height / avatar.meta.width) * _aw;
  if (ah - _ah >= 0) {
    at = 'top:' + (avatar.meta.top !== undefined
        ? avatar.meta.top: (-(ah - _ah) / 2)) + 'px;';
  } else {
    aw = (avatar.meta.width / avatar.meta.height) * _ah;
    ah = _ah;
    al = 'left:' + (avatar.meta.left !== undefined
        ? avatar.meta.left: (-(aw - _aw) / 2)) + 'px;';
  }

  // Gravatar
  var gravatar = 'https://www.gravatar.com/avatar/'
      + data.gravatar + '?s=24&d='
      + encodeURIComponent(this.app.images.avatar);

  // Notifications config
  var notes = data.config.notifications;
  var privacy = data.config.privacy;

%>

<div class="rightside"></div>
<div class="leftside">
  <div class="settings">
    <table>
      <tbody>
        <tr>
          <td colspan="3">
            <table>
              <tbody>
                <tr>
                  <td>
                    <label for="avatar_img">Profile Picture</label>
                  </td>
                </tr>
                <tr>
                  <td width="335" style="vertical-align:top;padding:0;">
                    <form class="settings-avatar-form" enctype="multipart/form-data" method="POST">
                      <input type="hidden" name="params"
                          value='<%= JSON.stringify(this.app.profile.transloadit.avatar_full) %>' />
                      <div class="settings-avatar-dnd settings-avatar-wrap">
                        <img class="masked settings-avatar" src=<%= avatar.ssl_url || avatar.url %>
                            width=<%= aw %> height=<%= ah %> style=<%= at + al %> />
                        <div class="settings-avatar-spin" style="height:100%;"></div>
                        <a class="avatar-file-chooser-dummy file-chooser-dummy important"
                            href="javascript:;">Drag &amp; drop or select an image.</a>
                        <input class="avatar-file-chooser file-chooser" type="file"
                            name="avatar_img" accept="image/gif, image/jpeg, image/png" />
                      </div>
                    </form>
                    <form class="settings-avatar-form2" enctype="multipart/form-data" method="POST">
                      <input type="hidden" name="params"
                          value='<%= JSON.stringify(this.app.profile.transloadit.avatar) %>' />
                    </form>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
          <td colspan="3" style="vertical-align:top;">
            <table>
              <tbody>
                <tr>
                  <td>
                    <label for="displayName">Full name</label>
                  </td>
                </tr>
                <tr>
                  <td style="width:335px;">
                    <input tabindex="1" name="displayName" type="text" placeholder="How your name appears..."
                        value="<%= data.displayName %>" />
                  </td>
                </tr>
                <tr>
                  <td>
                    <label for="username">Username</label>
                  </td>
                </tr>
                <tr>
                  <td style="width:335px;">
                    <input tabindex="2" name="username" type="text" placeholder="(required)" value="<%= data.username %>" />
                  </td>
                </tr>
                <tr>
                  <td>
                    <label for="primaryEmail">Email address (private)</label>
                  </td>
                </tr>
                <tr>
                  <td style="width:335px;">
                    <input tabindex="3" name="primaryEmail" type="text" placeholder="Used for notifications..."
                        value="<%= data.primaryEmail %>" />
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <label for="banner_img">Banner Image</label>
          </td>
        </tr>
        <tr>
          <td colspan="6" width="680" height="306" style="vertical-align:top;">
            <form class="settings-banner-form" enctype="multipart/form-data" method="POST">
              <input type="hidden" name="params"
                  value='<%= JSON.stringify(this.app.profile.transloadit.profile) %>' />
              <div class="settings-banner-dnd settings-banner-wrap">
                <img class="masked settings-banner" src=<%= banner.ssl_url || banner.url %>
                    width=<%= w %> height=<%= h %> style=<%= t + l %> />
                <div class="settings-banner-spin" style="height:100%;"></div>
                <a class="banner-file-chooser-dummy file-chooser-dummy important"
                    href="javascript:;">Drag &amp; drop or select an image.</a>
                <input class="banner-file-chooser file-chooser" type="file"
                    name="banner_img" accept="image/gif, image/jpeg, image/png" />
              </div>
            </form>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <label for="description">Bio</label>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <textarea tabindex="4" name="description"
                placeholder="Something about yourself..."><%= data.description %></textarea>
          </td>
        </tr>
        <tr>
          <td colspan="3" style="width:335px;">
            <label for="location.name">Current City</label>
          </td>
          <td colspan="3" style="width:335px;">
            <label for="hometown.name">Hometown</label>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <input tabindex="5" name="location.name" type="text"
                placeholder="e.g. San Francisco, California"
                value="<%= data.location ? data.location.name: '' %>" />
          </td>
          <td colspan="3">
            <input tabindex="6" name="hometown.name" type="text"
                placeholder="e.g. Bozeman, Montana"
                value="<%= data.hometown ? data.hometown.name: '' %>" />
          </td>
        </tr>
        <tr>
          <td colspan="5">
            <label for="website">Websites (one per line)</label>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <textarea tabindex="7" name="website"
                placeholder="One URL per line..."><%= data.website %></textarea>
          </td>
        </tr>
        <!-- <tr>
          <td colspan="6" class="settings-gravatar">
            <img src=<= gravatar > width="24" height="24" />
            <a tabindex="8" href="http://gravatar.com" class="important" target="_blank">Change your avatar at Gravatar.com</a>.
          </td>
        </tr> -->
        <tr>
          <td colspan="6">
            <h1 class="title-static">Privacy</h1>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <span class="settings-detail-txt">Enhanced Privacy Mode</span>
          </td>
        </tr>
        <tr>
          <td colspan="6" style="padding-top: 5px;">
            <% if (privacy.mode === 0 || privacy.mode === '0') { %>
              <input tabindex="9" type="radio" name="config.privacy.mode"
                  value="0" checked="checked" id="config.privacy.mode.0" />
            <% } else { %>
              <input tabindex="9" type="radio" name="config.privacy.mode"
                  value="0" id="config.privacy.mode.0" />
            <% } %>
            <label for="config.privacy.mode.0" style="vertical-align:-1px;">Off</label>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <ul class="settings-detail-txt settings-detail-list">
              <!-- <li>Anyone can view your full name.</li> -->
              <li>Logged-in Island athletes can follow you.</li>
              <li>Anyone can see your sessions and posts.</li>
              <li>Logged-in Island athletes can see your activities on your Island Profile.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td colspan="6" style="padding-top: 5px;">
            <% if (privacy.mode === 1 || privacy.mode === '1') { %>
              <input tabindex="10" type="radio" name="config.privacy.mode"
                  value="1" checked="checked" id="config.privacy.mode.1" />
            <% } else { %>
              <input tabindex="10" type="radio" name="config.privacy.mode"
                  value="1" id="config.privacy.mode.1" />
            <% } %>
            <label for="config.privacy.mode.1" style="vertical-align:-1px;">On</label>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <ul class="settings-detail-txt settings-detail-list">
              <!-- <li>Your name will be anonymized (e.g. <= this.model.anonName() >) to all logged out athletes.</li> -->
              <li>Only Island athletes that you approve can follow you.</li>
              <li>Only Island athletes that you approve can see your sessions and posts.</li>
              <li>Only approved followers can see your activities on your Island Profile.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td colspan="6" style="padding-top: 15px;">
            <span class="settings-detail-txt">"My Ascents" are visible to...</span>
          </td>
        </tr>
        <tr>
          <td colspan="6" style="padding-top: 5px;">
            <% if (!privacy.ticks || privacy.ticks === 0 || privacy.ticks === '0') { %>
              <input tabindex="11" type="radio" name="config.privacy.ticks"
                  value="0" checked="checked" id="config.privacy.ticks.0" />
            <% } else { %>
              <input tabindex="11" type="radio" name="config.privacy.ticks"
                  value="0" id="config.privacy.ticks.0" />
            <% } %>
            <label for="config.privacy.ticks.0" style="vertical-align:-1px;">Anyone</label>
          </td>
        </tr>
        <tr>
          <td colspan="6" style="padding-top: 5px;">
            <% if (privacy.ticks === 1 || privacy.ticks === '1') { %>
              <input tabindex="12" type="radio" name="config.privacy.ticks"
                  value="1" checked="checked" id="config.privacy.ticks.1" />
            <% } else { %>
              <input tabindex="12" type="radio" name="config.privacy.ticks"
                  value="1" id="config.privacy.ticks.1" />
            <% } %>
            <label for="config.privacy.ticks.1" style="vertical-align:-1px;">Only followers</label>
          </td>
        </tr>
        <tr>
          <td colspan="6" style="padding-top: 5px;">
            <% if (privacy.ticks === 2 || privacy.ticks === '2') { %>
              <input tabindex="13" type="radio" name="config.privacy.ticks"
                  value="2" checked="checked" id="config.privacy.ticks.2" />
            <% } else { %>
              <input tabindex="13" type="radio" name="config.privacy.ticks"
                  value="2" id="config.privacy.ticks.2" />
            <% } %>
            <label for="config.privacy.ticks.2" style="vertical-align:-1px;">Only me</label>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <h1 class="title-static">Import Scorecard from <a href="http://www.8a.nu">8a.nu</a> </h1>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <a tabindex="14" class="button navigate" href="/import">
              Import <i class="icon-angle-up"></i>
            </a>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <h1 class="title-static">Download your Data </h1>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <a tabindex="14" class="button" href="/api/ticks?csv=true">
              Download <i class="icon-angle-down"></i>
            </a>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <h1 class="title-static">Notification Settings</h1>
          </td>
        </tr>
        <tr>
          <td colspan="4">
            <span class="settings-detail-txt">Comment threads</span>
          </td>
          <td colspan="2" class="text-right">
            <% if (notes.comment.email === true || notes.comment.email === 'true') { %>
              <input type="checkbox" name="config.notifications.comment.email"
                  tabindex="15" checked="checked" />
            <% } else { %>
              <input type="checkbox" name="config.notifications.comment.email"
                  tabindex="15" />
            <% } %>
            <label for="config.notifications.comment.email"
                style="vertical-align:-1px;">Email (requires address above)</label>
          </td>
        </tr>

        <tr>
          <td colspan="4">
            <span class="settings-detail-txt">When someone gives you a "nod"</span>
          </td>
          <td colspan="2" class="text-right">
            <% if (notes.hangten.email === true || notes.hangten.email === 'true') { %>
              <input type="checkbox" name="config.notifications.hangten.email"
                  tabindex="15" checked="checked" />
            <% } else { %>
              <input type="checkbox" name="config.notifications.hangten.email"
                  tabindex="15" />
            <% } %>
            <label for="config.notifications.hangten.email"
                style="vertical-align:-1px;">Email</label>
          </td>
        </tr>

        <tr>
          <td colspan="4">
            <span class="settings-detail-txt">When someone follows you</span>
          </td>
          <td colspan="2" class="text-right">
            <% if (notes.follow.email === true || notes.follow.email === 'true') { %>
              <input type="checkbox" name="config.notifications.follow.email"
                  tabindex="15" checked="checked" />
            <% } else { %>
              <input type="checkbox" name="config.notifications.follow.email"
                  tabindex="15" />
            <% } %>
            <label for="config.notifications.follow.email"
                style="vertical-align:-1px;">Email</label>
          </td>
        </tr>

        <tr>
          <td colspan="4">
            <span class="settings-detail-txt">When someone requests to follow you</span>
          </td>
          <td colspan="2" class="text-right">
            <% if (notes.request.email === true || notes.request.email === 'true') { %>
              <input type="checkbox" name="config.notifications.request.email"
                  tabindex="15" checked="checked" />
            <% } else { %>
              <input type="checkbox" name="config.notifications.request.email"
                  tabindex="15" />
            <% } %>
            <label for="config.notifications.request.email"
                style="vertical-align:-1px;">Email</label>
          </td>
        </tr>

        <tr>
          <td colspan="4">
            <span class="settings-detail-txt">When someone accepts your follow request</span>
          </td>
          <td colspan="2" class="text-right">
            <% if (notes.accept.email === true || notes.accept.email === 'true') { %>
              <input type="checkbox" name="config.notifications.accept.email"
                  tabindex="15" checked="checked" />
            <% } else { %>
              <input type="checkbox" name="config.notifications.accept.email"
                  tabindex="15" />
            <% } %>
            <label for="config.notifications.accept.email"
                style="vertical-align:-1px;">Email</label>
          </td>
        </tr>

        <tr>
          <td colspan="6">
            <h1 class="title-static">Services</h1>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <div class="settings-services-spin"></div>
            <% if (!data.facebookId) { %>
              <a tabindex="16" class="button signin-strategy-btn facebook-btn"
                  href="/connect/facebook">
                Connect with Facebook <i class="icon-angle-right"></i>
              </a>
            <% } else { %>
              <a class="button signin-strategy-btn-disabled facebook-btn-disabled disabled"
                  href="javascript:;" disabled="disabled">
                Connected with Facebook
              </a>
            <% } %>
            <br />
            <% if (!data.twitterId) { %>
              <a tabindex="17" class="button signin-strategy-btn twitter-btn"
                  href="/connect/twitter">
                Connect with Twitter <i class="icon-angle-right"></i>
              </a>
            <% } else { %>
              <a class="button signin-strategy-btn-disabled twitter-btn-disabled disabled"
                  href="javascript:;" disabled="disabled">
                Connected with Twitter
              </a>
            <% } %>
            <br />
            <% if (!data.instagramId) { %>
              <a tabindex="18" class="button signin-strategy-btn instagram-btn"
                  href="/connect/instagram">
                Connect with Instagram <i class="icon-angle-right"></i>
              </a>
            <% } else { %>
              <a tabindex="18" class="button signin-strategy-btn instagram-btn"
                  href="/connect/instagram">
                Re-connect with Instagram <i class="icon-angle-right"></i>
              </a>
              <p class="settings-instructions">
                After you're connected, post to your feed by adding @island_io, #islandio, or #weareisland to your photos.
                <br />
                <strong>Not seeing your photos on your Island profile? Try re-connecting.</strong>
              </p>
            <% } %>
          </td>
        </tr>
        <% if (data.provider === 'local') { %>
          <tr>
            <td colspan="6">
              <h1 class="title-static">Security</h1>
            </td>
          </tr>
          <tr>
            <td colspan="6">
              <a tabindex="19" href="/reset" class="button signin-strategy-btn navigate">
                Change your password <i class="icon-angle-right"></i>
              </a>
            </td>
          </tr>
        <% } %>
        <tr>
          <td colspan="6">
            <h1 class="title-static">Danger Zone</h1>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <a tabindex="20" href="javascript:;"
                class="demolish button signin-strategy-btn delete-btn">
              Delete profile
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="clear"></div>
