<div class="modal modal-wide">
  <span class="modal-title"><i class="icon-gauge"></i> How fast do you want it?</span>
  <div class="modal-body table shipping-form">
    <label>Shipping options:</label>
    <form class="shipping-options-form">
      <table>
        <tbody>
          <% _.each(options, function (o, i) {
            var shipment = o.shipments[0];
          %>
            <tr>
              <td>
                <span class="shipping-option-radio">
                <% if (i === 0) { %>
                  <input type="radio" name="option" value="<%= o.serviceLevelCode %>" checked="checked" />
                <% } else { %>
                  <input type="radio" name="option" value="<%= o.serviceLevelCode %>"/>
                <% } %>
              </span>
              </td>
              <td>
                <span class="shipping-option-title">
                  <%= o.serviceLevelName %> (<%= shipment.carrier.description %>)
                </span>
                <span class="shipping-option-details">
                  - Ships <%= new Date(shipment.expectedShipDate).format('ddd, mmm d, h:MMtt Z') %>
                  <br />
                  - Delivered by <%= new Date(shipment.expectedDeliveryMaxDate).format('ddd, mmm d, h:MMtt Z') %>
                </span>
              </td>
              <td>
                <span class="shipping-option-amount">
                  $<%= shipment.cost.amount %> (<%= shipment.cost.currency %>)
                </span>
              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </form>
  </div>
  <div class="modal-actions">
    <button class="modal-cancel modal-button button">Cancel</button>
    <button class="modal-confirm modal-button button">
      <span>Continue</span> <i class="icon-angle-right"></i>
    </button>
    <div class="clear"></div>
  </div>
</div>
