<div class="modal">
  <span class="modal-title"><i class="icon-location"></i> Where should we send this stuff?</span>
  <div class="modal-body">
    <form class="shipping-address-form">
      <input type="text" name="name" placeholder="Name" />
      <input type="text" name="address" placeholder="Address" />
      <input type="text" name="zip" placeholder="ZIP" />
      <input type="text" name="city" placeholder="City" />
      <input type="text" name="country" placeholder="Country" />
    </form>
  </div>
  <div class="modal-actions">
    <button class="modal-cancel modal-button button">Cancel</button>
    <button class="modal-confirm modal-button modal-delete button">
      <span>Choose Shipping</span> <i class="icon-angle-right"></i>
    </button>
    <div class="clear"></div>
  </div>
</div>
