<div class="rightside equal">
  <div class="signin-strategy">
    <a tabindex="4" class="button signin-strategy-btn google-btn" href="/auth/google">
      Connect with Google
    </a>
    <div class="button-spin button-spin-white"></div>
  </div>
  <div class="signin-strategy">
    <a tabindex="5" class="button signin-strategy-btn facebook-btn" href="/auth/facebook">
      Connect with Facebook
    </a>
    <div class="button-spin button-spin-white"></div>
  </div>
  <div class="signin-strategy">
    <a tabindex="6" class="button signin-strategy-btn twitter-btn" href="/auth/twitter">
      Connect with Twitter
    </a>
    <div class="button-spin button-spin-white"></div>
  </div>
</div>
<div class="signin-or">Or</div>
<div class="leftside equal">
  <div class="settings">
    <form class="signin-form" enctype="multipart/form-data">
      <table>
        <tbody>
          <tr>
            <td>
              <label>Username or email address</label>
            </td>
          </tr>
          <tr>
            <td>
              <input class="signin-username" tabindex="1" type="text" autocomplete="off" />
            </td>
          </tr>
          <tr>
            <td>
              <label>Password</label>
            </td>
          </tr>
          <tr>
            <td>
              <input tabindex="2" class="signin-password" type="password" autocomplete="off" />
            </td>
          </tr>
          <tr>
            <td>
              <input tabindex="3" class="signin-submit" type="submit" value="Sign in" />
              <div class="button-spin"></div>
            </td>
          </tr>
          <tr>
            <td>
              <a href="javascript:;" class="forgot-password">I forgot my password</a>
            </td>
          </tr>
          <tr>
            <td>
              <a href="/signup" class="start-button button navigate">
                Don't have an account? Get started <i class="icon-angle-right"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
<div class="clear"></div>
