<div class="rightside equal">
  <div class="signin-strategy">
    <a tabindex="4" class="button signin-strategy-btn google-btn" href="/auth/google">
      Connect with Google
    </a>
    <div class="button-spin button-spin-white"></div>
  </div>
  <div class="signin-strategy">
    <a tabindex="5" class="button signin-strategy-btn facebook-btn" href="/auth/facebook">
      Connect with Facebook
    </a>
    <div class="button-spin button-spin-white"></div>
  </div>
  <div class="signin-strategy">
    <a tabindex="6" class="button signin-strategy-btn twitter-btn" href="/auth/twitter">
      Connect with Twitter
    </a>
    <div class="button-spin button-spin-white"></div>
  </div>
</div>
<div class="signin-or">Or</div>
<div class="leftside equal">
  <div class="settings">
    <form class="signup-form" enctype="multipart/form-data">
      <table>
        <tbody>
          <tr>
            <td>
              <label>Username</label>
            </td>
          </tr>
          <tr>
            <td>
              <input tabindex="1" class="signup-username" type="text" autocomplete="off" />
            </td>
          </tr>
          <tr>
            <td>
              <label>Email address</label>
            </td>
          </tr>
          <tr>
            <td>
              <input tabindex="2" class="signup-email" type="text" autocomplete="off" />
            </td>
          </tr>
          <tr>
            <td>
              <label>Password</label>
            </td>
          </tr>
          <tr>
            <td>
              <input tabindex="3" class="signup-password" type="password" autocomplete="off" />
            </td>
          </tr>
          <tr>
            <td>
              <input tabindex="4" class="signup-submit" type="submit" value="Create your account" />
              <div class="button-spin"></div>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
<div class="clear"></div>
