<div id="roll"></div>
<div class="signin-logo">
  <img src="/img/signin-logo.png" />
</div>
<div class="signin-quote">
  <p>
    Climbing media by climbers, fresh from the battlefield.
  </p>
</div>
<div class="signin-action">
  <div id="signin_spin"></div>
  <div class="signin-action-inner">
    <div>
      <div class="signin-strategies">
        <table>
          <tbody>
            <tr>
              <td>
                <a class="button signin-strategy-btn facebook-btn from-login" 
                    href="/auth/facebook">
                  Connect with Facebook
                </a>
              </td>
              <td>
                <span class="signin-or">- or -</span>
              </td>
              <td>
                <a class="button signin-strategy-btn twitter-btn from-login" 
                    href="/auth/twitter">
                  Connect with Twitter
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="signin-controls">
        <p id="signup_link">
          <a href="javascript:;" style="font-weight:bold;">
            ...or create an account &rarr;</a>
        </p>
        <p id="signin_link" style="display:none;">
          <a href="javascript:;" style="font-weight:bold;">
            &larr; Sign in if you already have an account</a>
        </p>
      </div>
      <div class="signin-forms">
        <form id="signin_form" enctype="multipart/form-data" method="POST">
          <table>
            <tbody>
              <tr>
                <td style="padding-left:0;">
                  <input class="from-login" name="username" type="text" 
                      placeholder="username" />
                </td>
                <td>
                  <input class="from-login" name="password" type="password" 
                      placeholder="password" />
                </td>
                <td>
                  <input id="signin" class="is-button from-login" type="submit" 
                      value="Sign in" />
                </td>
              </tr>
              <tr>
                <td colspan="3">
                  <span class="signin-error"></span>
                </td>
              </tr>
            </tbody>
          </table>
        </form>
        <form id="signup_form" enctype="multipart/form-data" method="POST">
          <table>
            <tbody>
              <tr>
                <td style="padding-left:0;">
                  <input class="from-login" name="newusername" type="text" 
                      placeholder="choose a username" />
                </td>
                <td>
                  <input class="from-login" name="newemail" type="text" 
                      placeholder="your email (private)" />
                </td>
                <td>
                  <input class="from-login" name="newpassword" type="password" 
                      placeholder="choose a password" />
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <span class="signin-error"></span>
                </td>
                <td colspan="1">
                  <input id="signup" class="is-button from-login" type="submit" 
                      value="Sign up" style="margin-top:10px; float:right;" />
                </td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>
  </div>
</div>
