<div id="roll"></div>
<div class="signin-outer">
  <div id="signin_spin"></div>
  <div class="signin-inner">
    <div class="signin-logo">
      <img src="<%= __s %>/img/signin-logo.png" width="200" height="50" />
    </div>
    <div class="signin-inner-inner">
      <div class="signin-strategies">
        <table>
          <tbody>
            <tr>
              <td>
                <a tabindex="1" class="button signin-strategy-btn facebook-btn from-login" 
                    href="/auth/facebook" style="margin-right: 30px;">
                  Connect with Facebook
                </a>
              </td>
              <td>
                <a tabindex="2" class="button signin-strategy-btn twitter-btn from-login" 
                    href="/auth/twitter">
                  Connect with Twitter
                </a>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <span class="signin-or">- or -</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="signin-forms">
        <iframe src="/_blank" id="signup_target" name="signup_target" class="form-iframe"></iframe>
        <form id="signup_form" enctype="multipart/form-data" target="signup_target" method="POST" action="_blank">
          <table>
            <tbody>
              <tr>
                <td colspan="1">
                  <h1 class="title-static">Sign up</h1>
                </td>
                <td colspan="1" class="text-right">
                  <span class="signin-error"></span>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <label for="newusername">New username</label>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <input tabindex="3" name="newusername" type="text" />
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <label for="newemail">Email address (private)</label>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <input tabindex="4" name="newemail" type="text" />
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <label for="newpassword">New password</label>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <input tabindex="5" name="newpassword" type="password" />
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <input tabindex="6" id="signup" type="submit" value="Create your account" />
                </td>
              </tr>
            </tbody>
          </table>
        </form>
        <iframe src="/_blank" id="signin_target" name="signin_target" class="form-iframe"></iframe>
        <form class="highlight" id="signin_form" enctype="multipart/form-data" target="signin_target" method="POST" action="_blank">
          <table>
            <tbody>
              <tr>
                <td colspan="1">
                  <h1 class="title-static">Log in</h1>
                </td>
                <td colspan="1" class="text-right">
                  <span class="signin-error"></span>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <label for="username">Username or email</label>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <input tabindex="7" name="username" type="text" />
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <label for="password">Password</label>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <input tabindex="8" name="password" type="password" />
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <input tabindex="9" id="signin" type="submit" value="Sign in" />
                </td>
              </tr>
            </tbody>
          </table>
        </form>
        <div class="clear"></div>
      </div>
      <a href="/privacy" class="signin-link navigate">Privacy Policy</a>
    </div>
  </div>
</div>
