<div class="splash-top">
  <div class="splash-top-inner">
    <div class="splash-beta-request">
      <div>
        <h1 class="splash-heading-one">
          Welcome to The (new) Island
        </h1>
        <h2 class="splash-heading-two">
          Join our mission to build a truly comprehensive logging system for rock climbing.
        </h2>
        <form method="POST">
          <input type="email" class="splash-signup" placeholder="Enter your email" />
          <div class="splash-form-divider"></div>
          <button class="start-button button">
            Request an invite <i class="icon-angle-right"></i>
            <div class="button-spin"></div>
          </button>
        </form>
      </div>
    </div>
    <div id="splash-video" class="splash-video">
      <video muted="true" poster="/vid/roll.png" autoplay loop>
        <source src="/vid/roll.mp4" type="video/webm" />
        <source src="/vid/roll.mp4" type="video/mp4" />
        <source src="/vid/roll.ogg" type="video/ogg" />
        <img src="/vid/roll.png" width="100%" height="100%" />
     </video>
    </div>
  </div>
  <div class="splash-top-bottom">
    <div class="splash-scroll"><i class="icon-angle-down"></i></div>
  </div>
</div>
<div class="splash-middle">
  <ul class="splash-features">
    <li>
      <div>
        <h2 class="feature-title">Log your climbing sessions in detail</h2>
        <div class="feature-image">
          <a class="fancybox" href="/img/ss/log_full.png" rel="features">
            <img src="/img/ss/log.png" width="279" />
          </a>
        </div>
        <p>
          Better understand your progression as a rock climber by tracking your efforts (the good and the bad), your physical condition, the weather, who you climbed with—all of it.
        </p>
      </div>
    </li>
    <li>
      <div>
        <h2 class="feature-title">Follow your friends, foes, and heros</h2>
        <div class="feature-image">
          <a class="fancybox" href="/img/ss/follow_full.png" rel="features">
            <img src="/img/ss/follow.png" width="279" />
          </a>
        </div>
        <p>
          Stay psyched by following fellow athletes who you care about. Push each other harder in 2015.
        </p>
      </div>
    </li>
    <li>
      <div>
        <h2 class="feature-title">Watch your favorite crags, boulder problems, and routes</h2>
        <div class="feature-image">
          <a class="fancybox" href="/img/ss/watch_full.png" rel="features">
            <img src="/img/ss/watch.png" width="279" />
          </a>
        </div>
        <p>
          Tailor your activity feed based on the areas and climbs you care about. Stay informed of ascents, new development, and general beta.
        </p>
      </div>
    </li>
  </ul>
</div>
<div class="splash-bottom">
  <div class="leftside">
    <h2 class="divider">Sponsored content from The Island</h2>
    <div class="events"></div>
    <div class="list-spin">
      <div class="events-spin"></div>
      <span class="empty-feed">Showing all.</span>
    </div>
  </div>
  <div class="rightside">
    <div class="sidebar-items">
      <div class="sidebar-broadcasts">
        <% _.each(this.app.profile.content.broadcasts.items, _.bind(function (b, i) { %>
          <div class="sidebar-broadcast">
            <h1>
              <a href="/blog/<%= b.slug %>">
                <i class="icon-signal"></i> <%= b.title %>
              </a>
            </h1>
            <p><%= b.preview %></p>
            <p>
          </div>
        <% }, this)); %>
      </div>
      <div class="sidebar-ticks"></div>
    </div>
  </div>
  <div class="clear"></div>
</div>
