<% if (this.params.tabs.length === 0) { %>
  <div class="folder-title">
    <% if (this.params.html) { %>
      <%= this.params.html %>
    <% } else { %>
      <% if (this.params.log) { %>
        <% if (this.app.profile && this.app.profile.member &&
            this.app.profile.member.username !== 'island' &&
            this.app.profile.member.role !== 2) { %>
          <a href="javascript:;" class="button title-green-button log-session">
            <i class="icon-book-open"></i> Log
          </a>
        <% } %>
      <% } %>
      <h1 class="title-left"><%= this.params.title || '' %></h1>
      <% if (this.params.subtitle) { %>
        <h1 class="title-sub"><%= this.params.subtitle %></h1>
      <% } %>
    <% } %>
  </div>
<% } else { %>
  <% if (this.params.log &&
      this.app.profile.member.username !== 'island' &&
      this.app.profile.member.role !== 2) { %>
    <a href="javascript:;" class="button title-green-button log-session">
      <i class="icon-book-open"></i> Log
    </a>
  <% } %>
  <ul>
    <% _.each(this.params.tabs, function (tab) { 
      var klass = 'tab';
      if (tab.active) {
        klass += ' active';
      }
    %>
      <li class="<%= klass %>">
        <a href="<%= tab.href %>" class="navigate"><%= tab.title %></a>
      </li>
    <% }); %>
  </ul>
<% } %>
