<div class="leftside">
  <div class="obj-title">
    <h1 class="title-left">Team</h1>
    <h1 class="title-sub">Contributors by most posts</h1>
  </div>
  <p class="page">
Island would love more high-quality media. <strong>Please <a href="mailto:hello@island.io">send us an email</a> if you're interested in becoming a contributor.</strong>
<br><br><br><br>
  </p>
  <div id="profiles"></div>
  <div class="list-spin">
    <div id="profiles_spin"></div>
    <span class="empty-feed">Showing all.</span>
  </div>
</div>
<div class="rightside">
  <h1 class="title-right">/ Activity</h1>
  <br />
  <span class="empty-list">...will go here :)</span>
</div>
<div class="clear"></div>
