<div class="leftside">
  <h1 class="title-left">Team</h1>
  <h1 class="title-sub">Contributors by most posts</h1>
  <p class="page">
Island would love more high-quality media. <strong>Please <a href="mailto:hello@island.io">send us an email</a> if you're interested in becoming a contributor.</strong>
  </p>
  <div class="profiles"></div>
  <div class="list-spin">
    <div class="profiles-spin"></div>
    <span class="empty-feed">Showing all.</span>
  </div>
</div>
<div class="rightside">
  <h1 class="title-right">/ Activity</h1>
  <br />
  <span class="empty-list">...will go here :)</span>
</div>
<div class="clear"></div>
