<div class="leftside">
  <div class="obj-title">
    <h1 class="title-left">Team</h1>
    <h1 class="title-sub">Island's top Contributors</h1>
  </div>
  <p class="page">
    ...
  </p>
  <div id="profiles"></div>
  <div class="list-spin">
    <div id="profiles_spin"></div>
    <span class="empty-feed">Showing all.</span>
  </div>
</div>
<div class="rightside">
  <h1 class="title-right">/ Activity</h1>
  <br />
  <span class="empty-list">...will go here :)</span>
</div>
<div class="clear"></div>
