<%

  // Save model attributes
  var data = this.model.attributes;

  var own = !this.model || (this.app.profile.member && data.author.id === this.app.profile.member.id);
  var owner = own ? 'You\'re': data.author.displayName.trim() + ' is ';
  var owner2 = own ? 'You haven\'t': 'This athlete hasn\'t';
  var privacy = data.author.config.privacy.ticks ? data.author.config.privacy.ticks.toString(): '0';
%>

<% if (this.app.profile.content.page.private && !own) { %>
  <span class="empty-feed">This athlete's ascents are <%= privacy === '1' ? 'only visible to followers': 'private' %>.</span>
<% } else { %>
  <div class="ticks-chart bar-chart"></div>
  <div class="ticks-chart scatter-chart"></div>
  <div class="rightside"></div>
  <div class="leftside my-ascents">
    <div class="events"></div>
    <div class="list-spin">
      <div class="events-spin"></div>
      <span class="empty-feed">Showing all.</span>
    </div>
  </div>
  <div class="clear"></div>
<% } %>
