<%

var tick = this.options.tick;

%>

<div class="new-session-tick">
  <% if (typeof closable === 'undefined' || closable) { %>
    <a href="javascript:;" class="new-session-tick-clear" tabindex="-1">
      <i class="icon-cancel"></i>
    </a>
  <% } %>
  <table>
    <tbody>
      <tr class="new-session-row-nopad">
        <td colspan="3" class="new-session-cell" style="width: 50%;">
          <div class="new-session-search new-session-crag-search">
            <input id="new-session-crag" name="crag" type="text"
                class="new-session-crag-search-input required" placeholder="Search existing crags or add new -->"
                autocomplete="off" />
            <button class="button input-add-button add-crag"><i class="icon-plus"></i></button>
            <div class="search-choice">
              <div class="search-choice-content"></div>
              <a href="javascript:;" class="search-choice-clear" tabindex="-1">
                <i class="icon-cancel"></i>
              </a>
            </div>
            <div class="search-display" style="max-height: 275px;">
              <div class="list-header"></div>
            </div>
          </div>
        </td>
        <td colspan="3" class="new-session-cell" style="width: 50%;">
          <input id="new-session-date" name="date" type="text"
              class="new-session-datepicker picker__input required" placeholder="dd mm, yyyy" readonly />
        </td>
      </tr>
      <tr class="new-session-row-nopad">
        <td colspan="4" class="new-session-cell" style="width: 75%;">
          <div class="new-session-search new-session-ascent-search">
            <input name="tick" type="text"
                class="new-session-tick-search-input required" placeholder="Search existing climbs or add new -->"
                autocomplete="off" />
            <button class="button input-add-button add-ascent"><i class="icon-plus"></i></button>
            <div class="search-choice">
              <div class="search-choice-content"></div>
              <a href="javascript:;" class="search-choice-clear" tabindex="-1">
                <i class="icon-cancel"></i>
              </a>
            </div>
            <div class="search-display" style="max-height: 210px;">
              <div class="list-header"></div>
            </div>
          </div>
        </td>
        <td class="new-session-cell" style="width: 12.5%; padding-right: 0;">
          <label class="checkbox-styled">
            <input class="new-session-tried" type="checkbox" name="tried" value="tried" checked />
            <span><i class="icon-ok"></i> Tried</span>
          </label>
        </td>
        <td class="new-session-cell" style="width: 12.5%; padding-left: 10px;">
          <label class="checkbox-styled">
            <input class="new-session-sent" type="checkbox" name="sent" value="sent" />
            <span><i class="icon-ok"></i> Sent</span>
          </label>
        </td>
      </tr>
      <tr class="new-session-row-nopad">
        <td colspan="3" class="new-session-cell" style="width: 50%;">
          <select name="duration" style="max-height: 165px;">
            <option value="hide">-- Time spent --</option>
            <option value="30">30m</option>
            <option value="60">1h</option>
            <option value="90">1h 30m</option>
            <option value="120">2h</option>
            <option value="150">2h 30m</option>
            <option value="180">3h</option>
            <option value="210">3h 30m</option>
            <option value="240">4h</option>
            <option value="270">4h 30m</option>
            <option value="300">5h</option>
            <option value="330">5h 30m</option>
            <option value="360">6h</option>
            <option value="390">6h 30m</option>
            <option value="420">7h</option>
            <option value="450">7h 30m</option>
            <option value="480">8h</option>
            <option value="510">8 30m</option>
            <option value="540">9h</option>
            <option value="570">9 30m</option>
            <option value="600">10h</option>
            <option value="630">10 30m</option>
            <option value="660">11h</option>
            <option value="690">11 30m</option>
            <option value="720">12h</option>
            <option value="750">12h 30m</option>
            <option value="780">13h</option>
            <option value="810">13h 30m</option>
            <option value="840">14h</option>
            <option value="870">14h 30m</option>
            <option value="900">15h</option>
            <option value="930">15h 30m</option>
            <option value="960">16h</option>
            <option value="990">16h 30m</option>
            <option value="1020">17h</option>
            <option value="1050">17h 30m</option>
            <option value="1080">18h</option>
            <option value="1110">18h 30m</option>
            <option value="1140">19h</option>
            <option value="1170">19h 30m</option>
            <option value="1200">20h</option>
            <option value="1230">20h 30m</option>
            <option value="1260">21h</option>
            <option value="1290">21h 30m</option>
            <option value="1320">22h</option>
            <option value="1350">22h 30m</option>
            <option value="1380">23h</option>
            <option value="1410">23h 30m</option>
            <option value="1440">24h</option>
          </select>
        </td>
        <td colspan="3" class="new-session-cell" style="width: 50%;">
          <select name="performance">
            <option value="hide">-- Feel --</option>
            <option value="-1">Weak</option>
            <option value="0">Average</option>
            <option value="1">Strong</option>
          </select>
        </td>
      </tr>
      <tr class="new-session-tick-details">
        <td class="new-session-cell" style="width: 20%;">
          <select name="grade" style="max-height: 175px;">
            <option value="hide">-- Grade --</option>
            <option value="0">3</option>
            <option value="1">4</option>
            <option value="2">5a</option>
            <option value="3">5b</option>
            <option value="4">5c</option>
            <option value="5">6a</option>
            <option value="6">6a+</option>
            <option value="7">6b</option>
            <option value="8">6b+</option>
            <option value="9">6c</option>
            <option value="10">6c+</option>
            <option value="11">7a</option>
            <option value="12">7a+</option>
            <option value="13">7b</option>
            <option value="14">7b+</option>
            <option value="15">7c</option>
            <option value="16">7c+</option>
            <option value="17">8a</option>
            <option value="18">8a+</option>
            <option value="19">8b</option>
            <option value="20">8b+</option>
            <option value="21">8c</option>
            <option value="22">8c+</option>
            <option value="23">9a</option>
            <option value="24">9a+</option>
            <option value="25">9b</option>
            <option value="26">9b+</option>
            <option value="27">9c</option>
            <option value="28">9c+</option>
          </select>
        </td>
        <td class="new-session-cell" style="width: 20%;">
          <select name="feel">
            <option value="hide">-- Feel --</option>
            <option value="0">--</option>
            <option value="-1">Soft</option>
            <option value="1">Hard</option>
          </select>
        </td>
        <td class="new-session-cell" style="width: 20%;">
          <select name="tries">
            <option value="hide">-- Tries --</option>
            <option value="1">Onsight</option>
            <option value="2">Flash</option>
            <option value="3">2nd try</option>
            <option value="4">3rd try</option>
            <option value="5">> 3 tries</option>
          </select>
        </td>
        <td class="new-session-cell" style="width: 20%;">
          <select name="rating">
            <option value="hide">-- Stars --</option>
            <option value="0">No stars</option>
            <option value="1">1 star</option>
            <option value="2">2 stars</option>
            <option value="3">3 stars</option>
          </select>
        </td>
        <td colspan="2" class="new-session-cell" style="width: 20%;">
          <select name="first">
            <option value="hide">-- Style --</option>
            <option value="0">Repeat</option>
            <option value="1">First ascent</option>
            <option value="2">First female ascent</option>
          </select>
        </td>
      </tr>
      <tr class="new-session-row-nopad">
        <td colspan="6" class="new-session-cell">
          <textarea name="note" placeholder="Comments..."></textarea>
        </td>
      </tr>
    </tbody>
  </table>
</div>
