<%
  // Save model attributes
  var data = this.model.attributes;
  var sub = this.app.profile.sub;

  // Handle from
  var location = data.author.location && data.author.location.name ? data.author.location.name: null;
  if (!location && data.author.hometown && data.author.hometown.name) {
    location = data.author.hometown.name;
  }
  if (location) {
    location = location + ' / ';
  }

  // Gravatar
  var gravatar = 'https://www.gravatar.com/avatar/'
      + data.author.gravatar + '?s=26&d='
      + encodeURIComponent(this.app.images.avatar);
%>

<% if (this.app.profile.member) { %>
  <% if (this.app.profile.member.id === data.author.id) { %>
    <a href="/settings" class="button title-button navigate">
      <i class="icon-params"></i> Settings</a>
  <% } else { %>
    <% if (sub && sub.subscribee_id === data.author.id) { %>
      <% if (sub.meta.style === 'request') { %>
        <a href="javascript:;" class="button title-button disabled">
          <i class="icon-user"></i> Requested</a>
      <% } else { %>
        <a href="javascript:;" class="button title-button unfollow-button"
            data-path="/api/members/<%= data.author.username %>/unfollow"
            data-_path="/api/members/<%= data.author.username %>/follow">
          <i class="icon-user-delete"></i> Unfollow</a>
      <% } %>
    <% } else { %>
      <a href="javascript:;" class="button title-button follow-button"
          data-path="/api/members/<%= data.author.username %>/follow"
          data-_path="/api/members/<%= data.author.username %>/unfollow">
        <i class="icon-user-add"></i> Follow</a>
    <% } %>
  <% } %>
<% } %>
<a href="/<%= data.author.username %>" class="button title-button navigate">
    <i class="icon-angle-left"></i> Profile</a>
<div class="page-title">
  <img src="<%= gravatar %>" class="page-title-avatar" width="26" height="26" />
  <a href="/<%= data.author.username %>" class="navigate">@<%= data.author.username %>
      <span class="page-title-sub">(<%= data.author.displayName %>)</span></a>'s ascents
</div>
