<%
  var gravatar = 'https://www.gravatar.com/avatar/'
      + this.model.get('author').gravatar + '?s=26&d='
      + encodeURIComponent(this.app.images.avatar);
  var sub = this.app.profile.sub;
  var weather = this.model.get('weather');
  if (!_.isEmpty(weather))
    var w = weather.get('hourly') || weather.get('daily');
  var weatherURL;
  if (w && this.model.get('crag').location) {
    weatherURL = '//www.forecast.io/#/f/'
        + this.model.get('crag').location.latitude + ','
        + this.model.get('crag').location.longitude + '/'
        + (this.model.get('ts') || w.time);
  }
%>

<a href="javascript:;" class="button title-button sharing-button">
    <i class="icon-export"></i> Share</a>
<% if (this.app.profile.member) { %>
  <% if (sub && sub.subscribee_id === this.model.id) { %>
    <a href="javascript:;" class="button title-button unwatch-button"
        data-path="/api/ticks/<%= this.model.id %>/unwatch"
        data-_path="/api/ticks/<%= this.model.id %>/watch">
      <i class="icon-eye-off"></i> Unwatch</a>
  <% } else { %>
    <a href="javascript:;" class="button title-button watch-button"
        data-path="/api/ticks/<%= this.model.id %>/watch"
        data-_path="/api/ticks/<%= this.model.id %>/unwatch">
      <i class="icon-eye"></i> Watch</a>
  <% } %>
<% } %>
<a href="/crags/<%= this.model.get('crag').key %>" class="session-location title navigate">
  <i class="icon-location"></i> <%= this.model.get('crag').name %>, <%= this.model.get('crag').country %>
</a>
<div class="page-title">
  <a href="/<%= this.model.get('author').username %>" class="image-anchor navigate">
    <img src="<%= this.model.get('author').avatar || gravatar %>" class="page-title-avatar" width="26" height="26" /></a>
  <a href="/<%= this.model.get('author').username %>" class="navigate">
    <%= this.model.get('author').displayName %></a> 
  / <a href="/sessions/<%= this.model.get('session').key %>" class="navigate">
  <%= new Date(this.model.get('session').date).format('mediumDate') %></a> / 
  <a href="/efforts/<%= this.model.get('key') %>" class="navigate">
  <span class="session-title"><%= this.model.get('ascent').name %></span></a>
  <% if (w && weatherURL) { %>
    <a href="<%= weatherURL %>" class="crag-weather">
      <% if (w.temperature) { %>
        <%= weather.tempFtoC(w.temperature) %>&degC @ <%= new Date(this.model.get('ts') * 1000).format('h:MM TT') %>
      <% } else { %>
        <%= weather.dailyTempRange() %>&deg<%= weather.getTempUnits() %>&nbsp
      <% } %>
      <canvas id="crag_weather" width="26" height="26"></canvas>
    </a>
  <% } %>
</div>
