<div class="session-tick">
  <a href="javascript:;" class="session-tick-clear" tabindex="-1">
    <i class="icon-cancel"></i>
  </a>
  <table>
    <tbody>
      <tr>
        <td colspan="3" class="session-cell" style="width: 75%;">
          <label>Name</label>
        </td>
      </tr>
      <tr>
        <td colspan="3" class="session-cell" style="width: 75%;">
          <div class="session-search session-ascent-search">
            <input name="tick" type="text"
                class="session-tick-search-input" placeholder="Find an ascent..."
                autocomplete="off" />
            <div class="search-choice">
              <div class="search-choice-content"></div>
              <a href="javascript:;" class="search-choice-clear" tabindex="-1">
                <i class="icon-cancel"></i>
              </a>
            </div>
            <div class="search-display">
              <div class="list-header"></div>
            </div>
          </div>
        </td>
        <td class="session-cell" style="width: 25%;">
          &nbsp;
        </td>
      </tr>
      <tr>
        <td class="session-cell" style="width: 25%;">
          <label>Attempts</label>
        </td>
        <td class="session-cell" style="width: 25%;">
          <label>How did it feel?</label>
        </td>
        <td class="session-cell" style="width: 25%;">
          <label>Rating</label>
        </td>
        <td class="session-cell" style="width: 25%;">
          <label>Grade</label>
        </td>
      </tr>
      <tr>
        <td class="session-cell" style="width: 25%;">
          <select name="attempts">
            <option value="hide">-- Number --</option>
            <option value="1">Flash</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">>3</option>
          </select>
        </td>
        <td class="session-cell" style="width: 25%;">
          <select name="feel">
            <option value="hide">-- Level --</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </td>
        <td class="session-cell" style="width: 25%;">
          <select name="rating">
            <option value="hide">-- Level --</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </td>
        <td class="session-cell" style="width: 25%;">
          <select name="grade">
            <option value="hide">-- Level --</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </td>
      </tr>
    </tbody>
  </table>
</div>
