div
  label Title:
  input(name='title', value='')
div
  label Tags:
  input(name='meta.tags', value='')
div
  label Type:
  input(name='type', value='image')
div
  label Description:
  div
    textarea(name='body')
div
  label Files
  input(name='file', type='file')
div
  input(type='submit', value='Save')

