/* Island.IO */

// colors
green = #b1dc36
orange = #d04c38
blue = #4bb8d7
pink = #d12b83

lightgreen = #eff8d7
lightorange = #f6dbd7

black = #1a1a1a
darkgray = #404040
gray = #808080
lightgray = #b3b3b3

bordergray = #cdcdcd
backgray = #fcfcfb
mattegray = #f2f2f2

// fonts
standard = Verdana, Arial, sans-serif
title = Title, Verdana, Arial, sans-serif


border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– fonts */  

@font-face
  font-family Title
  font-style normal
  -moz-font-smoothing antialiased
  -webkit-font-smoothing antialiased
  font-smoothing antialiased
  src url(../fonts/impact-webfont.eot)
  src url(../fonts/impact-webfont.eot?#iefix) format('embedded-opentype'),url(../fonts/impact-webfont.woff) format('woff'),url(../fonts/impact-webfont.ttf) format('truetype'),url(../fonts/impact-webfont.svg#ImpactRegular) format('svg')

/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– resets */

html
  color black
  background white

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td
  margin 0
  padding 0

table
  border-collapse collapse
  border-spacing 0

fieldset, img
  outline none
  border 0

img:focus
  outline none
  
img::-moz-focus-inner
  border none

address, caption, cite, code, dfn, em, strong, th, var
  font-style normal
  font-weight normal

li
  list-style none

caption, th
  text-align left

h1, h2, h3, h4, h5, h6
  font-size 100%
  font-weight normal

q:before, q:after
  content ''

abbr, acronym
  border 0
  font-variant normal

sup
  vertical-align text-top

sub
  vertical-align text-bottom

input, textarea, select
  font-family inherit
  font-size inherit
  font-weight inherit

legend
  color black

header, footer, section, aside, nav, article
  display block

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

body
  background none
  color black
  font-family standard
  font-size 10px
  line-height 13px

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

a
  color darkgray
  background mattegray
  padding 0
  border none
  cursor pointer
  text-decoration none

a:hover
  background rgba(75, 184, 215, 0.25)

a:active
  background rgba(75, 184, 215, 0.1)

a:focus
  outline none

a::-moz-focus-inner, button::-moz-focus-inner
  border none

a.like
  color blue

span.like-wrap
  float right

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

small
  font-size 10px
  line-height 12px

h3.obj-details
  text-transform uppercase
  color lightgray
  font-size 8px
  padding 0 0 5px
  font-weight normal

span.slash
  padding 0 5px 0 0
  font-weight bold
  vertical-align middle
  font-size 42px
  color black
  font-family title

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

img.social-icons
  position absolute
  cursor pointer

img.centered
  display block
  margin 0 auto
  vertical-align middle
  
img[alt=image]
  border-radius 5px

label
  color gray
  font-size 11px
  font-weight normal

td
  white-space nowrap
  padding 2px 0 0 10px

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

.left
  float left

.right
  float right

.clear
  clear both

.matte
  border-radius 5px

.mask
  position absolute
  z-index 1

.masked
  position absolute
  z-index 0

.list
  list-style-type none

.list li
  display inline
  float left

.tweet p
  font-size 9px
  color gray
  line-height 12px
  max-width 300px

span.welcome-member
  display block
  font-weight bold
  color #444
  margin 7px 20px 0 0

span.welcome-member a
  text-decoration underline
  background none

span.welcome-member a:hover
  text-decoration underline
  background rgba(75, 184, 215, 0.25)

span.welcome-member a:active
  background rgba(75, 184, 215, 0.1)

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

#twitter-names
  display none
  
a.resend-conf
  font-weight bold

.signin-almost-there
  text-align center
  margin 0 auto 41px

.signin-message
  font-weight bold
  font-size 14px
  line-height 24px

.signin-controls
  margin 20px auto 0
  width 400px

.signin-controls > p
  text-align center

.signin-controls a
  background none
  text-decoration underline

.signin-controls a:hover
  text-decoration underline
  background rgba(75, 184, 215, 0.25)

.signin-controls a:active
  background rgba(75, 184, 215, 0.1)

.signin-forms
  margin 20px 0 0
  width 100%
  position relative

.signin-forms form
  width 100%

.signin-forms table
  margin 0 auto

.signin-forms td
  padding-top 0

.signin-spinner
  margin 52px auto 0
  width 86px
  display none

.signin-spinner > div
  left 50% !important

.signin-copy
  padding 5px
  display block
  color gray
  font-size 9px
  text-align right

#remember_me
  margin 0 5px 0 0

#wrap
  margin 0 auto
  width 984px

#header-left
  float left
  height 82px
  width 363px
  border-bottom 5px solid black
  border-right 5px solid black
  border-radius 0 0 83px 0

#header-left:hover
  border-bottom 5px solid rgba(209, 43, 131, 0.75)
  border-right 5px solid rgba(209, 43, 131, 0.75)

#logo
  width 300px
  height 52px
  padding 15px 0
  cursor pointer

#header-right
  margin 0 0 0 388px
  position relative

#menu
  padding 12px 0 0 0
  position relative
  
#menu.list li
  float right

#menu.list li::last-child
  margin 0 20px 0 0

#main
  margin 40px 0 100px

#footer
  position fixed
  bottom 0
  width 100%

#footer > div
  margin 0 auto
  width 984px

#footer > div > div
  padding 5px 0
  width 333px
  background rgba(252, 252, 251, 0.5)
  text-align right
  font-family title
  float right
  z-index 1001
  position relative
  border-top 5px solid black
  border-left 5px solid black
  border-radius 23px 0 0 0

.is-highlight, .is-error
  position fixed
  left 20px
  bottom 20px
  padding 10px
  border-radius 5px
  color gray
  font-weight bold

.is-highlight
  background-color mattegray
  
.is-error
  background-color lightorange
  
.hidden
  display none

.quote
  font-size 28px
  font-family Title

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

textarea
  font-size 11px
  resize none
  font-weight normal
  background backgray
  padding 4px
  border 1px solid bordergray
  vertical-align top

textarea:focus
  background white
  border 1px solid darkgray
  outline none

textarea::-moz-focus-inner
  border none

input[type=checkbox], input[type=radio]
  display inline

input[type=text], input[type=password]
  background backgray
  width 142px
  margin 0
  padding 5px
  font-size 11px
  display inline
  color darkgray
  border 1px solid bordergray
  border-radius 5px

input[type=text]:focus, input[type=password]:focus
  background white
  border 1px solid darkgray

input:focus
  outline none

input::-moz-focus-inner
  border none

input.is-button-alert[type=submit]
  color orange !important
  border 1px solid orange !important

.is-input-alert
  border 1px solid orange !important

.button-mask-wrap
  position relative

#add-media,
#save-settings
  width 100%
  margin 10px 0 0

#add-media-mask,
#save-settings-mask
  position absolute
  right 0
  bottom 0
  cursor pointer

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

.signin
  width 100%
  height 100%
  overflow hidden

.signin-bg
  position absolute
  top 0
  left 0
  z-index -1
  overflow hidden
  width 100%
  height 100%
  opacity 0.5

.signin-logo
  margin 90px 0 0
  width 100%

.signin-logo > div
  position relative
  width 604px
  height 148px
  margin 0 auto

.signin-logo > div > img
  position absolute

.signin-action
  background rgba(255, 255, 255, 0.6)
  padding 20px 0
  margin 20px 0 0 0
  width 100%
  height 105px

.signin-strategies
  margin 0 auto
  width 471px

.signin-strategies td
  padding 0

.signin-or
  margin 7px 20px 0
  font-style italic

.signin-quote
  margin 50px 0 0
  width 100%

.signin-quote > p
  margin 0 auto
  width 500px
  font-size 14px
  font-family title
  line-height 19px
  text-align center
  color #333

a.button,
button,
div[role=button],
input[type=submit]
  font-size 11px
  font-family title
  padding 0 8px
  font-weight bold
  -moz-border-radius 2px
  -webkit-border-radius 2px
  border-radius 2px

  min-width 48px
  height 23px
  line-height 24px
  outline 0
  text-align center
  display inline-block

  background-color #F1F1F1
  color #898989
  border 1px solid #A8A8A8

  -moz-user-select none
  -webkit-user-select none
  user-select none

  cursor pointer

  -moz-transition-timing-function ease-out
  -moz-transition-duration 100ms
  -webkit-transition-timing-function ease-out
  -webkit-transition-duration 100ms
  transition-timing-function ease-out
  transition-duration 100ms

input[type=submit]
  height 25px

a.button:hover,
button:hover,
div[role=button]:hover,
input[type='submit']:hover
  color #444
  -moz-box-shadow 0 0 2px rgba(0, 0, 0, 0.2)
  -webkit-box-shadow 0 0 2px rgba(0, 0, 0, 0.2)
  box-shadow 0 0 2px rgba(0, 0, 0, 0.2)
  border 1px solid #898989

a.button:active,
button:active,
div[role=button]:active,
input[type='submit']:active
  color #444
  -moz-box-shadow inset 0 0 2px rgba(0, 0, 0, 0.3)
  -webkit-box-shadow inset 0 0 2px rgba(0, 0, 0, 0.3)
  box-shadow inset 0 0 2px rgba(0, 0, 0, 0.3)
  border 1px solid #898989

a.button:focus,
button:focus,
div[role=button]:focus,
input[type=submit]:focus
  border 1px solid #98c1e6

a.signin-strategy-btn,
a.signin-strategy-btn-disabled
  width 200px
  font-size 11px
  font-weight bold
  font-family standard
  padding 0px 0
  display block
  
  color white
  border 1px solid gray
  border-radius 2px
  
  -webkit-text-shadow 0px 1px black
  -moz-text-shadow 0px 1px black
  text-shadow 0px 1px black

a.facebook-btn,
a.facebook-btn-disabled
  background rgba(59, 89, 152, 0.65)

a.twitter-btn,
a.twitter-btn-disabled
  background rgba(60, 143, 201, 0.65)

a.instagram-btn,
a.instagram-btn-disabled
  background rgba(69, 63, 56, 0.65)

a.signin-strategy-btn-disabled
  cursor default
  opacity 0.65
  height 23px
  line-height 24px
  outline 0
  text-align center

a.signin-strategy-btn:hover
  color white
  border 1px solid black
  -webkit-text-shadow 0px 1px black
  -moz-text-shadow 0px 1px black
  text-shadow 0px 1px black

a.facebook-btn:hover
  background rgba(59, 89, 152, 0.75)

a.twitter-btn:hover
  background rgba(60, 143, 201, 0.75)

a.instagram-btn:hover
  background rgba(69, 63, 56, 0.75)

a.facebook-btn:active
  background rgba(59, 89, 152, 0.55)

a.twitter-btn:active
  background rgba(60, 143, 201, 0.55)

a.instagram-btn:hover
  background rgba(69, 63, 56, 0.55)

#login-form
  position relative
  left 0

#register-form
  position relative
  left 0
  display none

#media-form table,
#settings-form table
  width 640px
  margin 20px 0 0 0

#media-form input[name='post[title]'],
#settings-form input[name='edit[displayName]']
  width 632px

#media-form textarea
  width 630px
  height 150px
  color darkgray
  overflow hidden

#settings-form textarea
  width 630px
  height 32px
  color darkgray
  overflow hidden

#media-form td,
#settings-form td
  padding 0 0 5px

.media-instructions,
.settings-instructions
  font-size 11px
  line-height 15px
  font-style italic

.settings-banner-wrap
  position relative
  width 232px
  height 104px
  overflow hidden
  cursor move

.settings-banner
  left 0
  top 0

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

.trending-media-wrap
  width 640px

.trending-media
  height 360px
  margin 10px 0 0
  overflow hidden

.trending-media-images
  margin 0

.trending-img
  margin 0 0 2px

a.trending, a.trending:hover, a.trending:focus
  background none

.recent-comments-wrap
  margin 0 0 0 670px

#recent-comments
  position relative
  z-index 1
  margin 21px 0 0 0

h1.title-left
  display inline-block
  height 30px
  font-size 24px
  font-weight normal
  line-height normal
  color black
  font-family title

h1.title-right
  font-size 14px
  font-weight normal
  line-height normal
  color black
  padding 10px 0 0 0
  font-family title
  
h1.title-bottom
  padding 0 0 20px
  font-size 18px
  font-weight normal
  line-height normal
  color black
  font-family title

h1.title-sub
  font-size 9px
  padding 0 0 0 22px
  line-height 9px

#search
  width 640px

#search-box
  -moz-appearance none
  -moz-font-smoothing antialiased
  -webkit-appearance none
  -webkit-font-smoothing antialiased
  appearance none
  font-smoothing antialiased
  border 1px solid bordergray
  background backgray
  font-size 24px
  font-weight lighter
  letter-spacing -2px
  padding 5px 0
  margin 0 0 10px
  width 100%

#search-box:focus
  background none
  border 1px solid darkgray

.search-spinner
  position absolute
  left -25px
  top 63px

#grid
  position relative
  width 984px
  margin 15px 0 0 0

.single-left
  float left
  margin 0 0 40px

.single-right
  margin 0 0 0 670px

.grid-wrap
  position absolute

.obj-holder
  position relative
  margin 10px 0 5px 0

.hearts
  position absolute
  z-index 1001
  top 10px
  left 10px
  cursor pointer

.hearts-wrap
  position absolute
  top 5px
  left 5px
  width 130px

.hearts-back
  position absolute

img.heart-img
  display none
  padding 0 5px 0 0

.obj-desc
  background-color mattegray
  width 640px

.obj-desc-txt-wrap
  margin 0 0 0 25px 
  padding 10px 10px 0 4px
  
.obj-desc-txt
  padding 0 40px 5px 0

.commentor
  display none
  padding 0 0 5px

.commentor-input, .commentor-input-dummy
  width 304px
  margin 23px 0 0 0
  padding 4px

.commentor-input
  height 32px
  overflow hidden

.commentor-input-dummy
  height 32px
  color gray

.commentor-whois
  margin 0 90px 0 0
  color bordergray
  font-size 10px
  padding 10px 0 0 0
  display block

.commentor-login
  margin 15px 0 0 0
  font-style italic

.add-comment
  float right
  width 79px
  margin 5px 0 0

.obj-comments
  margin 15px 0 0

.comment
  overflow hidden
  background-color mattegray
  width 314px
  margin 5px 0 0

.comment-title,
.object-title
  padding 3px 0 0
  max-width 314px

.comment-title-name,
.comment-title-name-inactive,
.comment-title-parent,
.comment-title-parent-solo,
.object-title-name,
.object-title-name-inactive,
.object-title-parent
  font-weight bold
  font-size 10px
  padding 3px 20px 3px 10px
  border-radius 5px 0 20px 0
  width -moz-fit-content
  width intrinsic
  display inline
  white-space nowrap
  position relative

.comment-title-name,
.object-title-name
  color white
  background-color #DCDCDC
  z-index 1

.comment-title-name:hover,
.object-title-name:hover
  color black
  background-color blue

.comment-title-name-inactive,
.object-title-name-inactive
  color white
  background-color #DCDCDC
  z-index 1
  cursor default

.comment-title-parent,
.object-title-parent
  color lightgray
  background-color backgray
  padding-left 20px
  z-index 0
  left -15px

.comment-title-parent:hover,
.object-title-parent:hover
  color black
  background-color backgray

.comment-title-parent-solo
  color lightgray
  background-color backgray
  padding-left 20px
  z-index 0
  left -15px

.comment-title-parent-solo:hover
  color black
  background-color backgray

.comment-body
  padding 5px 40px 5px 10px

.comment-txt
  padding 5px 0
  overflow-y auto

.comment-txt a
  text-decoration underline

.comment-added,
.object-added
  color lightgray
  font-size 9px

.member-picture
  position relative
  width 640px
  height 288px
  overflow hidden

.member-info
  font-size 9px
  margin 0 0 5px

.member-info a
  text-decoration underline

.member-info-content
  font-weight bold

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

div.each-grid-obj
  position absolute
  opacity 1
  padding 0
  width 231px
  overflow hidden
  background-color #F2F2F2
  display none

a.grid-obj
  text-decoration none
  background none
  vertical-align text-top
a.grid-obj:hover
  background none

a.grid-obj:active
  background none
  
div.grid-obj-hover
  background black
  opacity 0.8
  position absolute
  display none

div.grid-obj-hover-inner
  width 100%
  height 100%

  display -webkit-box
  -webkit-box-orient horizontal
  -webkit-box-pack center
  -webkit-box-align center
  
  display -moz-box
  -moz-box-orient horizontal
  -moz-box-pack center
  -moz-box-align center
  
  display box
  box-orient horizontal
  box-pack center
  box-align center

h1.grid-obj-hover-txt
  font-size 12px
  background-color white
  padding 10px
  width -moz-fit-content
  width intrinsic
  font-weight lighter
  text-transform uppercase
  border-radius 15px


div.object-parent-types
  padding 10px 5px 4px 6px

div.object-parent-types ul
  list-style-type none

div.object-parent-types li
  display inline-block
  padding 0 5px

div.object-meta
  border-top 1px solid #FCFCFB

div.object-meta table
  width 100%

div.object-meta td
  text-align center
  padding 5px 5px 3px

span.object-meta-txt
  font-size 9px
  color #B3B3B3
  vertical-align 1px

h3.object-added
  padding 4px 10px 5px

div.each-fea-obj
  cursor pointer

div.profile-left
  margin 0 0 0 0
  float left

div.profile-right
  width 492px
  margin 0 0 0 492px

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––carousel*/

#fea-carousel, #mem-carousel
  padding 20px 0 0 0

#fea-carousel-wrap
  width 640px
  height 320px
  position relative
  overflow hidden

#fea-carousel-holder
  position absolute
  height 2000em
  opacity 0

#mem-carousel-wrap
  width 984px
  height 320px
  position relative
  overflow hidden

#mem-carousel-holder
  position absolute
  width 2000em
  opacity 0

#mem-carousel-holder > div
  float left

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
