#loading
  img(src='/graphics/is-loading.gif', alt='loading...')
#wrap
  header#header
    #header-left
      a#log-featured.nav-link(href='#featured')
        #logo
          img#logo-a.centered(src='/graphics/is-logo.png', alt='is-logo_img', width='300')
          img#logo-b.centered(src='/graphics/is-logo-pink.png', alt='is-logo_img', width='300', style='display:none;')
    #header-right
      #menu.list
        ul
          li
            a#nav-featured.nav-link(href='/featured', title='ISLAND featured')
              h1.nav / featured
          li
            a#nav-members.nav-link(href='/members', title='ISLAND members')
              h1.nav / members
          li
            a#nav-mission.nav-link(href='/mission', title='ISLAND mission')
              h1.nav / mission
          li
            a#nav-contribute.nav-link(href='/contribute', title='ISLAND contribute')
              h1.nav / contribute
      #feeds
        #twitter.tweet
          p loading ISLAND tweets...
    div.clear
  div.clear
  #main-top
  div.clear
  #main-bottom
    #grid
footer#footer
  div
    div
      small Copyright © WeAreIsland 2010-Today.