#loading
  img(src='/graphics/is-loading.gif', alt='loading...')
#wrap
  header#header
    #header-left
      a#log-featured.nav-link(href='#featured')
        #logo
          img#logo-a.centered(src='/graphics/is-logo.png', alt='is-logo_img', width='300')
          img#logo-b.centered(src='/graphics/is-logo-pink.png', alt='is-logo_img', width='300', style='display:none;')
    #header-right
      #menu.list
        ul
          li
            a#nav-featured.nav-link(href='/featured', title='ISLAND featured')
              h1.nav / featured
          li
            a#nav-members.nav-link(href='/members', title='ISLAND members')
              h1.nav / members
          li
            a#nav-mission.nav-link(href='/mission', title='ISLAND mission')
              h1.nav / mission
          li
            a#nav-contribute.nav-link(href='/contribute', title='ISLAND contribute')
              h1.nav / contribute
      #feeds
        #twitter.tweet
          p loading ISLAND tweets...
    div.clear
  div.clear
  #main-top
  div.clear
  #main-bottom
    #grid
      - for (var d in media)
        div(id='obj-' + media[d].id, class='each-obj ' + media[d].type, style='width: 231px')
          span.grid-obj-title
            =media[d].title
          a(href='http://weareisland.ld/' + media[d].parent.slug + '/' + media[d].slug)
            div.obj-hover(style='width: 231px')
              h1.obj-hover-txt
                =media[d].parent.name.first + ' / ' + media[d].meta.likes
            img(id='img-' + media[d].id, class='page-' + page, src=media[d].location, alt=media[d].type, width='231')
          div.right
            span.grid-tag tags: 
            span.grid-obj-tags
              =media[d].meta.tags
footer#footer
  div
    div
      small Copyright © WeAreIsland 2010-Today.