<%
  var member = this.app.profile.member;
  var gravatar = member ? 'https://www.gravatar.com/avatar/'
      + member.gravatar + '?s=34&d='
      + encodeURIComponent(this.app.cfuri + '/avatars/avatar_100.png')
      : null;
%>

<div class="hangtens"></div>
<% if (this.collection.older > 0) { %>
  <a href="javascript:;" class="comments-older comment list-header">
    Show <%= this.collection.older %> older <%= this.collection.older > 1 ? 'comments': 'comment' %>
  </a>
<% } %>
<% if (this.collection.models.length > 0) { %>
  <% _.each(this.collection.models, _.bind(function(row) { %>
    <%= this.row(row) %>
  <% }, this)); %>
<% } %>
<div id="comment_input" class="list-footer">
  <% if (member) { %>
    <div class="comment">
      <span class="comment-avatar navigate">
        <img src=<%= gravatar %> width="34" height="34" />
      </span>
      <div class="comment-body-input">
        <form enctype="multipart/form-data" method="POST" class="comment-input-form">
          <textarea name="body" class="comment-input" 
              placeholder="Leave a comment ..."></textarea>
        </form>
      </div>
    </div>
  <% } else { %>
    <a href="javascript:;" class="comments-signin">
      <span class="empty-list">Sign in to comment.</span>
    </a>
  <% } %>
</div>
