<%
  var author = !this.parentView.model ? null:
      (this.parentView.model.get('username') ?
      this.parentView.model.attributes: this.parentView.model.get('author'));
  var own = !this.parentView.model || (this.app.profile.member
      && author.id === this.app.profile.member.id);
  var owner = own ? 'You\'re': author.displayName.trim() + ' is ';
%>

<span class="sidebar-heading">
  <%= owner %> following <span class="sidebar-heading-cnt">(<%= this.collection.length %>)</span>
</span>
<p class="sidebar-tip">
  You're not following anyone yet.
</p>

<% if (!this.app.profile.content.private) { %>
  <div class="list-header"></div>
  <% _.each(this.collection.models, _.bind(function (row) { %>
    <%= this.row(row) %>
  <% }, this)); %>
<% } %>

