<%
  var member = this.app.profile.member;
%>

<% if (member) { %>
  <div class="media-input list-header">
    <div class="media">
      <form action="/api/medias" enctype="multipart/form-data" method="POST">
        <table>
          <tr>
            <td>
              <label for="link">Add a new video of this ascent</label>
            </td>
          </tr>
          <tr>
            <td>
              <input tabindex="1" class="media-link" name="link" type="text"
                  placeholder="YouTube or Vimeo link..." />
            </td>
            <td>
              <input type="submit" class="media-button" value="Add" tabindex="2" />
              <div class="button-spin"></div>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
<% } else { %>
  <div class="list-header"></div>
<% } %>
<% if (this.collection.models.length > 0) { %>
  <% _.each(this.collection.models, _.bind(function(row) { %>
    <%= this.row(row) %>
  <% }, this)); %>
<% } %>
