<%

  var member = this.app.profile.member;
  var gravatar = member ? 'https://www.gravatar.com/avatar/'
      + member.gravatar + '?s=36&d='
      + encodeURIComponent(this.app.cloudFrontURL + '/main/img/avatar_100.png')
      : null;

%>

<% if (member && options.input && member.role === 0) { %>
  <div id="post_input" class="list-header">
    <div class="post">
      <span class="post-input-avatar">
        <img src=<%= gravatar %> width="36" height="36" />
      </span>
      <div class="post-input-wrap">
        <form action="/api/posts" enctype="multipart/form-data" method="POST"
            id="post_input_form">
          <div id="post_dnd">
            <textarea name="body" class="post-input" tabindex="1" 
                placeholder="What's on your mind?"></textarea>
            <div id="post_select">
              Attach a video or photos by
              <% if (Modernizr.draganddrop) { %>
                dragging &amp; dropping or 
                <a id="post_file_chooser_dummy" class="file-chooser-dummy important" href="javascript:;">selecting them</a>.
                <input id="post_file_chooser" class="file-chooser" type="file" name="post_file" multiple="multiple" />
              <% } else { %>
                <a id="post_file_chooser_dummy" class="file-chooser-dummy important" href="javascript:;">selecting them</a>.
                <input id="post_file_chooser" class="file-chooser" type="file" name="post_file" multiple="multiple" style="left:78px;" />
              <% } %>
            </div>
            <div id="post_files"></div>
          </div>
          <table id="post_params">
            <tr>
              <td>
                <input type="text" name="title" placeholder="Post title (optional)"
                    tabindex="2" style="width:200px;" />
              </td>
              <td>
                <input id="facebook" name="facebook" type="checkbox" tabindex="3" />
                <label for="facebook">Post to Facebook</label>
              </td>
              <td>
                <input id="twitter" name="twitter" type="checkbox" tabindex="4" />
                <label for="twitter">Tweet post</label>
              </td>
              <td class="last">
                <input type="submit" id="post_button" value="Post" tabindex="5" />
              </td>
            </tr>
          </table>
          <input type="hidden" name="params"
              value='<%= JSON.stringify(this.app.profile.transloadit.media) %>' />
        </form>
      </div>
    </div>
  </div>
<% } else { %>
  <br />
<% } %>
<% if (this.collection.models.length > 0) { %>
  <% _.each(this.collection.models, _.bind(function(row) { %>
    <%= this.row(row) %>
  <% }, this)); %>
<% } %>
