<span class="sidebar-heading">
  Sectors <span class="sidebar-heading-cnt">(<%= this.collection.length %>)</span>
</span>
<p class="sidebar-tip">
  There aren't any sectors here yet.
</p>
<% if (this.app.profile.member && this.app.profile.member.role !== 2) { %>
  <a href="javascript:;" class="button sidebar-button add-sector">
    <i class="icon-location"></i>Add Sector
  </a>
<% } %>

<ul class="list">
  <li class="list-header"></li>
  <% _.each(this.collection.models, _.bind(function (row) { %>
    <%= this.row(row) %>
  <% }, this)); %>
</ul>
