<%
  var image;
  if (this.model.get('gravatar')) {
    image = 'https://www.gravatar.com/avatar/'
        + this.model.get('gravatar') + '?s=16&d='
        + encodeURIComponent(this.app.images.avatar);
  } else if (this.model.get('crag')) {
    image = this.model.get('type') === 'b' ?
        __s + '/img/boulder_16.png': __s + '/img/route_16.png';
  }
%>

<% if (image) { %>
  <span class="choice-prefix">
    <img src=<%= image %> width="16" height="16" />
  </span>
<% } %>
<span class="choice-name">
  <%= this.model.title() %>
  <% if (this.options.parentView.options.log
      && this.model.get('_type') === 'crags'
      && this.app.profile.member
      && this.app.profile.member.username !== 'island'
      && this.app.profile.member.role !== 2) { %>
    <a href="javascript:;" class="list-button">
      <i class="icon-pencil"></i>
    </a>
  <% } %>
</span>
