<%
  var gravatar = 'https://www.gravatar.com/avatar/'
      + this.model.get('author').gravatar + '?s=34&d='
      + encodeURIComponent(this.app.cfuri + '/avatars/avatar_100.png');
%>

<a href="/<%= this.model.get('author').username %>" class="comment-avatar navigate">
  <img src="<%= gravatar %>" width="34" height="34" />
</a>
<div class="comment-body"><%= this.model.body() %></div>
<div class="comment-info">
  <% if (this.app.profile.member &&
        this.model.get('author').id === this.app.profile.member.id) { %>
    <span class="info-delete">Delete</span>
    <span class="info-divider">&nbsp;&middot;&nbsp;</span>
  <% } %>
  <time class="created static" 
      datetime="<%= this.model.get('created') %>" 
      title="<%= this.model.get('created') %>">
    <%= this.model.get('created') %>
  </time>
</div>
