<a href="/<%= this.model.get('member').username %>" class="comment-avatar">
  <% if (this.model.get('avatar')) { %>
    <img src="/img/avatar_100.png"
        width="32" height="32" />
  <% } else { %>
    <img src="http://avatars.io/auto/gregarious" width="32" height="32" />
  <% } %>
</a>
<div class="comment-body">
  <p>
    <a href="/<%= this.model.get('member').username %>" class="comment-author">
      <%= this.model.get('member').displayName %>
    </a>
    <%= this.model.body() %>
  </p>
</div>
<div class="comment-info">
  <time class="created" 
      datetime="<%= this.model.get('created') %>" 
      title="<%= this.model.get('created') %>">
    <%= this.model.get('created') %>
  </time>
</div>