<div class="block-remove">
  <i class="icon-cancel"></i>
</div>
<span class="block-<%= this.model.get('level') %>-txt">
  <% if (this.model.get('level') === 'alert') { %>
    <i class="icon-attention"></i>
    <%= this.model.get('message') %>
  <% } else { %>
    <i class="icon-error"></i>
    <% if (this.model.get('message')) { %>
      <%= this.model.get('message') %>
    <% } else if (window.__s === '') { %>
      <%= this.model.get('err').message %>
    <% } else { %>
      Error 500: Looks like something went wrong! We track these errors automatically, but if the problem persists feel free to <a href="mailto:support@island.io">contact us</a>. In the meantime, try refreshing.
    <% } %>
  <% } %>
</span>
