<a href="/<%= this.model.get('person').username %>" class="shell-chat-message-avatar">
  <% if (this.model.get('person').avatar_url) { %>
    <img src="<%= this.model.get('person').avatar_url %>"
        width="18" height="18" class="round" />
  <% } else { %>
    <img src="/img/avatar_22.png"
        width="18" height="18" class="round" />
  <% } %>
</a>
<a href="/<%= this.model.get('person').username %>" 
    class="username shell-chat-message-author">
  <%= this.model.get('person').username %></a>:
<span class="shell-chat-message-content"><%= this.model.get('content') %></span>
<time class="shell-chat-message-created created" 
    datetime="<%= this.model.get('created') %>" 
    title="<%= this.model.get('created') %>">
  <%= this.model.get('created') %>
</time>
