<% var static = 'undefined' !== typeof __hv ? '/' + __hv : ''; %>

<!-- <a href="/<%= this.model.get('shell_id') %>"> -->
  <div class="notification-inner">
    <% if (0) { %>
    <!-- < if (this.model.get('event').topic.startsWith('invest/threshold')) { > -->
      <i class="icon-up-hand"></i>
    <% } else if (this.model.get('icon')) { %>
      <img src="<%= this.model.get('icon') %>" width="32" height="32" />
    <% } else { %>
      <img src="<%= static %>/img/avatar_32.png" width="32" height="32" />
    <% } %>
    <p>
      <%= this.model.getNote() %>
      <time class="created" 
          datetime="<%= this.model.get('created') %>" 
          title="<%= this.model.get('created') %>">
        <%= this.model.get('created') %>
      </time>
    </p>
    <a href="javascript:;" class="notification-delete">
      <i class="icon-trash"></i>
    </a>
    <div class="clearfix"></div>
  </div>
<!-- </a> -->