<%
  var gravatar = 'https://www.gravatar.com/avatar/'
      + this.model.get('event').data.action.g + '?s=32&d='
      + encodeURIComponent(this.app.cloudFrontURL + '/main/img/avatar_100.png');
%>

<a href="<%= this.model.get('event').data.target.s %>">
  <div class="notification-inner">
    <img src=<%= gravatar %> width="32" height="32" />
    <p>
      <%= this.model.body() %>
    </p>
    <div class="notification-info">
      <time class="created" 
          datetime="<%= this.model.get('created') %>" 
          title="<%= this.model.get('created') %>">
        <%= this.model.get('created') %>
      </time>
      <span class="info-divider">&nbsp;&middot;&nbsp;</span>
      <span class="notification-delete">hide</span>
    </div>
    <div class="clear"></div>
  </div>
</a>
