<div class="post-title">
  <%= this.model.date() %> | 
  <a href="/<%= this.model.get('author').username %>">
    <%= this.model.get('author').displayName %></a> 
  <% if (this.model.get('title')) { %>
    / <%= this.model.get('title') %>
  <% } %>
</div>
<div class="post-mosaic matte">
  <img class="mask" width="640" style="top:0;" 
      src="https://d271mvlc6gc7bl.cloudfront.net/main/gfx/is-cornermask-top.png" />
  <img class="mask" width="640" style="top:352px;"
      src="https://d271mvlc6gc7bl.cloudfront.net/main/gfx/is-cornermask-btm.png" />
</div>
<div class="post-body">
  <%= this.model.body() %>
</div>
<div class="post-info">
  Posted by <a href="<%= this.model.get('author').username %>" target="_blank">
    <%= this.model.get('author').displayName %></a>
  <time class="created" 
        datetime="<%= this.model.get('created') %>" 
        title="<%= this.model.get('created') %>">
    <%= this.model.get('created') %>
  </time>
</div>
<div class="comments"></div>
