<%
  var video = _.find(this.model.get('medias'), function (m) {
    return m.type === 'video';
  });
  var typeClass = video ? 'post-title-video': 'post-title-photos';

  var gravatar = 'https://www.gravatar.com/avatar/'
      + this.model.get('author').gravatar + '?s=26&d='
      + encodeURIComponent(this.app.cfuri + '/avatars/avatar_100.png');
%>

<% if (this.parentView) { %>
  <% if (this.model.get('product') && this.model.get('product').sku) { %>
    <a class="button buy-button" target="_blank" 
        href="http://transactions.digitaldeliveryapp.com/products/<%= this.model.get('product').sku %>/purchase">
      <i class="icon-download-cloud"></i>
      <%= this.model.get('product').subtype %> Film ($<%= this.model.get('product').price %>)
    </a>
  <% } %>
  <div class="event-title">
    <a href="/<%= this.model.get('author').username %>" class="title navigate">
      <%= this.model.formatAuthorFor(this.app.profile.member) %></a><%= this.model.explain() %>
  </div>
  <% if (this.model.get('title')) { %>
    <span class="event-timeline-dot"></span>
    <span class="event-title-text">
      <a href="/<%= this.model.get('key') %>" class="title-large navigate">
        <%= this.model.get('title') %></a>
    </span>
  <% } %>
<% } %>
<div class="post-media">
  <span class="event-timeline-label">
    <i class="icon-<%= video ? 'youtube-play': 'picture' %>"></i>
  </span>
  <div class="post-mosaic"></div>
</div>
<% if (this.model.link()) { %>
  <div class="post-link">
    <span class="event-timeline-label">
      <i class="icon-youtube-play"></i>
    </span>
    <% if (this.parentView) { %>
      <iframe src="<%= this.model.get('link') %>" width="561" height="316"
          frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    <% } else { %>
      <iframe src="<%= this.model.get('link') %>" width="1024" height="576"
          frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    <% } %>
  </div>
<% } %>
<div class="post-body">
  <%= this.model.body(!this.parentView) %>
</div>
<div class="event-info">
  <% if (this.app.profile.member) { %>
    <a href="javascript:;" class="muted hangten">Hang Ten</a>
    <span class="info-divider">&nbsp;&middot;&nbsp;</span>
  <% } %>
  <% if (this.app.profile.member &&
      this.model.get('author').id === this.app.profile.member.id) { %>
    <a href="javascript:;" class="muted post-delete">Delete</a>
    <span class="info-divider">&nbsp;&middot;&nbsp;</span>
  <% } %>
  <a href="/<%= this.model.get('key') %>" class="muted navigate"><time class="created" 
        datetime="<%= this.model.get('created') %>" 
        title="<%= this.model.get('created') %>">
    <%= this.model.get('created') %>
  </time></a>
</div>
<div class="comments"></div>
