<%

  // Save model attributes
  var data = this.model.attributes;

  // Handle from
  var location = data.location && data.location.name ? data.location.name: null;
  if (!location && data.hometown && data.hometown.name)
    location = data.hometown.name;
  if (location) location = ' | ' + location;

  // Check image
  if (!data.image) {
    data.image = {meta: {width: 640, height: 288}};
    if (!data.gender || 'male' === data.gender)
      data.image.cf_url = __s + '/img/blnk-pic-m.jpg';
    else
      data.image.cf_url = __s + '/img/blnk-pic-f.jpg';
  }

  // Image meta
  var _w = 640;
  var _h = 288;
  var w, h;
  var l = 'left:0;';
  var t = 'top:0;';
  w = _w
  h = (data.image.meta.height / data.image.meta.width) * _w;
  if (h - _h >= 0) {
    t = 'top:' + (data.image.meta.top !== undefined 
        ? data.image.meta.top: (-(h - _h) / 2)) + 'px;';
  } else {
    w = (data.image.meta.width / data.image.meta.height) * _h;
    h = _h;
    l = 'left:' + (data.image.meta.left !== undefined
        ? data.image.meta.left: (-(w - _w) / 2)) + 'px;';
  }

  // Description
  var desc = data.description && data.description !== '' ? data.description: null;

  // Websites
  var links = data.website ? '': null;
  if (data.website) {
    var websites = data.website.split('\n');
    _.each(websites, function(site, i) {
      if (site === '') return;
      var _site = site;
      if (!site.match(/^http:\/\/|https:\/\//)) site = 'http://' + site;
      links += '<a href="' + site + '" target="_blank">' + _site + '</a>';
      if (i !== websites.length - 1) links += ', ';
    });
  }

  // Member since
  var created = new Date(data.created);
  var since = [created.getMonth() + 1, created.getFullYear()].join('/');

  // Gravatar
  var gravatar = 'https://www.gravatar.com/avatar/'
      + data.gravatar + '?s=48&d='
      + encodeURIComponent(this.app.cfuri + '/avatars/avatar_100.png');

%>

<div class="profile-title">
  <a href="<%= data.username %>" class="navigate"><%= data.displayName %></a><%= location %>
</div>
<div class="profile-picture">
  <img src=<%= gravatar %> class="profile-avatar" width="48" height="48" />
  <img class="mask" width="640" style="top:0;"
      src="<%= __s %>/img/cornermask-top.png" />
  <img class="mask" width="640" style="top:280px;"
      src="<%= __s %>/img/cornermask-btm.png" />
  <img class="masked" src=<%= data.image.cf_url %> width=<%= w %> height=<%= h %> style=<%= t + l %> />
</div>
<div class="profile-info">
  <% if (desc || links) { %>
    <div class="profile-description">
      <% if (desc) { %>
        <p><%= this.model.description() %></p>
      <% } %>
      <% if (links) { %>
        <span>More from <%= data.displayName %> at </span>
        <span class="profile-links"><%= links %>.</span>
      <% } %>
    </div>
  <% } %>
  <span class="profile-details">Member since <%= since %></span>
</div>
<% if (!this.parentView) { %>
  <div id="posts"></div>
  <div class="list-spin">
    <div id="posts_spin"></div>
    <span class="empty-feed">Showing all.</span>
  </div>
<% } %>
