<%
  var klass = t.sent ? 'sent': '';
  klass += this.app.profile.member &&
      this.model.get('author').id === this.app.profile.member.id ? ' own': '';
%>

<li class="<%= klass %>">
  <% if (t.sent) { %>
    <span class="event-timeline-label">
      <i class="icon-ok"></i>
    </span>
    <span class="event-timeline-label-text">
      <%= this.model.formatTickDetails(t) %>
    </span>
  <% } %>
  <span class="session-tick-grade">
    <%= this.model.formatTickGrade(t.grade, t.feel) || t.ascent.grades.join(' / ') %>
  </span>
  <span class="session-tick-name">
    <a href="/crags/<%= t.ascent.key %>" class="navigate">
      <%= t.ascent.name %><%= t.ascent.sector ? ', ' + t.ascent.sector: '' %></a>
    <% if (t.sent) { %>
      <span class="session-tick-stars">
        <% for (var i=0; i < t.rating||0; ++i) { %>
          <i class="icon-star"></i>
        <% } %>
        <% for (var i=0; i < 3 - t.rating||0; ++i) { %>
          <i class="icon-star empty"></i>
        <% } %>
      </span>
    <% } %>
  </span>
  <% if (t.duration || t.performance) { %>
    <span class="session-tick-detail">
      <% if (t.duration) { %>
        <%= this.model.formatActivityDuration(t.duration) %>
      <% } %>
      <% if (t.performance) { %>
        <% if (t.duration) { %>
          <%= ' - ' %>
        <% } %>
        <%= this.model.formatActivityPerformance(t.performance) %>
      <% } %>
    </span>
  <% } %>
  <% if (t.note) { %>
    <p class="session-tick-note">
      &ldquo;<%= t.note %>&rdquo;
    </p>
  <% } %>
  <% if (this.app.profile.member &&
      this.model.get('author').id === this.app.profile.member.id) { %>
    <a href="javascript:;" class="session-tick-button">
      <i class="icon-pencil"></i>
    </a>
  <% } %>
</li>
