<div class="session-activity" data-type="<%= a.type %>">
  <span class="event-timeline-dot"></span>
  <ul class="session-activity-title">
    <li>
      <% if (a.type === 'b') { %>Boulders
      <% } else if (a.type === 'r') { %>Routes
      <% } %>
    </li>
  </ul>
  <% a.ticks = a.ticks || []; if (a.ticks.length !== 0) { %>
    <ul class="session-ticks">
      <% _.each(a.ticks, _.bind(function (tick) {
        var klass = 'tick';
        if (!this.parentView) {
          klass += ' single';
        }
      %>
        <li class="<%= klass %>" id="<%= tick.id %>" data-aid="<%= a.id %>"></li>
      <% }, this)); %>
    </ul>
  <% } %>
</div>
