<%

  var gravatar = 'https://www.gravatar.com/avatar/'
      + this.model.get('author').gravatar + '?s=48&d='
      + encodeURIComponent(this.app.cfuri + '/avatars/avatar_100.png');

%>

<% if (!this.parentView) { %>
  <div class="leftside">
<% } %>


<span class="session-tick-grade">
  <%= this.model.formatGrade() + this.model.formatExtra() %>
</span>
<% if (this.model.get('sent')) { %>
  <span class="session-tick-stars">
    <% for (var i=0; i < this.model.get('rating')||0; ++i) { %>
      <i class="icon-star"></i>
    <% } %>
    <% for (var i=0; i < 3 - this.model.get('rating')||0; ++i) { %>
      <i class="icon-star empty"></i>
    <% } %>
  </span>
<% } %>
<div class="event-title">
  <a href="/<%= this.model.get('author').username %>" class="title navigate">
    <%= this.model.get('author').displayName %></a> <%= this.model.formatDescription() %>.
</div>

<% if (this.model.get('sent')) { %>
  <span class="event-timeline-label">
    <i class="icon-ok"></i>
  </span>
<% } %>

<% if (this.model.get('note')) { %>
  <p class="session-tick-note">
    &ldquo;<%= this.model.get('note') %>&rdquo;
  </p>
<% } %>

<div class="event-info">
  <% if (this.app.profile.member) { %>
    <a href="javascript:;" class="muted hangten">HangTen</a>
    <span class="info-divider">&nbsp;&middot;&nbsp;</span>
  <% } %>
  <!-- < if (this.app.profile.member &&
      this.model.get('author').id === this.app.profile.member.id) { >
    <span class="tick-delete info-delete">Delete</span>
    <span class="info-divider">&nbsp;&middot;&nbsp;</span>
  < } > -->
  Logged <a href="/ticks/<%= this.model.get('key') %>"
        class="muted navigate"><time class="created" 
        datetime="<%= this.model.get('created') %>" 
        title="<%= this.model.get('created') %>">
    <%= this.model.get('created') %>
  </time></a>
</div>
<div class="comments"></div>

<% if (!this.parentView) { %>
  </div>
  <div class="rightside">
    <div class="tick-map" id="tick_map_<%= this.model.id %>"></div>    
  </div>
  <div class="clear"></div>
<% } %>
