<%
  var t = this.model.attributes;
  var own = this.app.profile.member && this.model.get('author') &&
      this.model.get('author').id === this.app.profile.member.id;
  var gravatar = t.author ? ('https://www.gravatar.com/avatar/' +
      t.author.gravatar + '?s=36&d=' +
      encodeURIComponent(this.app.images.avatar)) : null;
  var weather = this.model.get('weather');
  var w;
  if (!_.isEmpty(weather)) {
    w = weather.get('hourly') || weather.get('daily');
  }
  var inlineWeather = w && this.options.inlineWeather;
  var compact = this.options.compact;
  var mediaTypes = _.uniq(_.pluck(t.medias, 'type'));
%>

<% if (!this.parentView) { %>
  <div class="rightside">
    <div class="mini-map" id="tick_map_<%= this.model.id %>"></div>
    <% if (w) { 
      var cloudCover = Math.round(w.cloudCover * 100);
    %>
      <table class="session-weather">
        <tr>
          <% if (w.temperature) {
            var d = new Date(this.model.get('ts') * 1000);
          %>
            <th colspan="2"><i class="icon-temperatire"></i> <%= d.format('h:MM TT') %>, <%= d.format('dddd, mmm d, yyyy') %></th>
          <% } else { %>
            <th colspan="2"><i class="icon-temperatire"></i> <%= new Date(this.model.get('date')).format('dddd, mmm d, yyyy') %></th>
          <% } %>
        </tr>
        <tr>
          <td colspan="2"><%= w.summary %></td>
        </tr>
        <% if (w.temperature) { %>
          <tr>
            <td>temperature</td>
            <td><%= weather.getTemp(w.temperature) %>&deg<%= weather.getTempUnits() %></td>
          </tr>
        <% } else { %>
          <tr>
            <td>low temp.</td>
            <td><%= weather.getTemp(w.temperatureMin) %>&deg<%= weather.getTempUnits() %> @ <%= new Date(w.temperatureMinTime * 1000).format('h:MM TT') %></td>
          </tr>
          <tr>
            <td>high temp.</td>
            <td><%= weather.getTemp(w.temperatureMax) %>&deg<%= weather.getTempUnits() %> @ <%= new Date(w.temperatureMaxTime * 1000).format('h:MM TT') %></td>
          </tr>
        <% } %>
        <tr>
          <td>dew point</td>
          <td><%= weather.getTemp(w.dewPoint) %>&deg<%= weather.getTempUnits() %></td>
        </tr>
        <tr>
          <td>humidity</td>
          <td><%= Math.round(w.humidity * 100) %>%</td>
        </tr>
        <tr>
          <td>cloud cover</td>
          <td><%= !isNaN(cloudCover) ? cloudCover + '%': '?' %></td>
        </tr>
        <tr>
          <td>wind speed</td>
          <td><%= weather.getSpeed(w.windSpeed) %> <%= weather.getSpeedUnits() %></td>
        </tr>
        <% if (w.precipIntensity > 0) { %>
          <tr>
            <td>precip. intensity</td>
            <td><%= weather.getIntensity(w.precipIntensity) %> <%= weather.getIntensityUnits() %> (<%= w.precipType %>)</td>
          </tr>
        <% } %>
      </table>
    <% } %>
  </div>
<% } %>
<% if (!this.parentView) { %>
  <div class="leftside">
<% } %>

<% if (!this.options.mapless && this.parentView) { %>
  <div class="mini-map" id="tick_map_<%= this.model.id %>"></div>
<% } %>

<div class="tick-inner" data-key="<%= this.model.get('key') %>">
  <% if (this.parentView && this.parentView.model 
      && this.parentView.model.get('action')) { %>
    <span class="tick-avatar">
      <a href="/<%= t.author.username %>" class="image-anchor navigate">
        <img src="<%= t.author.avatar || gravatar %>" width="36" height="36" class="tooltip" />
      </a>
    </span>
  <% } %>
  <span class="event-timeline-label">
    <% if (t.sent) { %>
      <i class="icon-award"></i>
    <% } else { %>
      <i class="icon-hammer"></i>
    <% } %>
  </span>
  <span class="event-timeline-label-text">
    <% if (t.sent) { %>
      <%= this.model.formatTickDetails(t) %>
    <% } else { %>
      work
    <% } %>
  </span>
  <% if (this.options.inlineDate) { %>
    <span class="session-tick-date">
      <%= this.model.formatDate(compact) %>
    </span>
  <% } %>
  <% if (this.options.inlineTime) { %>
    <span class="session-tick-date">
      <%= this.model.formatTime() %>
    </span>
  <% } %>
  <span class="session-tick-grade">
    <%= this.model.formatTickGrades(t.grade, t.feel, t.crag.country)
        || this.model.formatTickGrades(t.ascent.grade, null, t.crag.country) %>
  </span>
  <% if (t.sent) { %>
    <span class="session-tick-stars">
      <% for (var i=0; i < t.rating||0; ++i) { %>
        <i class="icon-star"></i>
      <% } %>
      <% for (var i=0; i < 3 - t.rating||0; ++i) { %>
        <i class="icon-star empty"></i>
      <% } %>
    </span>
  <% } %>
  <span class="session-tick-name">
    <% if (this.options.showAuthorName) { %>
      <a href="/<%= t.author.username %>" class="navigate">
        <%= t.author.displayName %>
      </a>
    <% } else { %>
      <% if (t.ascent.key) { %>
        <a href="/crags/<%= t.ascent.key %>" class="navigate">
      <% } %>
      <% if (this.options.showCragName) { %>
        <%= t.crag.name %> |
      <% } %>
      <%= t.ascent.name %><%= t.ascent.sector ? ' <span style="font-size:90%;">('
          + t.ascent.sector + ')</span>': '' %>
      <% if (t.ascent.key) { %>
        </a>
      <% } %>
    <% } %>
  </span>
  <% if ((t.duration || t.performance || w) && !compact) { %>
    <span class="session-tick-detail">
      <% if (inlineWeather) { %>
        <%= w.temperature ? weather.getTemp(w.temperature): weather.dailyTempRange() %>&deg<%= weather.getTempUnits() %> <%= weather.getWeatherIconName(w.icon) %>
      <% } %>
      <% if (t.duration) { %>
        <% if (inlineWeather) { %>
          <%= ' &middot; ' %>
        <% } %>
        <%= this.model.formatActivityDuration(t.duration) %>
      <% } %>
      <% if (t.performance) { %>
        <% if (t.duration || inlineWeather) { %>
          <%= ' &middot; ' %>
        <% } %>
        <%= this.model.formatActivityPerformance(t.performance) %>
      <% } %>
    </span>
  <% } %>
  <% if (t.note && !compact) { %>
    <p class="session-tick-note">
      &ldquo;<%= this.model.formatNote() %>&rdquo;
    </p>
  <% } %>
  <div class="clear"></div>
  <% if (!this.options.medialess) { %>
    <% if (_.contains(mediaTypes, 'image')) { %>
      <div class="tick-media" data-type="image">
        <span class="event-timeline-label">
          <i class="icon-picture"></i>
        </span>
        <div class="image-mosaic" data-type="image" data-id="<%= t.id %>"></div>
      </div>
    <% } %>
    <% if (_.contains(mediaTypes, 'video')) {
      var vids = _.filter(t.medias, function (m) { return m.type === 'video'; });
      vids = _.uniq(vids, function (v) {
        return v.video.original_id;
      });
      vids = vids.sort(function (a, b) {
        return a.video._index - b.video._index;
      });
      _.each(vids, function (v) { %>
        <div class="tick-media" data-type="video">
          <span class="event-timeline-label">
            <i class="icon-youtube-play"></i>
          </span>
          <div class="image-mosaic" data-type="video" data-id="<%= v.video.original_id %>"></div>
        </div>
      <% }) %>
    <% } %>
    <% _.each(this.model.get('videoEmbeds'), _.bind(function (v) { %>
      <div class="tick-media" data-type="video">
        <span class="event-timeline-label">
          <i class="icon-youtube-play"></i>
        </span>
        <% if (this.parentView && this.parentView.parentView
                && this.parentView.$('.session-ticks').length > 0) { %>
          <iframe src="<%= v.link %>" width="381" height="210"
              frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        <% } else { %>
          <iframe src="<%= v.link %>" width="538" height="303"
              frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        <% } %>
      </div>
    <% }, this)); %>
  <% } %>
  <% if (this.options.info !== false) { %>
    <% if (this.app.profile.member && !this.options.commentless) { %>
      <a href="javascript:;" class="muted hangten">Nod</a>
      <span class="info-divider">&nbsp;&middot;&nbsp;</span>
      <a href="javascript:;" class="muted toggle-comment-input">Comment</a>
      <span class="info-divider">&nbsp;&middot;&nbsp;</span>
    <% } %>
    <% if (this.options.commentless) { %>
      <% if (t.hangtens_cnt !== undefined || (t.hangtens && t.hangtens.length > 0)) { %>
        <span class="info-item"><span class="small-hangten"></span> x <%= t.hangtens ? t.hangtens.length: t.hangtens_cnt %></a></span>
        <span class="info-divider">&nbsp;&middot;&nbsp;</span>
      <% } %>
      <% if (t.comments_cnt !== undefined || (t.comments && t.comments.length > 0)) { %>
        <span class="info-item"><i class="icon-comment"></i> x <%= t.comments ? t.comments.length: t.comments_cnt %></a></span>
        <span class="info-divider">&nbsp;&middot;&nbsp;</span>
      <% } %>
    <% } %>
    <% if (this.options.medialess) { %>
      <% if (t.medias_cnt !== undefined || (t.medias && t.medias.length > 0)) { %>
        <span class="info-item"><i class="icon-picture"></i> x <%= t.medias ? t.medias.length: t.medias_cnt %></a></span>
        <span class="info-divider">&nbsp;&middot;&nbsp;</span>
      <% } %>
    <% } %>
    <% if ((this.app.profile.member && this.app.profile.member.admin) || own) { %>
      <a href="javascript:;" class="muted tick-edit">Edit</a>
      <span class="info-divider">&nbsp;&middot;&nbsp;</span>
    <% } %>
    <% if (!this.options.shareless) { %>
      <a href="javascript:;" class="muted info-share">Share</a>
      <span class="info-divider">&nbsp;&middot;&nbsp;</span>
    <% } %>
    <% if (this.options.inlineRemove) { %>
      <a href="javascript:;" class="button info-remove">Remove</a>
    <% } %>
    <% if (!this.options.dateless) { %>
      <a href="/efforts/<%= this.model.get('key') %>"
          class="muted navigate"><time class="created" 
          datetime="<%= this.model.get('updated') %>" 
          title="<%= this.model.get('updated') %>" 
          id="time_<%= this.model.id %>">
        <%= this.model.get('updated') %>
        </time></a>
    <% } %>
  <% } %>
</div>
<% if (!this.options.commentless) { %>
  <div class="comments"></div>
<% } %>

<% if (!this.parentView) { %>
  </div>
  <div class="clear"></div>
<% } %>
