<%
  var t = this.model.attributes;
  var gravatar = t.author ? ('https://www.gravatar.com/avatar/'
      + t.author.gravatar + '?s=36&d=' 
      + encodeURIComponent(this.app.images.avatar)): null;
  var grade = this.model.formatTickGrades(t.grade, t.feel, t.crag.country)
      || this.model.formatTickGrades(t.ascent.grades, null, t.crag.country)
      .join(' / ');
%>

<a href="/<%= this.model.get('key') %>" class="navigate">
  <span class="list-row-title"><%= grade %></span>
  <span class="list-row-title-right"><%= t.author.displayName %></span>  
</a>
