<%
  var t = this.model.attributes;
  var own = this.app.profile.member &&
      this.model.get('author').id === this.app.profile.member.id;
  var gravatar = 'https://www.gravatar.com/avatar/'
      + t.author.gravatar + '?s=36&d='
      + encodeURIComponent(this.app.images.avatar);
  var weather = this.model.get('weather') ? this.model.get('weather').attributes: false;
  var mediaTypes = _.uniq(_.pluck(t.medias, 'type'));
%>

<% if (!this.parentView) { %>
  <div class="leftside">
<% } %>

<% if (!this.options.mapless && this.parentView) { %>
  <div class="mini-map" id="tick_map_<%= this.model.id %>"></div>
<% } %>

<div class="tick-inner" data-key="<%= this.model.get('key') %>">
  <% if (this.parentView && this.parentView.model.get('action')) { %>
    <span class="tick-avatar">
      <a href="/<%= t.author.username %>" class="image-anchor navigate">
        <img src="<%= gravatar %>" width="36" height="36" />
      </a>
    </span>
  <% } %>
  <span class="event-timeline-label">
    <% if (t.sent) { %>
      <i class="icon-award"></i>
    <% } else { %>
      <i class="icon-hammer"></i>
    <% } %>
  </span>
  <span class="event-timeline-label-text">
    <% if (t.sent) { %>
      <%= this.model.formatTickDetails(t) %>
    <% } else { %>
      work
    <% } %>
  </span>
  <span class="session-tick-grade">
    <%= this.model.formatTickGrade(t.grade, t.feel) || t.ascent.grades.join(' / ') %>
  </span>
  <% if (t.sent) { %>
    <span class="session-tick-stars">
      <% for (var i=0; i < t.rating||0; ++i) { %>
        <i class="icon-star"></i>
      <% } %>
      <% for (var i=0; i < 3 - t.rating||0; ++i) { %>
        <i class="icon-star empty"></i>
      <% } %>
    </span>
  <% } %>
  <span class="session-tick-name">
    <a href="/crags/<%= t.ascent.key %>" class="navigate">
      <%= t.ascent.name %><%= t.ascent.sector ? ' <span style="font-size:90%;">('
          + t.ascent.sector + ')</span>': '' %></a>
  </span>
  <% if (t.duration || t.performance) { %>
    <span class="session-tick-detail">
      <% if (t.duration) { %>
        <%= this.model.formatActivityDuration(t.duration) %>
      <% } %>
      <% if (t.performance) { %>
        <% if (t.duration) { %>
          <%= ' - ' %>
        <% } %>
        <%= this.model.formatActivityPerformance(t.performance) %>
      <% } %>
    </span>
  <% } %>
  <% if (t.note) { %>
    <p class="session-tick-note">
      &ldquo;<%= t.note %>&rdquo;
    </p>
  <% } %>
  <div class="clear"></div>
  <% if (!this.options.medialess) { %>
    <% if (_.contains(mediaTypes, 'image')) { %>
      <div class="tick-media" data-type="image">
        <span class="event-timeline-label">
          <i class="icon-picture"></i>
        </span>
        <div class="image-mosaic" data-type="image" data-id="<%= t.id %>"></div>
      </div>
    <% } %>
    <% if (_.contains(mediaTypes, 'video')) {
      var vids = _.filter(t.medias, function (m) { return m.type === 'video'; });
      vids = _.uniq(vids, function (v) {
        return v.video.original_id;
      });
      vids = vids.sort(function (a, b) {
        return a.video._index - b.video._index;
      });
      _.each(vids, function (v) { %>
        <div class="tick-media" data-type="video">
          <span class="event-timeline-label">
            <i class="icon-youtube-play"></i>
          </span>
          <div class="image-mosaic" data-type="video" data-id="<%= v.video.original_id %>"></div>
        </div>
      <% }) %>
    <% } %>
    <% _.each(this.model.get('videoEmbeds'), _.bind(function (v) { %>
      <div class="tick-media" data-type="video">
        <span class="event-timeline-label">
          <i class="icon-youtube-play"></i>
        </span>
        <% if (this.parentView && this.parentView.parentView
                && this.parentView.$('.session-ticks').length > 0) { %>
          <iframe src="<%= v.link %>" width="381" height="210"
              frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        <% } else { %>
          <iframe src="<%= v.link %>" width="538" height="303"
              frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        <% } %>
      </div>
    <% }, this)); %>
  <% } %>
  <% if (this.app.profile.member && !this.options.commentless) { %>
    <a href="javascript:;" class="muted hangten">Nod</a>
    <span class="info-divider">&nbsp;&middot;&nbsp;</span>
    <a href="javascript:;" class="muted toggle-comment-input">Comment</a>
    <span class="info-divider">&nbsp;&middot;&nbsp;</span>
  <% } %>
  <% if (this.options.commentless) { %>
    <% if (t.hangtens.length > 0) { %>
      <span class="info-item"><span class="small-hangten"></span> x <%= t.hangtens.length %></a></span>
      <span class="info-divider">&nbsp;&middot;&nbsp;</span>
    <% } %>
    <% if (t.comments.length > 0) { %>
      <span class="info-item"><i class="icon-comment"></i> x <%= t.comments.length %></a></span>
      <span class="info-divider">&nbsp;&middot;&nbsp;</span>
    <% } %>
  <% } %>
  <% if (this.options.medialess && t.medias.length > 0) { %>
    <span class="info-item"><i class="icon-picture"></i> x <%= t.medias.length %></a></span>
    <span class="info-divider">&nbsp;&middot;&nbsp;</span>
  <% } %>
  <% if (own) { %>
    <a href="javascript:;" class="muted tick-edit">Edit</a>
    <span class="info-divider">&nbsp;&middot;&nbsp;</span>
  <% } %>
  <a href="/efforts/<%= this.model.get('key') %>"
      class="muted navigate"><time class="created" 
      datetime="<%= this.model.get('updated') %>" 
      title="<%= this.model.get('updated') %>" 
      id="time_<%= this.model.id %>">
    <%= this.model.get('updated') %>
    </time></a>
</div>
<% if (!this.options.commentless) { %>
  <div class="comments"></div>
<% } %>

<% if (!this.parentView) { %>
  </div>
  <div class="rightside">
    <div class="mini-map" id="tick_map_<%= this.model.id %>"></div>
    <% if (weather && weather.temperatureMin) { %>
      <table class="session-weather">
        <tr>
          <th colspan="2"><i class="icon-temperatire"></i> <%= weather.summary %></th>
        </tr>
        <tr>
          <td>low temp.</td>
          <td><%= this.model.get('weather').tempFtoC(weather.temperatureMin) %>&degC @ <%= new Date(weather.temperatureMinTime * 1000).format('h:MM TT') %></td>
        </tr>
        <tr>
          <td>high temp.</td>
          <td><%= this.model.get('weather').tempFtoC(weather.temperatureMax) %>&degC @ <%= new Date(weather.temperatureMaxTime * 1000).format('h:MM TT') %></td>
        </tr>
        <tr>
          <td>dew point</td>
          <td><%= this.model.get('weather').tempFtoC(weather.dewPoint) %>&degC</td>
        </tr>
        <tr>
          <td>humidity</td>
          <td><%= Math.round(weather.humidity * 100) %>%</td>
        </tr>
        <tr>
          <td>cloud cover</td>
          <td><%= Math.round(weather.cloudCover * 100) %>%</td>
        </tr>
        <tr>
          <td>wind speed</td>
          <td><%= (weather.windSpeed * 3.6).toFixed(1) %> km/hr</td>
        </tr>
        <% if (weather.precipIntensity > 0) { %>
          <tr>
            <td>precip. intensity</td>
            <td><%= weather.precipIntensity %> (<%= weather.precipType %>)</td>
          </tr>
        <% } %>
      </table>
    <% } %>
  </div>
  <div class="clear"></div>
<% } %>
