<%
  var subscribee = this.model.get('subscribee');
  var gradeConverter = this.app.gradeConverter;
  var type = subscribee.type;
  var country = subscribee.country;
  if (subscribee.grades) {
    subscribee.grades = gradeConverter[type].convert(subscribee.grades, country);
  }
%>

<% if (!this.app.profile.content.private) { %>
  <a href="/crags/<%= this.model.get('subscribee').key %>" class="navigate">
    <span class="list-row-title"><%= subscribee.name %>, <span>
        <%= subscribee.crag || subscribee.country %>
      </span>
      <% if (subscribee.grades) { %>
        <%= ' ' %><span style="font-size:90%;">(<%= subscribee.grades.join(', ') %>)</span>
      <% } %>
    </span>
  </a>
  <% if (this.app.profile.member
      && this.app.profile.member.username !== 'island'
      && this.app.profile.member.role !== 2) { %>
    <a href="javascript:;" class="list-button">
      <i class="icon-pencil"></i>
    </a>
  <% } %>
<% } %>
