<%
  var subscribee = this.model.get('subscribee');
%>

<% if (!this.app.profile.content.private) { %>
  <a href="/crags/<%= this.model.get('subscribee').key %>" class="navigate">
    <span class="list-row-title"><%= subscribee.name %><% if (subscribee.grades) { %>
        <%= ' ' + subscribee.grades.join(', ') %><% } %>, <span>
        <%= subscribee.crag || subscribee.country %>
      </span>
    </span>
  </a>
  <a href="javascript:;" class="list-button">
    <i class="icon-pencil"></i>
  </a>
<% } %>
