h1.blog-title
  a(href="/blog/#{post.slug}")
    =post.title
ul.blog-details
  li
    i.icon-calendar 
    =post.date.toLocaleDateString()
  li
    a(href="/#{post.author.username}")
      img(src="https://www.gravatar.com/avatar/" + iutil.hash(post.author.primaryEmail || 'foo@bar.baz') + "?s=16&d=https%3A%2F%2Fs3.amazonaws.com%2Fisland.io%2Favatar_48.png", width="16", height="16")
      =post.author.username
  li
    a(href="/blog/category/#{post.category}")
      i.icon-folder 
      =post.category
.post-body
  p
    != post.content
